{% extends 'base.html.twig' %}

{% block last_post %}
    <section class="bg0 p-t-10 m-t-10">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="news-slider4" class="owl-carousel">
                        {% if app.user %}
                            <div class="post-slide4 mybox-shadow">
                                <div class="post-img">
                                    <a href="">
                                    <img  src="{{ asset('upload/users/' ~ app.user.picture) }} " alt="{{ app.user.fullname }}">
                                    </a>
                                </div>
                                <div class="post-content3">
                        <span class="post-author3 text-center">
                            <a href="{{path('add_tweet')}}">
                                <i class="fas fa-plus" style="font-size: 40px;padding: 12px;color: white"></i>
                            </a>
                        </span>
                                </div>
                                <div class="hashtag">
                                    غرِد الأن
                                </div>
                            </div>
                        {% endif %}
                        {% for tweet in tweets %}
                            <div class="mybox-shadow2 post-slide4">

                                <div class="post-content text-center">
                        <span class=" post-author">
                            <a href="#"><img  src="{{ asset('upload/users/' ~ tweet.user.picture) }} "
                                              alt="{{ tweet.user.fullname }}"></a>
                        </span>

                                    <p class="post-description2">
                                        <a class="clickme how-txt1 mycontent trans-03 cl0 hov-cl10 " href="#" data-toggle="modal" data-target="#fsModal{{ tweet.id }}">
                                            {{ tweet.title }}
                                        </a>
                                    </p>
                                </div>
                            </div>

                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bg0 p-t-0 ">
        <div class="container">
            <h3 class="search-details search-results-box m-b-10" style="text-align: right">التغريدات  :
                <b style="color:black"></b> إجمالي النتائج
                <span style="color:black">{{all_tweets|length}}</span></h3>
            <div class="grid-container ">
                {% for tweet in all_tweets %}
                <div class="grid-item">
                    <div class="mybox-shadow2 post-slide4" style=" background-color: #6c757d">

                        <div class="post-content">
                        <span class="post-author text-center">
                            <a href="#"><img  src="{{ asset('upload/users/' ~ tweet.user.picture) }} "
                                             alt="{{ tweet.user.fullname }}"></a>
                        </span>

                            <p class="post-description2">
                                <a class="clickme how-txt1 mycontent trans-03 cl0 hov-cl10 " href="#" data-toggle="modal" data-target="#all_tweets_Modal{{ tweet.id }}">
                                    {{ tweet.title }}
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

    </section>
    {%  for tweet in tweets %}
        <div id="fsModal{{ tweet.id }}"
             class="modal fade "
             tabindex="-1"
             role="dialog"
             aria-labelledby="myModalLabel"
             aria-hidden="true">

            <!-- dialog -->
            <div class="modal-dialog modal-lg">

                <!-- content -->
                <div class="modal-content">
                    <!-- body -->
                    <div class="modal-body">
                        <section class="bg0  p-rl-0" >
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-10">
                                        <div style="width: 100%;" class="p-t-10 p-l-20">
                                            <div class="progress" style="height: 3px;">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="max-width: 100%">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <button  type="button" onclick="cleartime()" style="float: right" data-dismiss="modal">
                                            <i class="fas fa-times fs-25"></i>
                                        </button>

                                    </div>
                                </div>

                                <div class=" bg-img1 size-a-3-min how1 pos-relative rtl ">
                                    <div class="recipe-card mybox-shadow2" style="text-align:center;background-color:#1B75BB;">

                                        <article class="details_arabic" style="color: white; direction: rtl;height: 90px;margin: 5px;padding: 5px;vertical-align: center">
                                            <div class="row">
                                                <ul >
                                                    <li>
                                                        <a href="{{ path('users_show_public',{'id': tweet.user.id}) }} "></span>
                                                            <img class="icon-user" src=" {{ asset('upload/users/' ~ tweet.user.picture) }} " />

                                                        </a>
                                                    </li>
                                                </ul>

                                            </div>
                                            <div class="container h-100 p-t-20 myp ">
                                                <div class="row h-100 justify-content-center align-items-center">
                                                    <h2 class="p-tb-20 mycontent">
                                                        <div class="mycontent cl0 " >
                                                            <i style="float: right; " class="fas fa-quote-right"></i>
                                                            <br>
                                                            {{ tweet.content[:750]}}
                                                            <br>
                                                            <i style="float: left;" class="fas fa-quote-left"></i>
                                                        </div>
                                                        <br>
                                                        <span style="color: white;float: left" >  {{ tweet.user.fullname }} </span>
                                                        <br>
                                                        <span class="icon " style="color: white;float: left"> {{ tweet.createdAt|date('Y-m-d') }}</span>

                                                    </h2>
                                                </div>
                                            </div>



                                        </article>

                                    </div>
                                </div>

                            </div>
                        </section>

                    </div>

                    <!-- body -->


                </div>
                <!-- content -->

            </div>
            <!-- dialog -->

        </div>
    {% endfor %}
    {%  for tweet in all_tweets %}
        <div id="all_tweets_Modal{{ tweet.id }}"
             class="modal fade "
             tabindex="-1"
             role="dialog"
             aria-labelledby="myModalLabel"
             aria-hidden="true">

            <!-- dialog -->
            <div class="modal-dialog modal-lg">

                <!-- content -->
                <div class="modal-content">
                    <!-- body -->
                    <div class="modal-body">
                        <section class="bg0  p-rl-0" >
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-10">
                                        <div style="width: 100%;" class="p-t-10 p-l-20">
                                            <div class="progress" style="height: 3px;">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="max-width: 100%">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <button  type="button" onclick="cleartime()" style="float: right" data-dismiss="modal">
                                            <i class="fas fa-times fs-25"></i>
                                        </button>

                                    </div>
                                </div>

                                <div class=" bg-img1 size-a-3-min how1 pos-relative rtl ">
                                    <div class="recipe-card mybox-shadow2" style="text-align:center;background-color:#1B75BB;">

                                        <article class="details_arabic" style="color: white; direction: rtl;height: 90px;margin: 5px;padding: 5px;vertical-align: center">
                                            <div class="row">
                                                <ul >
                                                    <li>
                                                        <a href="{{ path('users_show_public',{'id': tweet.user.id}) }} "></span>
                                                            <img class="icon-user" src=" {{ asset('upload/users/' ~ tweet.user.picture) }} " />

                                                        </a>
                                                    </li>
                                                </ul>

                                            </div>
                                            <div class="container h-100 p-t-20 myp ">
                                                <div class="row h-100 justify-content-center align-items-center">
                                                    <h2 class="p-tb-20 mycontent">
                                                        <div class="mycontent cl0 " >
                                                            <i style="float: right; " class="fas fa-quote-right"></i>
                                                            <br>
                                                            {{ tweet.content[:750]}}
                                                            <br>
                                                            <i style="float: left;" class="fas fa-quote-left"></i>
                                                        </div>
                                                        <br>
                                                        <span style="color: white;float: left" >  {{ tweet.user.fullname }} </span>
                                                        <br>
                                                        <span class="icon " style="color: white;float: left"> {{ tweet.createdAt|date('Y-m-d') }}</span>

                                                    </h2>
                                                </div>
                                            </div>



                                        </article>

                                    </div>
                                </div>

                            </div>
                        </section>

                    </div>

                    <!-- body -->


                </div>
                <!-- content -->

            </div>
            <!-- dialog -->

        </div>
    {% endfor %}
{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $("#news-slider4").owlCarousel({
                items: 5,
                itemsDesktop: [1199, 5],
                itemsMobile: [600, 2],
                itemsMobile: [300, 1],
                pagination: false,
                navigation:true,
                autoPlay: false,
                navigationText : ["",""]

            });
        });
    </script>
    <script type="text/javascript">
        var $lba= document.getElementsByClassName('clickme');

        // You nice function:
        function myPopup() {
            t = setTimeout(function() {
                $(".modal").modal('hide');
            }, 20000);

        }
        function cleartime() {
            clearTimeout(t);

        }

        // Assign a click event handler to every element:
        for(var i=0; i<$lba.length; i++) {
            $lba[i].onclick = myPopup;

        }
    </script>

{% endblock %}