{% extends 'base.html.twig' %}

{% block last_post %}
    <h3 class="search-details search-results-box m-rl-150 mrl150" style="text-align: right">المدونون :
        <b style="color:black"></b> إجمالي النتائج
        <span style="color:black">{{users|length}}</span></h3>
    <section class="bg0 p-b-40" style="padding-top: 2%">
        <div class="container">
            <div class="grid-container rtl">
                {% for u in users %}
                    <div class="grid-item">
                        <div id="card">
                            <h1 style="font-size:15px; text-align: center">
                                <div class="container h-100 ">
                                    <div class="row h-100 justify-content-center align-items-center">
                                        <a href="{{ path('users_show_public',{'id': u.id}) }}">{{ u.fullName }}</a>
                                    </div>
                                </div>
                            </h1>
                            <div class="image-crop">
                                <a href="{{ path('users_show_public',{'id': u.id}) }}"><img id="avatar" src="{{ asset('upload/users/' ~ u.picture) }}"/></a>
                            </div>
                            {% if u.facbookLink is not empty  %}
                            <a href="{{ u.facbookLink }}">
                            <div style="width: 40px; height: 40px ; border-radius: 50%;background-color: #1B75BB;margin-bottom: 50px;margin-top: -50px;color: white;margin-right: 45px;position: absolute;text-align: center;padding: 6px;border: 3px solid;">
                                <i class="fab fa-facebook-f"></i>
                            </div>
                            </a>
                            {% endif %}
                            <div id="bio" >
                                <p>
                                    {{ u.fonction }}
                                </p>
                            </div>
                            <div id="stats" >
                                <div class="col">
                                    <p class="stat" data-toggle="tooltip" data-placement="top" title="{{ (u.getCommentsByUser + u.getClicksByUser)|exact_abbr }} وزن تفاعلي ">{{ (u.getCommentsByUser + u.getClicksByUser)|exact_abbr }}</p>
                                    <p class="label">
                                        <i
                                                style="font-size:x-large;background-color:#E6EBEE;color:red;border-radius: 50%; display: inline-block; box-shadow: 0px 0px 2px #888; padding: 0.5em 0.6em;"
                                                class="fas fa-chart-line">
                                        </i>
                                    </p>
                                </div>
                                <div class="col">
                                    <p class="stat"data-toggle="tooltip" data-placement="top" title="{{ u.articles|length }} مقال ">{{ u.articles|length }}</p>
                                    <p class="label"> <i
                                                style="font-size:x-large;background-color:#E6EBEE;color:#393B45;border-radius: 50%; display: inline-block; box-shadow: 0px 0px 2px #888; padding: 0.5em 0.6em;"
                                                class="fas fa-clipboard">
                                        </i></p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>
{% endblock %}