{% extends 'base.html.twig' %}

{% block last_post %}
    <section class="bg0 p-t-10 m-t-20" >

        <div class="container">
            <div class="row justify-content-center" style="text-align: right ;font-size: large">

                <div class="col-md-8 col-lg-8 p-tb-20 m-b-20  mybox-shadow">
                    <div class="container p-t-4 p-b-35">
                        <h1 class="f1-l-1 cl2">
                            إتصل بنا
                        </h1>
                    </div>
                    <div class="p-r-10 p-r-0-sr991"  style="direction: rtl;">
                        {{ form_start(contactForm) }}
                         {{ form_row(contactForm.fullname , { 'attr': { 'class': 'bo-1-rad-3 bocl13 size-a-19 f1-s-13 cl5 plh6 p-rl-18 m-b-20','placeholder':'الاسم*'} }) }}
                        {{ form_row(contactForm.email, { 'attr': { 'class': 'bo-1-rad-3 bocl13 size-a-19 f1-s-13 cl5 plh6 p-rl-18 m-b-20','placeholder':'البريد الالكتروني*'} }) }}
                        {{ form_row(contactForm.message , { 'attr': { 'class': 'bo-1-rad-3 bocl13 f1-s-13 cl5 plh6 p-rl-18 m-b-20','placeholder':'رسالتك*'} }) }}

                            <button  type="submit" class="size-a-20 bg2 borad-3 f1-s-12 cl0 hov-btn1 trans-03 p-rl-15 m-t-20">
                                إرسال
                                <i class="far fa-paper-plane"></i>
                            </button>
                        {{ form_end(contactForm) }}

                    </div>
                </div>

                <!-- Sidebar -->
                <div  class="col-md-4 col-lg-4 p-b-80" >
                    <div style="position: sticky;top:50px;">
                        {% include('_trending.html.twig') %}
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}