{% extends 'base.html.twig' %}

{% block last_post %}
    <!-- Headline -->
    <div class="container">
        <div class="bg0 flex-wr-sb-c p-tb-8">
            <div class="how2 how2-cl7 flex-s-c" style="direction: rtl; width: 100%">
                <div class="container mt-5">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="m-t--40 d-flex justify-content-between align-items-center breaking-news bg-white">
                                <div class="d-flex flex-row flex-grow-1 flex-fill justify-content-center bg-danger py-2 text-white px-1 news"><span class="d-flex align-items-center">&nbsp;أخر الأخبـار </span></div>

                                <div class="onoffswitch3" style="direction: ltr">
                                    <input type="checkbox" name="onoffswitch3" class="onoffswitch3-checkbox" id="myonoffswitch3" checked>
                                    <label class="onoffswitch3-label" for="myonoffswitch3">
                                 <span class="onoffswitch3-inner">
            <span class="onoffswitch3-active fontarabic" style="direction: rtl">
                <marquee class="scroll-text " direction="right" onmouseover="this.stop();" onmouseout="this.start();">
                  {% if lastNews is not empty %}
                      {% for l in lastNews %}
                          {{ l.content }}
                          <span class="dot"></span>


                      {% endfor %}
                  {% endif %}
                      </marquee>
                   </span>
            <span class="onoffswitch3-inactive"><span class="onoffswitch3-switch">SHOW BREAKING NEWS</span></span>
        </span>
                                    </label>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Feature post -->
    <div id="only_mobile" class="container m-tb-20">
        <div class="row">
            <div class="col-md-12">
                <div id="news-slider4" class="owl-carousel">
                    {% for tweet in tweets %}
                        <a  class="clickme how-txt1 f1-m-1 trans-03 cl0 hov-cl10"  href="{{ path('app')}}" data-toggle="modal" data-target="#fsModal{{ tweet.id }}">
                            <img class="icon-user2" style="left: 20px;" src="{{ asset('upload/users/' ~ tweet.user.picture) }} " alt="{{ tweet.title }}">
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <section class="bg0" style="direction: rtl">
        <div class="container">
            <div class="row m-rl--1">
                <div class="col-md-6 p-rl-5 p-b-5 " style="text-align: right; background: none">
                    <div class="bg-img1 size-a-3 how1 pos-relative mybox-shadow">
                        <div class="recipe-card" style="text-align:right">
                            <a href="{% if  main.0 is defined %} {{ path('article_show', {'slug': main.0.slug }) }} {% endif %}">
                            <aside>
                                <img  class="bkimg" src="{% if  main.0 is defined %} {{ main.0.PhotoPath }}{% endif %}" alt="{{main.0.title}}"/>

                                <a href="#"
                                   class="content_arabic tp1 button dis-block how1-child2 f1-s-2 cl0 bo-all-1 bocl0 hov-btn1 trans-03 p-rl-20 p-tb-5 p-t-2"
                                   style="font-size: large">
                                    {% if  main.0 is defined %} {{ main.0.category.name }} {% endif %}
                                </a>

                            </aside>
                            </a>

                            <article>


                                <h2><a class="myh title_arabic cl1 hov-cl10"
                                       href="{% if  main.0 is defined %} {{ path('article_show', {'slug': main.0.slug }) }} "> {{ main.0.title }}{% endif %}</a>
                                </h2>
                                <ul class="details_arabic" style="direction: rtl;padding-bottom:2%">
                                    <li>
                                        <a href="{% if  main.0 is defined and main.0.user is not null %}{{ path('users_show_public',{'id': main.0.user.id}) }} {% endif %}"></span>
                                            <img class="icon-users" src="{% if  main.0 is defined and main.0.user is not null %} {{ asset('upload/users/' ~ main.0.user.picture) }} {% endif %}">
                                        </a>
                                    </li>
                                </ul>
                                <ul class="details_arabic rtl" style="margin-top: -45px;margin-right: 50px">
                                    <span id="author_name"> {% if  main.0 is defined and main.0.user is not null %} {{ main.0.user.fullname }}  {% endif %}</span>
                                    <li><span class="icon"><i
                                                    class="far fa-clock"></i>&nbsp;{% if  main.0 is defined %} {{ main.0.createdAt|date('Y/m/d') }} {% endif %} </span>
                                    </li>
                                    <li><span class="icon"><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;{% if  main.0 is defined %} {{ main.0.clicks }} {% endif %} </span>
                                    </li>
                                    <li><span class="icon"><i class="far fa-comment"
                                                              aria-hidden="true"></i>&nbsp;{% if  main.0 is defined %} {{ main.0.commentsCount }} {% endif %} </span>
                                    </li>
                                </ul>
                            </article>

                        </div>
                    </div>
                </div>

                <div id="only_screen" class="col-md-6 p-rl-1">
                    <div class="row m-rl--1" style="text-align: right">
                        {% if tweets is not empty %}
                        {% for tweet in tweets %}

                        <div class="col-sm-6 p-rl-5 p-b-5 ">
                            <div class="bg-img1 size-a-5-plus how1 pos-relative mybox-shadow">
                                <div class="recipe-card" style="text-align:right;background-color:#1B75BB">

                                    <img class="icon-user " src=" {{ asset('upload/users/' ~ tweet.user.picture) }} " />
                                    <article >
                                        <div class="container h-100 p-t-20">
                                            <div class="row h-100 justify-content-center align-items-center">

                                        <h2><a  class="clickme how-txt1 size-a-5 f1-m-1 trans-03 cl0 hov-cl10"  href="{{ path('app')}}" data-toggle="modal"
                                               data-target="#fsModal{{ tweet.id }}"> {{ tweet.title }}</a></h2>
                                            </div>
                                        </div>
                                    </article>

                                </div>
                            </div>
                        </div>
                       {% endfor %}
                        {% endif %}

                        </div>

                    </div>

            </div>
        </div>
    </section>


    <section class="bg0 p-t-10">
        <div class="container">
            <div class="row justify-content-center">

                    <div class="how2 how2-cl4 flex-s-c p-r-20 m-rl-10 rtl" >

                            <div class="d-flex flex-row flex-grow-1 flex-fill justify-content-center bluecolor py-2 text-white px-1 news"><span class="d-flex align-items-center">&nbsp;مقالات و أخبار مختارة </span></div>

                    </div>
                    <!--  slider  -->
                <div class="container p-t-0">

                    <div id="news-slider"  class="owl-carousel">

                        {% for b in blogs %}
                                <div class="post-slide mybox-shadow" style="text-align: right; direction: rtl">
                                    <div class="post-img">
                                        <a href="{{ path('article_show',{'slug' : b.slug}) }}">
                                            <img src="{{ b.photoPath }}" alt="{{ b.title }}">
                                            <div class="post-date">
                                                <span class="date">{{b.category.name}}</span>

                                            </div>
                                        </a>
                                    </div>
                                    <div class="post-review">
                                        <h2 class="post-title"><a href="{{ path('article_show',{'slug' : b.slug}) }}">
                                                {% if b.title|length >100 %}
                                                    {{ b.title[:100]|split(" ")|slice(0, -1)|join(" ") ~" .."  }}
                                                {% else  %}
                                                    {{ b.title }}
                                                {% endif %}
                                                </a></h2>
                                        <ul class="post-bar">
                                            <li><a href="{{ path('users_show_public',{'id': b.user.id}) }}"><img src="{{ asset('upload/users/' ~ b.user.picture) }}"></a></li>
                                            <li><i class="fa fa-clock"></i>&nbsp;{{ b.createdAt|date('Y/m/d') }}</a></li>
                                            <li><i class="far fa-comment"></i>&nbsp;{{b.commentsCount}}</a></li>
                                            <li><i class="fa fa-eye"></i>&nbsp;{{b.clicks}}</a></li>
                                        </ul>
                                        <p class="post-description">{{ b.content[:150]|split(" ")|slice(0, -1)|join(" ") ~" .."  }}</p>
                                    </div>
                                </div>

                        {% endfor %}

                    </div>
                </div>

            </div>
        </div>



    </section>


    <section class="bg0 p-t-10">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10 col-lg-8" style="direction: rtl">
                    <div class="p-b-0">
                        <!-- Entertainment -->
                        <div class="tab01 p-b-0">
                            <div class="how2 how2-cl4 flex-s-c p-r-20 m-rl-10" style="direction: rtl;">

                                <div class="d-flex flex-row flex-grow-1 flex-fill justify-content-center bluecolor py-2 text-white px-1 news"><span class="d-flex align-items-center">&nbsp;أخبار بالصور </span></div>

                            </div>


                            <!-- Tab panes -->
                            <div class="tab-content p-t-10" style="text-align: right;">
                                <!-- - -->
                                <div class="tab-pane fade show active" id="tab1-1" role="tabpanel">
                                    <div class="row">
                                        <div class="col-sm-6 p-rl-5 ">
                                            <!-- Item post -->
                                            <div class="m-b-30 mybox-shadow" style="direction: rtl">
                                                <div class="embed-responsive MYimg embed-responsive-16by9">
                                                    <iframe class="embed-responsive-item" src="//www.youtube.com/embed/zB4I68XVPzQ" allowfullscreen></iframe>
                                                </div>
                                                <div class="p-tb-16 p-rl-10">
                                                    <h5 class="p-b-5">
                                                        <a href="blog-detail-01.html" class="f1-m-3 cl2 hov-cl10 trans-03">
                                                            {{ contributions.0.title }}
                                                        </a>
                                                    </h5>
                                                    <span class="cl8">
                                     <span class="f1-s-4">
                                     <a href="{{ path('users_show_public',{'id': contributions.0.user.id}) }}"
                                        class="f1-s-4 cl8 hov-cl10 trans-03">
										<img style="width: 25px;height: 25px;border-radius: 50%;background-color: white;border: 1.5px solid #17b978"
                                             src="{{ asset('upload/users/' ~ contributions.0.user.picture) }}">	{{ contributions.0.author }}
                                     </a>
                                      <i class="far fa-clock"></i>&nbsp; {{ contributions.0.createdAt|date('Y/m/d') }} &nbsp;
                                      <i class="fa fa-eye" aria-hidden="true"></i> &nbsp;{{ contributions.0.clicks }} &nbsp;
                                      <i class="far fa-comment" aria-hidden="true"></i>&nbsp; {{contributions.0.commentsCount}}&nbsp;

                                     </span>
                                         </span>
                                                    <br>
                                                    <p style="height: 90px;"> {{ contributions.0.content[:100] }} </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 p-rl-5 ">
                                            <!-- Item post -->
                                            <div class="m-b-30 mybox-shadow" style="direction: rtl">
                                                <div class="embed-responsive MYimg embed-responsive-16by9">
                                                    <iframe class="embed-responsive-item" src="//www.youtube.com/embed/zB4I68XVPzQ" allowfullscreen></iframe>
                                                </div>
                                                <div class="p-tb-16 p-rl-10">
                                                    <h5 class="p-b-5">
                                                        <a href="blog-detail-01.html" class="f1-m-3 cl2 hov-cl10 trans-03">
                                                            {{ contributions.0.title }}
                                                        </a>
                                                    </h5>
                                                    <span class="cl8">
                                     <span class="f1-s-4">
                                     <a href="{{ path('users_show_public',{'id': contributions.0.user.id}) }}"
                                        class="f1-s-4 cl8 hov-cl10 trans-03">
										<img style="padding:3px;width: 25px;height: 25px;border-radius: 50%;background-color: white;border: 1.5px solid #17b978"
                                             src="{{ asset('upload/users/' ~ contributions.0.user.picture) }}">	{{ contributions.0.author }}
                                     </a>
                                      <i class="far fa-clock"></i>&nbsp; {{ contributions.0.createdAt|date('Y/m/d') }} &nbsp;
                                      <i class="fa fa-eye" aria-hidden="true"></i> &nbsp;{{ contributions.0.clicks }} &nbsp;
                                      <i class="far fa-comment" aria-hidden="true"></i>&nbsp; {{contributions.0.commentsCount}}&nbsp;

                                     </span>
                                         </span>
                                                    <br>
                                                    <p style="height: 90px;"> {{ contributions.0.content[:100] }} </p>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-10 col-lg-4 p-b-10">
                {% include('_trending.html.twig') %}
                </div>
            </div>
        </div>
    </section>
    <!-- Latest -->
    <section class="bg0 p-t-0 p-b-10">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10 col-lg-8 p-b-0">
                    <div class="how2 how2-cl4 flex-s-c p-r-20 m-rl-10" style="direction: rtl;">

                        <div class="d-flex flex-row flex-grow-1 flex-fill justify-content-center bluecolor py-2 text-white px-1 news"><span class="d-flex align-items-center">&nbsp;المقالات </span></div>

                    </div>

                    {% include('_contributions.html.twig') %}

                </div>



                <div class="col-md-10 col-lg-4">
                    <div class="p-l-10 p-rl-0-sr991 p-b-20">
                        <!-- users  -->
                        <div class="p-b-15">
                            <div class="how2 how2-cl4 flex-s-c p-r-20 m-rl-10 m-b-15" style="direction: rtl;">

                                <div class="d-flex flex-row flex-grow-1 flex-fill justify-content-center bluecolor py-2 text-white px-1 news"><span class="d-flex align-items-center">&nbsp;المدونون </span></div>

                            </div>
                            <div class="row" style="direction: rtl" >

                                    <div class="list list-row block mybox-shadow" style="direction: rtl">

                                        {% for u in users %}
                                            <div class="list-item ">
                                                <div>
                                                    <a href="{{ path('users_show_public',{'id': u.id}) }}" >
                                                        <img class="w-48 avatar gd-warning"
                                                             src="{{ asset('upload/users/' ~ u.picture) }}">
                                                    </a>
                                                </div>
                                                <div class="row" style="display: inline-flex;align-items:center">
                                                <div class="col-md-12 "style="text-align: right">
                                                    <a href="{{ path('users_show_public',{'id': u.id}) }}" class="content_arabic item-author text-color " data-abc="true">
                                                        {{ u.fullName }}
                                                    </a>
                                                </div>
                                                <div style="text-align: right">
                                                    <div class="item-date text-muted text-sm  d-md-block">
                                                        <div class="post-meta d-flex justify-content-between">
                                                            <ul style="display: inline-block">
                                                                <li><span class="icon"><i
                                                                                class="fas fa-paste"></i></span><span> &nbsp; {{ u.articles|length }} </span>
                                                                </li>
                                                                <li><span class="icon"><i class="fa fa-eye"
                                                                                          aria-hidden="true"></i></span><span>&nbsp; {{ u.getClicksByUser }} </span>
                                                                </li>
                                                                <li><span class="icon"><i class="far fa-comment"
                                                                                          aria-hidden="true"></i></span><span>&nbsp; {{ u.getCommentsByUser }} </span>
                                                                </li>
                                                            </ul>

                                                        </div>
                                                    </div>
                                                </div>
                                                </div>
                                            </div>

                                        {% endfor %}
                                        <a href="{{ path('users_list') }}" style=" margin-left:5%;font-size: larger">
                                            مشاهدة الكل <i class="fas fa-angle-double-left"> </i>
                                        </a>
                                    </div>

                            </div>
                        </div>
                        <!-- Tag -->
                        <div class="p-b-10">
                            <div class="how2 how2-cl4 flex-s-c p-r-20 m-rl-10 m-b-10" style="direction: rtl;">

                                <div class="d-flex flex-row flex-grow-1 flex-fill justify-content-center bluecolor py-2 text-white px-1 news"><span class="d-flex align-items-center">&nbsp;
                                     البحث بالكلمات المفتاحية
                                        &nbsp;&nbsp;
                                    <i class="fas fa-search"></i>
                                    </span></div>

                            </div>

                            <div class="flex-wr-s-s m-rl--5" style="direction: rtl;font-size: large">

                                {%  if tags|length > 6 %}

                                    {% for t in tags|slice(tags|length - 7 ,tags|length)  %}
                                        <a href="{{ path('tag_list',{'keyWord':t}) }}"
                                           class="flex-c-c bo-1-rad-20 bocl12 f1-s-1 cl8 hov-btn2 trans-03 p-rl-20 p-tb-5 m-all-5">
                                            {{t}}
                                        </a>
                                    {% endfor %}
                                    {% else %}

                               {% for t in tags  %}
                                <a href="{{ path('tag_list',{'keyWord':t}) }}"
                                   class="flex-c-c size-h-2 bo-1-rad-20 bocl12 f1-s-1 cl8 hov-btn2 trans-03 p-rl-20 p-tb-5 m-all-5"
                                   style="font-size: large">
                                    {{t}}
                                </a>
                              {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    {%  for tweet in tweets %}
    <div id="fsModal{{ tweet.id }}"
         class="modal fade "
         tabindex="-1"
         role="dialog"
         aria-labelledby="myModalLabel"
         aria-hidden="true">

        <!-- dialog -->
        <div class="modal-dialog modal-lg">

            <!-- content -->
            <div class="modal-content">
                <!-- body -->
                <div class="modal-body">
                    <section class="bg0  p-rl-0" >
                        <div class="container">
                                    <div style="width: 100%;" >
                                        <div class="progress" style="height: 3px;">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="max-width: 100%">

                                            </div>
                                        </div>
                                    </div>
                                    <button   type="button" onclick="cleartime()" style="float: right" data-dismiss="modal">
                                        <i class="fas fa-times fs-25"></i>
                                    </button>

                            <div class=" m-t-25 bg-img1 size-a-3-min how1 pos-relative rtl ">
                                        <div class="recipe-card mybox-shadow2" style="text-align:center;background-color:#1B75BB;">

                                            <article class="details_arabic" style="color: white; direction: rtl;height: 90px;margin: 5px;padding: 5px;vertical-align: center">
                                              <div class="row">
                                                  <ul >
                                                      <li>
                                                          <a href="{{ path('users_show_public',{'id': tweet.user.id}) }} "></span>
                                                              <img class="icon-user" src=" {{ asset('upload/users/' ~ tweet.user.picture) }} " />

                                                          </a>
                                                      </li>
                                                  </ul>

                                              </div>
                                                <div class="container h-100 p-t-20 myp ">
                                                    <div class="row h-100 justify-content-center align-items-center">
                                                        <h2 class="p-tb-20 mycontent">
                                                            <div class="mycontent cl0 " >
                                                                <i style="float: right; " class="fas fa-quote-right"></i>
                                                                <br>
                                                                {{ tweet.content[:750]}}
                                                                <br>
                                                                <i style="float: left;" class="fas fa-quote-left"></i>
                                                            </div>
                                                            <br>
                                                            <span style="color: white;float: left" >  {{ tweet.user.fullname }} </span>
                                                            <br>
                                                            <span class="icon " style="color: white;float: left"> {{ tweet.createdAt|date('Y-m-d') }}</span>

                                                        </h2>
                                                    </div>
                                                </div>



                                            </article>

                                        </div>
                                </div>

                        </div>
                    </section>

                </div>

                <!-- body -->


            </div>
            <!-- content -->

        </div>
        <!-- dialog -->

    </div>
    {% endfor %}

    <!-- modal -->

{% endblock %}
 {% block javascripts %}
     {{parent()}}
     <script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-advanced-news-ticker/1.0.1/js/newsTicker.min.js"></script>
     <script src={{ asset('assets/js/multislider.min.js') }}></script>
     <script type="text/javascript">
         /*
         $('#basicSlider').multislider({
             continuous: true,
             duration: 2000
         });
         $('#mixedSlider').multislider({
             duration: 750,
             interval: 3000
         });

          */
     </script>

     <script type="text/javascript">
         $(document).ready(function() {
             $("#news-slider").owlCarousel({
                 items: 2,
                 itemsDesktop: [1199, 2],
                 itemsMobile: [600, 1],
                 pagination: false,
                 navigation: true,
                 autoPlay: true,
                 navigationText : ["",""]
             });
         });
     </script>
     <script type="text/javascript">
         $(document).ready(function() {
             $("#news-slider4").owlCarousel({
                 items: 2,
                 itemsDesktop: [1199, 2],
                 itemsMobile: [600, 4],
                 pagination: false,
                 navigation:false,
                 autoPlay: true,
                 navigationText : ["",""]

             });
         });
     </script>
     <script type="text/javascript">
         var $lba= document.getElementsByClassName('clickme');

         // You nice function:
         function myPopup() {
          t = setTimeout(function() {
                 $(".modal").modal('hide');
             }, 20000);

         }
         function cleartime() {
             clearTimeout(t);

         }
         function pausetime() {
             cleartime(t);
         }
         // Assign a click event handler to every element:
         for(var i=0; i<$lba.length; i++) {
             $lba[i].onclick = myPopup;

         }
     </script>

 {% endblock %}
