{% extends 'base.html.twig' %}

{% block last_post %}
    <section class="bg0 p-t-10 m-t-20" >

        <div class="container">
            <div class="row justify-content-center" style="text-align: right ;font-size: large">

                <div class="col-md-8 col-lg-8 p-b-30 mybox-shadow">
                    <div class="p-r-10 p-r-0-sr991"  style="direction: rtl;">

                        <div id="md_en" data-target="out_en" class="agreement_md">
                            <h1 class="f1-l-1 cl2">
                                سياسة الخصوصية
                            </h1>
                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">آخر تحديث: 20 مايو 2020</font></font></p>
                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">تصف سياسة الخصوصية هذه سياساتنا وإجراءاتنا بشأن جمع معلوماتك واستخدامها والكشف عنها عند استخدامك للخدمة وتخبرك بحقوق الخصوصية وكيف يحميك القانون.</font></font></p>
                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">نستخدم بياناتك الشخصية لتقديم وتحسين الخدمة. </font><font style="vertical-align: inherit;">باستخدام الخدمة ، فإنك توافق على جمع المعلومات واستخدامها وفقًا لسياسة الخصوصية هذه. </font><font style="vertical-align: inherit;">تم إنشاء سياسة الخصوصية هذه بمساعدة </font></font><a href="https://www.termsfeed.com/privacy-policy-generator/" target="_blank"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">منشئ سياسة الخصوصية</font></font></a><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> .</font></font></p>
                            <h1><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">التفسير والتعاريف</font></font></h1>
                            <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ترجمة</font></font></h2>
                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">الكلمات التي يتم كتابة الحرف الأول منها بحروف كبيرة لها معاني محددة تحت الشروط التالية. </font><font style="vertical-align: inherit;">يكون للتعاريف التالية نفس المعنى بغض النظر عما إذا كانت تظهر بصيغة المفرد أو بصيغة الجمع.</font></font></p>
                            <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">تعريفات</font></font></h2>
                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">لأغراض سياسة الخصوصية هذه:</font></font></p>
                            <ul>
                                <li>
                                    <p><strong><font style="vertical-align: inherit;"></font></strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">تعني </font><strong><font style="vertical-align: inherit;">أنت</font></strong><font style="vertical-align: inherit;"> الشخص الذي يصل إلى الخدمة أو يستخدمها ، أو الشركة ، أو أي كيان قانوني آخر يصل نيابة عنه أو يستخدم الخدمة ، حسب الاقتضاء.</font></font></p>
                                </li>
                                <li>
                                    <p><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">تشير الشركة</font></font></strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> (المشار إليها باسم "الشركة" أو "نحن" أو "نحن" أو "الخاصة بنا" في هذه الاتفاقية) إلى الحدرة.</font></font></p>
                                </li>
                                <li>
                                    <p><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">الشريك</font></font></strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> يعني كيان يتحكم أو يتحكم فيه أو يخضع لسيطرة مشتركة مع طرف ، حيث تعني "السيطرة" ملكية 50٪ أو أكثر من الأسهم أو حقوق الملكية أو الأوراق المالية الأخرى التي يحق لها التصويت لانتخاب أعضاء مجلس الإدارة أو السلطة الإدارية الأخرى .</font></font></p>
                                </li>
                                <li>
                                    <p><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">الحساب</font></font></strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> يعني حسابًا فريدًا تم إنشاؤه لك للوصول إلى خدمتنا أو أجزاء من خدمتنا.</font></font></p>
                                </li>
                                <li>
                                    <p><strong><font style="vertical-align: inherit;"></font></strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">يشير </font><strong><font style="vertical-align: inherit;">الموقع الإلكتروني</font></strong><font style="vertical-align: inherit;"> إلى haddra ، ويمكن الوصول إليه من </font></font><a href="http://www.haddra.com" rel="external nofollow noopener" target="_blank"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">http://www.haddra.com</font></font></a></p>
                                </li>
                                <li>
                                    <p><strong><font style="vertical-align: inherit;"></font></strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">تشير </font><strong><font style="vertical-align: inherit;">الخدمة</font></strong><font style="vertical-align: inherit;"> إلى الموقع.</font></font></p>
                                </li>
                                <li>
                                    <p><strong><font style="vertical-align: inherit;"></font></strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">تشير </font><strong><font style="vertical-align: inherit;">الدولة</font></strong><font style="vertical-align: inherit;"> إلى: الجزائر</font></font></p>
                                </li>
                                <li>
                                    <p><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">مقدم الخدمة</font></font></strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> يعني أي شخص طبيعي أو اعتباري يقوم بمعالجة البيانات نيابة عن الشركة. </font><font style="vertical-align: inherit;">يشير إلى شركات الطرف الثالث أو الأفراد الذين تستخدمهم الشركة لتسهيل الخدمة أو لتقديم الخدمة نيابة عن الشركة أو لأداء الخدمات المتعلقة بالخدمة أو لمساعدة الشركة في تحليل كيفية استخدام الخدمة.</font></font></p>
                                </li>
                                <li>
                                    <p><strong><font style="vertical-align: inherit;"></font></strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">تشير </font><strong><font style="vertical-align: inherit;">خدمة الوسائط الاجتماعية التابعة لجهة خارجية</font></strong><font style="vertical-align: inherit;"> إلى أي موقع ويب أو أي موقع شبكة اجتماعية يمكن للمستخدم من خلاله تسجيل الدخول أو إنشاء حساب لاستخدام الخدمة.</font></font></p>
                                </li>
                                <li>
                                    <p><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">البيانات الشخصية</font></font></strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> هي أي معلومات تتعلق بشخص محدد أو يمكن تحديده.</font></font></p>
                                </li>
                                <li>
                                    <p><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ملفات تعريف الارتباط</font></font></strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> هي ملفات صغيرة يتم وضعها على جهاز الكمبيوتر أو الجهاز المحمول أو أي جهاز آخر بواسطة موقع ويب ، وتحتوي على تفاصيل سجل التصفح الخاص بك على موقع الويب هذا من بين الاستخدامات العديدة.</font></font></p>
                                </li>
                                <li>
                                    <p><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">جهاز</font></font></strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> يعني أي جهاز يمكن الوصول إلى خدمة مثل الكمبيوتر، والهاتف المحمول أو قرص رقمي.</font></font></p>
                                </li>
                                <li>
                                    <p><strong><font style="vertical-align: inherit;"></font></strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">تشير </font><strong><font style="vertical-align: inherit;">بيانات الاستخدام</font></strong><font style="vertical-align: inherit;"> إلى البيانات التي يتم جمعها تلقائيًا ، إما الناتجة عن استخدام الخدمة أو من البنية التحتية للخدمة نفسها (على سبيل المثال ، مدة زيارة الصفحة).</font></font></p>
                                </li>
                            </ul>
                            <h1><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">جمع واستخدام بياناتك الشخصية</font></font></h1>
                            <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">أنواع البيانات التي تم جمعها</font></font></h2>
                            <h3><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">بيانات شخصية</font></font></h3>
                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">أثناء استخدام خدمتنا ، قد نطلب منك تزويدنا بمعلومات شخصية معينة يمكن استخدامها للاتصال بك أو التعرف عليك. </font><font style="vertical-align: inherit;">قد تتضمن معلومات التعريف الشخصية ، على سبيل المثال لا الحصر:</font></font></p>
                            <ul>
                                <li>
                                    <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">عنوان بريد الكتروني</font></font></p>
                                </li>
                                <li>
                                    <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">الاسم الأول واسم العائلة</font></font></p>
                                </li>
                                <li>
                                    <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">بيانات الاستخدام</font></font></p>
                                </li>
                            </ul>
                            <h3><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">بيانات الاستخدام</font></font></h3>
                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">يتم جمع بيانات الاستخدام تلقائيًا عند استخدام الخدمة.</font></font></p>
                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">قد تتضمن بيانات الاستخدام معلومات مثل عنوان بروتوكول الإنترنت الخاص بجهازك (مثل عنوان IP) ، ونوع المتصفح ، وإصدار المتصفح ، وصفحات خدمتنا التي تزورها ، ووقت وتاريخ زيارتك ، والوقت الذي تقضيه في تلك الصفحات ، وجهاز فريد المعرّفات والبيانات التشخيصية الأخرى.</font></font></p>
                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">عند الوصول إلى الخدمة بواسطة جهاز محمول أو من خلاله ، يجوز لنا جمع معلومات معينة تلقائيًا ، بما في ذلك على سبيل المثال لا الحصر ، نوع الجهاز المحمول الذي تستخدمه ، والمعرف الفريد لجهازك المحمول ، وعنوان IP لجهازك المحمول ، وهاتفك المحمول نظام التشغيل ، ونوع متصفح الإنترنت للجوال الذي تستخدمه ، ومعرفات الجهاز الفريدة ، وبيانات التشخيص الأخرى.</font></font></p>
                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">قد نقوم أيضًا بجمع المعلومات التي يرسلها متصفحك كلما زرت خدمتنا أو عندما تصل إلى الخدمة بواسطة أو من خلال جهاز محمول.</font></font></p>
                            <h3><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">تقنيات التتبع وملفات تعريف الارتباط</font></font></h3>
                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">نحن نستخدم ملفات تعريف الارتباط وتقنيات التتبع المماثلة لتتبع النشاط على خدمتنا وتخزين معلومات معينة. </font><font style="vertical-align: inherit;">تقنيات التتبع المستخدمة هي منارات وعلامات ونصوص لجمع المعلومات وتتبعها ولتحسين خدمتنا وتحليلها.</font></font></p>
                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">يمكنك توجيه متصفحك لرفض جميع ملفات تعريف الارتباط أو للإشارة إلى وقت إرسال ملف تعريف الارتباط. </font><font style="vertical-align: inherit;">ومع ذلك ، إذا كنت لا تقبل ملفات تعريف الارتباط ، فقد لا تتمكن من استخدام بعض أجزاء خدمتنا.</font></font></p>
                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">يمكن أن تكون ملفات تعريف الارتباط ملفات تعريف ارتباط "مستمرة" أو "جلسة عمل". </font><font style="vertical-align: inherit;">تظل ملفات تعريف الارتباط الدائمة على جهاز الكمبيوتر الشخصي أو الجهاز المحمول الخاص بك عندما تكون غير متصل ، بينما يتم حذف ملفات تعريف ارتباط الجلسة بمجرد إغلاق متصفح الويب الخاص بك. </font><font style="vertical-align: inherit;">تعرف على المزيد حول ملفات تعريف الارتباط: </font></font><a href="https://www.termsfeed.com/blog/cookies/" target="_blank"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">كل شيء عن ملفات تعريف الارتباط</font></font></a><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> .</font></font></p>
                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">نستخدم كلا من ملفات تعريف الارتباط للجلسة والدائمة للأغراض المبينة أدناه:</font></font></p>
                            <ul>
                                <li>
                                    <p><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ملفات تعريف الارتباط الضرورية / الأساسية</font></font></strong></p>
                                    <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">النوع: ملفات تعريف ارتباط الجلسة</font></font></p>
                                    <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">تحت إدارة: Us</font></font></p>
                                    <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">الغرض: ملفات تعريف الارتباط هذه ضرورية لتزويدك بالخدمات المتاحة من خلال الموقع الإلكتروني ولتمكينك من استخدام بعض ميزاته. </font><font style="vertical-align: inherit;">فهي تساعد في مصادقة المستخدمين ومنع الاستخدام الاحتيالي لحسابات المستخدمين. </font><font style="vertical-align: inherit;">بدون ملفات تعريف الارتباط هذه ، لا يمكن توفير الخدمات التي طلبتها ، ونحن نستخدم ملفات تعريف الارتباط هذه فقط لتزويدك بهذه الخدمات.</font></font></p>
                                </li>
                                <li>
                                    <p><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">سياسة ملفات تعريف الارتباط / إشعار قبول ملفات تعريف الارتباط</font></font></strong></p>
                                    <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">النوع: ملفات تعريف الارتباط الدائمة</font></font></p>
                                    <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">تحت إدارة: Us</font></font></p>
                                    <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">الغرض: تحدد ملفات تعريف الارتباط هذه ما إذا كان المستخدمون قد قبلوا استخدام ملفات تعريف الارتباط على موقع الويب.</font></font></p>
                                </li>
                                <li>
                                    <p><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ملفات تعريف الارتباط الوظيفية</font></font></strong></p>
                                    <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">النوع: ملفات تعريف الارتباط الدائمة</font></font></p>
                                    <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">تحت إدارة: Us</font></font></p>
                                    <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">الغرض: تسمح لنا ملفات تعريف الارتباط هذه بتذكر الخيارات التي تقوم بها عند استخدام موقع الويب ، مثل تذكر تفاصيل تسجيل الدخول أو تفضيلات اللغة. </font><font style="vertical-align: inherit;">الغرض من ملفات تعريف الارتباط هذه هو تزويدك بتجربة شخصية أكثر وتجنب الاضطرار إلى إعادة إدخال تفضيلاتك في كل مرة تستخدم فيها موقع الويب.</font></font></p>
                                </li>
                            </ul>
                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">لمزيد من المعلومات حول ملفات تعريف الارتباط التي نستخدمها واختياراتك فيما يتعلق بملفات تعريف الارتباط ، يرجى زيارة سياسة ملفات تعريف الارتباط الخاصة بنا أو قسم ملفات تعريف الارتباط في سياسة الخصوصية الخاصة بنا.</font></font></p>
                            <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">استخدام بياناتك الشخصية</font></font></h2>
                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">يجوز للشركة استخدام البيانات الشخصية للأغراض التالية:</font></font></p>
                            <ul>
                                <li><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">لتوفير خدمتنا والحفاظ عليها</font></font></strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> ، بما في ذلك مراقبة استخدام خدمتنا.</font></font></li>
                                <li><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">لإدارة حسابك:</font></font></strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> لإدارة تسجيلك كمستخدم للخدمة. </font><font style="vertical-align: inherit;">يمكن أن تمنحك البيانات الشخصية التي تقدمها إمكانية الوصول إلى الوظائف المختلفة للخدمة المتاحة لك كمستخدم مسجل.</font></font></li>
                                <li><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">لأداء عقد:</font></font></strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> تطوير ، والامتثال والالتزام بعقد شراء المنتجات أو العناصر أو الخدمات التي قمت بشرائها أو أي عقد آخر معنا من خلال الخدمة.</font></font></li>
                                <li><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">للاتصال بك:</font></font></strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> للاتصال بك عن طريق البريد الإلكتروني ، أو المكالمات الهاتفية ، أو الرسائل القصيرة ، أو غيرها من أشكال الاتصال الإلكتروني المكافئة ، مثل الإخطارات الفورية لتطبيق الهاتف المحمول فيما يتعلق بالتحديثات أو الاتصالات الإعلامية المتعلقة بالوظائف أو المنتجات أو الخدمات المتعاقد عليها ، بما في ذلك التحديثات الأمنية ، عند الضرورة أو معقولة لتنفيذها.</font></font></li>
                                <li><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">لتزويدك</font></font></strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> بالأخبار والعروض الخاصة والمعلومات العامة حول السلع والخدمات والأحداث الأخرى التي نقدمها والتي تشبه تلك التي اشتريتها بالفعل أو استفسرت عنها إلا إذا اخترت عدم تلقي هذه المعلومات.</font></font></li>
                                <li><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">لإدارة طلباتك:</font></font></strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> لحضور وإدارة طلباتك لنا.</font></font></li>
                            </ul>
                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">قد نشارك معلوماتك الشخصية في الحالات التالية:</font></font></p>
                            <ul>
                                <li><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">مع مزودي الخدمة:</font></font></strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> قد نشارك معلوماتك الشخصية مع مزودي الخدمة لمراقبة وتحليل استخدام خدمتنا ، للاتصال بك.</font></font></li>
                                <li><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">بالنسبة لعمليات نقل الأعمال:</font></font></strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> يجوز لنا مشاركة معلوماتك الشخصية أو نقلها فيما يتعلق بأي اندماج أو بيع لأصول الشركة أو تمويل أو شراء جميع أعمالنا أو جزء منها إلى شركة أخرى أو أثناء المفاوضات بشأنها.</font></font></li>
                                <li><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">مع الشركات التابعة:</font></font></strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> قد نشارك معلوماتك مع الشركات التابعة لنا ، وفي هذه الحالة سنطلب من تلك الشركات التابعة احترام سياسة الخصوصية هذه. </font><font style="vertical-align: inherit;">تشمل الشركات التابعة شركتنا الأم وأي شركات فرعية أخرى أو شركاء في المشاريع المشتركة أو شركات أخرى نسيطر عليها أو تخضع لسيطرة مشتركة معنا.</font></font></li>
                                <li><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">مع شركاء الأعمال:</font></font></strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> قد نشارك معلوماتك مع شركائنا التجاريين لنقدم لك منتجات أو خدمات أو عروض ترويجية معينة.</font></font></li>
                                <li><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">مع المستخدمين الآخرين:</font></font></strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> عندما تشارك معلومات شخصية أو تتفاعل بطريقة أخرى في المناطق العامة مع مستخدمين آخرين ، فقد يتم عرض هذه المعلومات من قبل جميع المستخدمين وقد يتم توزيعها علنًا في الخارج. </font><font style="vertical-align: inherit;">إذا كنت تتفاعل مع مستخدمين آخرين أو قمت بالتسجيل من خلال خدمة وسائل التواصل الاجتماعي التابعة لجهة خارجية ، فقد ترى جهات الاتصال الخاصة بك على خدمة الوسائط الاجتماعية التابعة لجهة خارجية اسمك وملفك الشخصي وصورتك ووصف نشاطك. </font><font style="vertical-align: inherit;">وبالمثل ، سيتمكن المستخدمون الآخرون من عرض أوصاف نشاطك والتواصل معك وعرض ملفك الشخصي.</font></font></li>
                            </ul>
                            <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">الاحتفاظ ببياناتك الشخصية</font></font></h2>
                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ستحتفظ الشركة ببياناتك الشخصية فقط طالما كان ذلك ضروريًا للأغراض المنصوص عليها في سياسة الخصوصية هذه. </font><font style="vertical-align: inherit;">سنحتفظ ببياناتك الشخصية ونستخدمها بالقدر اللازم للامتثال لالتزاماتنا القانونية (على سبيل المثال ، إذا كان مطلوبًا منا الاحتفاظ ببياناتك للامتثال للقوانين المعمول بها) ، وحل النزاعات ، وإنفاذ اتفاقياتنا وسياساتنا القانونية.</font></font></p>
                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ستحتفظ الشركة أيضًا ببيانات الاستخدام لأغراض التحليل الداخلي. </font><font style="vertical-align: inherit;">يتم الاحتفاظ ببيانات الاستخدام بشكل عام لفترة زمنية أقصر ، باستثناء عندما يتم استخدام هذه البيانات لتعزيز الأمان أو لتحسين وظائف خدمتنا ، أو نحن ملزمون قانونًا بالاحتفاظ بهذه البيانات لفترات زمنية أطول.</font></font></p>
                            <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">نقل بياناتك الشخصية</font></font></h2>
                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">تتم معالجة معلوماتك ، بما في ذلك البيانات الشخصية ، في مكاتب تشغيل الشركة وفي أي أماكن أخرى حيث توجد الأطراف المشاركة في المعالجة. </font><font style="vertical-align: inherit;">وهذا يعني أنه قد يتم نقل هذه المعلومات إلى أجهزة الكمبيوتر الموجودة خارج ولايتك أو مقاطعتك أو بلدك أو أي جهة حكومية أخرى حيث قد تختلف قوانين حماية البيانات عن تلك الموجودة في نطاق سلطتك.</font></font></p>
                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">إن موافقتك على سياسة الخصوصية هذه متبوعة بتقديمك لهذه المعلومات تمثل موافقتك على هذا النقل.</font></font></p>
                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ستتخذ الشركة جميع الخطوات اللازمة بشكل معقول لضمان معالجة بياناتك بشكل آمن ووفقًا لسياسة الخصوصية هذه ولن يتم نقل بياناتك الشخصية إلى منظمة أو بلد ما لم تكن هناك ضوابط كافية في مكانها بما في ذلك أمن بياناتك والمعلومات الشخصية الأخرى.</font></font></p>
                            <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">إفشاء بياناتك الشخصية</font></font></h2>
                            <h3><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">المعاملات التجارية</font></font></h3>
                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">إذا كانت الشركة متورطة في عملية اندماج أو شراء أو بيع أصول ، فقد يتم نقل بياناتك الشخصية. </font><font style="vertical-align: inherit;">سنقدم إشعارًا قبل نقل بياناتك الشخصية ويخضع لسياسة خصوصية مختلفة.</font></font></p>
                            <h3><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">تطبيق القانون</font></font></h3>
                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">في ظل ظروف معينة ، قد يُطلب من الشركة الكشف عن بياناتك الشخصية إذا كان ذلك مطلوبًا بموجب القانون أو استجابة للطلبات الصالحة من السلطات العامة (على سبيل المثال ، محكمة أو وكالة حكومية).</font></font></p>
                            <h3><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">المتطلبات القانونية الأخرى</font></font></h3>
                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">يجوز للشركة أن تكشف عن بياناتك الشخصية بحسن نية أن هذا الإجراء ضروري من أجل:</font></font></p>
                            <ul>
                                <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">الامتثال لالتزام قانوني</font></font></li>
                                <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">حماية والدفاع عن حقوق أو ممتلكات الشركة</font></font></li>
                                <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">منع أو التحقيق في أي مخالفات محتملة تتعلق بالخدمة</font></font></li>
                                <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">حماية السلامة الشخصية لمستخدمي الخدمة أو الجمهور</font></font></li>
                                <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">حماية ضد المسؤولية القانونية</font></font></li>
                            </ul>
                            <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">أمن بياناتك الشخصية</font></font></h2>
                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">إن أمان بياناتك الشخصية مهم بالنسبة لنا ، ولكن تذكر أنه لا توجد طريقة نقل عبر الإنترنت ، أو طريقة تخزين إلكترونية آمنة بنسبة 100٪. </font><font style="vertical-align: inherit;">بينما نسعى جاهدين لاستخدام وسائل مقبولة تجاريًا لحماية بياناتك الشخصية ، لا يمكننا ضمان أمانها المطلق.</font></font></p>
                            <h1><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">حقوق الخصوصية الخاصة بك في كاليفورنيا (قانون Shine the Light في كاليفورنيا)</font></font></h1>
                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">بموجب القسم 1798 من القانون المدني لولاية كاليفورنيا (قانون Shine the Light في كاليفورنيا) ، يمكن للمقيمين في كاليفورنيا ممن لهم علاقة عمل راسخة معنا طلب معلومات مرة واحدة سنويًا حول مشاركة بياناتهم الشخصية مع أطراف ثالثة لأغراض التسويق المباشر للجهات الخارجية.</font></font></p>
                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">إذا كنت ترغب في طلب المزيد من المعلومات بموجب قانون California Shine the Light ، وإذا كنت مقيمًا في كاليفورنيا ، فيمكنك الاتصال بنا باستخدام معلومات الاتصال المقدمة أدناه.</font></font></p>
                            <h1><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">حقوق خصوصية ولاية كاليفورنيا للمستخدمين القصر (قانون الأعمال والمهن في ولاية كاليفورنيا ، القسم 22581)</font></font></h1>
                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">يسمح القسم 22581 من قانون الأعمال والمهن في كاليفورنيا للمقيمين في كاليفورنيا الذين تقل أعمارهم عن 18 عامًا والمستخدمين المسجلين للمواقع أو الخدمات أو التطبيقات عبر الإنترنت بطلب إزالة المحتوى أو المعلومات التي نشروها علنًا والحصول عليها.</font></font></p>
                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">لطلب إزالة هذه البيانات ، وإذا كنت مقيمًا في كاليفورنيا ، فيمكنك الاتصال بنا باستخدام معلومات الاتصال الواردة أدناه ، وتضمين عنوان البريد الإلكتروني المرتبط بحسابك.</font></font></p>
                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">اعلم أن طلبك لا يضمن الإزالة الكاملة أو الشاملة للمحتوى أو المعلومات المنشورة على الإنترنت وأن القانون قد لا يسمح أو يطلب الإزالة في ظروف معينة.</font></font></p>
                            <h1><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">روابط لمواقع أخرى</font></font></h1>
                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">قد تحتوي خدمتنا على روابط لمواقع أخرى لا يتم تشغيلها من قبلنا. </font><font style="vertical-align: inherit;">إذا قمت بالنقر فوق ارتباط جهة خارجية ، فسيتم توجيهك إلى موقع الطرف الثالث هذا. </font><font style="vertical-align: inherit;">ننصحك بشدة بمراجعة سياسة الخصوصية لكل موقع تزوره.</font></font></p>
                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">لا نتحكم ولا نتحمل أي مسؤولية عن المحتوى أو سياسات الخصوصية أو الممارسات الخاصة بأي مواقع أو خدمات خاصة بطرف ثالث.</font></font></p>
                            <h1><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">التغييرات على سياسة الخصوصية هذه</font></font></h1>
                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">قد نقوم بتحديث سياسة الخصوصية الخاصة بنا من وقت لآخر. </font><font style="vertical-align: inherit;">سنقوم بإعلامك بأي تغييرات عن طريق نشر سياسة الخصوصية الجديدة على هذه الصفحة.</font></font></p>
                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">سنخبرك عبر البريد الإلكتروني و / أو إشعارًا بارزًا على خدمتنا ، قبل أن يصبح التغيير ساريًا ، وقم بتحديث تاريخ "آخر تحديث" في أعلى سياسة الخصوصية هذه.</font></font></p>
                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ننصحك بمراجعة سياسة الخصوصية هذه بشكل دوري لأية تغييرات. </font><font style="vertical-align: inherit;">تسري التغييرات على سياسة الخصوصية هذه عندما يتم نشرها على هذه الصفحة.</font></font></p>
                            <h1><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">اتصل بنا</font></font></h1>
                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">إذا كان لديك أي أسئلة حول سياسة الخصوصية هذه ، يمكنك الاتصال بنا:</font></font></p>
                            <ul>
                                <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">بزيارة هذه الصفحة على موقعنا: </font></font><a href="http://www.haddra.com/contac" rel="external nofollow noopener" target="_blank"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">http://www.haddra.com/contac</font></font></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Sidebar -->
                <div  class="col-md-4 col-lg-4 p-b-80" >
                    <div style="position: sticky;top:50px;">
                        {% include('_trending.html.twig') %}
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}