<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" href="{{ asset('assets/images/icons/favicon.png') }}"/>
    <title>Admin | sign in </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="abdoune4s"/>

    {% block style %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href={{ asset("assets/css/util.css") }} rel="stylesheet">
        <link href={{ asset("assets/css/register_login.css") }} rel="stylesheet">
        <link href={{ asset("assets/css/main.css") }} rel="stylesheet">

    {% endblock %}

</head>
{% block body %}
    <body>

    <div class="limiter">
        <div class="p-t-20 text-center fontarabic  m-rl-200">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success" style="direction: rtl">
                    {{ message }}
                    <i class="fa fa-check-circle"></i>
                </div>
            {% endfor %}
            {% for message in app.flashes('error') %}
                <div class="alert alert-danger" style="direction: rtl">
                    {{ message }}
                    <i class="fa fa-exclamation-circle"></i>
                </div>
            {% endfor %}
        </div>
        <div class="container-login100  fontarabic ">
            <div class="wrap-login100 mybox-shadow">
                <form method="post" class="login100-form validate-form p-l-55 p-r-55 p-t-178 p-b-100"
                      style="direction: rtl;padding-top: 178px">

					<span class="login100-form-title">
                         <a href="{{ path('app') }}">
						<img src={{ asset("assets/images/icons/logo-1.png") }} alt="LOGO">
                         </a>
					</span>

                    <div class="wrap-input100 validate-input m-b-16" data-validate="الرجاء إدخال البريد الإلكتروني">
                        <input class="input100" type="email" value="" name="email"
                               placeholder="الرجاء إدخال البريد الإلكتروني">
                        <span class="focus-input100"></span>
                    </div>
                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >
                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn" style="font-size: 22px">
                            إرسال الطلب
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </body>
{% endblock %}
