<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" href="{{ asset('assets/images/icons/favicon.png') }}"/>
    <title>Admin | sign in </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="abdoune4s"/>

    {% block style %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href={{ asset("assets/css/util.css") }} rel="stylesheet">
        <link href={{ asset("assets/css/register_login.css") }} rel="stylesheet">
        <link href={{ asset("assets/css/main.css") }} rel="stylesheet">

    {% endblock %}

</head>
{% block body %}
    <body>

    <div class="limiter">
        <div class=" text-center fontarabic  m-rl-200">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success" style="direction: rtl">
                    {{ message }}
                    <i class="fa fa-check-circle"></i>
                </div>
            {% endfor %}
            {% for message in app.flashes('error') %}
                <div class="alert alert-danger" style="direction: rtl">
                    {{ message }}
                    <i class="fa fa-exclamation-circle"></i>
                </div>
            {% endfor %}
        </div>
        <div class="container-login100  fontarabic ">
            <div class="wrap-login100 mybox-shadow">
                <form method="post" class="login100-form validate-form p-l-55 p-r-55 p-t-120"
                      style="direction: rtl;padding-top: 178px">

					<span class="login100-form-title">
                        <a href="{{ path('app') }}">
						<img src={{ asset("assets/images/icons/logo-1.png") }} alt="LOGO">
                        </a>
					</span>
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3" style="text-align: right">
                            أنت مسجل دخولك باسم {{ app.user.fullname }}, <a href="{{ path('app_logout') }}">تسجيل
                                الخروج</a>
                        </div>
                    {% endif %}
                    <div class="wrap-input100 validate-input m-b-16" data-validate="الرجاء إدخال البريد الإلكتروني">
                        <input class="input100" type="email" value="{{ last_username }}" name="email"
                               placeholder="البريد الإلكتروني">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="الرجاء إدخال كلمة المرور">
                        <input class="input100" type="password" name="password" placeholder="كلمة المرور">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="text-right p-t-13 p-b-23">
						<span class="txt1">
							نسيت
						</span>

                        <a href="{{ path('reset_psw') }}" class="txt2">
                            كلمة المرور؟
                        </a>
                    </div>

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn" style="font-size: 22px">
                            تسجيل الدخول
                        </button>
                    </div>

                    <div class="flex-col-c p-t-20 p-b-40" style="text-align: center">
						<span class="txt1 p-b-9">
							ليس لدي حساب؟
						</span>

                        <a href="{{ path('app_register') }}" class="txt3" style="padding-top: 70px">
                            إنشاء حساب جديد الأن
                        </a>
                    </div>
                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade fontarabic" id="exampleModalLong" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 style="text-align: center" class="modal-title" id="exampleModalLongTitle">إسترجاع كلمة
                        السر </h5>
                    <button style="float: left" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
    </div>


    {% block script %}
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"
                integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <!--===============================================================================================-->
        <script type="text/javascript">

            (function ($) {
                "use strict";

                /*==================================================================
                [ Validate ]*/
                var input = $('.validate-input .input100');

                $('.validate-form').on('submit', function () {
                    var check = true;

                    for (var i = 0; i < input.length; i++) {
                        if (validate(input[i]) == false) {
                            showValidate(input[i]);
                            check = false;
                        }
                    }

                    return check;
                });


                $('.validate-form .input100').each(function () {
                    $(this).focus(function () {
                        hideValidate(this);
                    });
                });

                function validate(input) {
                    if ($(input).attr('type') == 'email' || $(input).attr('name') == 'email') {
                        if ($(input).val().trim().match(/^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{1,5}|[0-9]{1,3})(\]?)$/) == null) {
                            return false;
                        }
                    } else {
                        if ($(input).val().trim() == '') {
                            return false;
                        }
                    }
                }

                function showValidate(input) {
                    var thisAlert = $(input).parent();

                    $(thisAlert).addClass('alert-validate');
                }

                function hideValidate(input) {
                    var thisAlert = $(input).parent();

                    $(thisAlert).removeClass('alert-validate');
                }


            })(jQuery);
        </script>
    {% endblock %}

    </body>
{% endblock %}
