{% extends 'base.html.twig' %}



{% block last_post %}
    <section class="bg0 p-b-55" style="margin-top: 1%">
        {% if category is not null  %}
        <div class="container ">
            <div class="row mycategory m-rl-25 mybox-shadow"
                 style="position: relative; background:linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)),  url('{{ category.imagelink }}') no-repeat center center /cover;">
                <div class="col-lg-12">
                    <div class="intro-text">
                        <span class="category_title_arabic">{{category.name}}</span>

                        <div class="category_content_arabic">
                            <i style="float: right; " class="fas fa-quote-right"></i>
                            <br>
                            {{category.discription}}
                            <br>
                            <i style="float: left;" class="fas fa-quote-left"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="container p-t-25 p-b-4" style="text-align: right;direction: rtl;">
            {% if category is null  %}
            <h2 class="badge badge-info" style="font-size: x-large">

                        {{ app.request.get("keyWord") }}
                        {% if articles|length > 0  %}
                        <h3 class="search-details search-results-box">نتائج البحث عن كلمة "<b style="color:black">{{ app.request.get("keyWord") }}</b>" / اجمالي النتائج <span style="color:black">{{articles|length}}</span></h3>
                           {% else %}
                               <h3 class="search-details search-results-box">للأسف لا توجد نتائج بحث عن كلمة "<b style="color:black">{{ app.request.get("keyWord") }}</b> " </h3>


                        {% endif %}
            </h2>
            {% endif %}
        </div>

        <div class="container m-b-20">
            <div class="row">
                <div class="col-md-12">
                    <div id="news-slider"  class="owl-carousel">

                        {% for i in 0..3 %}
                            {% if articles is not empty  %}
                            {% set article = random(articles) %}
                            <div class="post-slide mybox-shadow" style="text-align: right; direction: rtl">
                                <div class="post-img">
                                    <a href="{{ path('article_show',{'slug' : article.slug}) }}">
                                        <img src="{{ article.photoPath }}" alt=" {{ article.title }}">
                                        <div class="post-date">
                                            <span class="date">{{article.category.name}}</span>

                                        </div>
                                    </a>
                                </div>
                                <div class="post-review">
                                    <h2 class="post-title"><a href="{{ path('article_show',{'slug' : article.slug}) }}">
                                            {% if article.title|length >100 %}
                                                {{ article.title[:100]|split(" ")|slice(0, -1)|join(" ") ~" .."  }}
                                            {% else  %}
                                                {{ article.title }}
                                            {% endif %}
                                        </a></h2>
                                    <ul class="post-bar">
                                        <li><a href="{{ path('users_show_public',{'id': article.user.id}) }}"><img src="{{ asset('upload/users/' ~ article.user.picture) }}"></a></li>
                                        <li><i class="fa fa-clock"></i>&nbsp;{{ article.createdAt|date('Y/m/d') }}</a></li>
                                        <li><i class="far fa-comment"></i>&nbsp;{{article.commentsCount}}</a></li>
                                        <li><i class="fa fa-eye"></i>&nbsp;{{article.clicks}}</a></li>
                                    </ul>
                                    <p class="post-description">{{ article.content[:150]|split(" ")|slice(0, -1)|join(" ") ~" .."  }}</p>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center" >

                <div class="col-md-10 col-lg-8 p-b-80">
                    {% if articles|length > 0 %}
                        <div class="list-wrapper row" style="text-align:right;direction: rtl;">
                        {% for a in articles  %}
                        <div class="list-item col-sm-6 p-r-25 p-r-15-sr991 ">
                            <!-- Item latest -->
                            <div class="m-b-45   mybox-shadow">
                                <a href="{{ path('article_show', {'slug' : a.slug}) }}" class="wrap-pic-w hov1 trans-03">
                                    <img class="MYimg image-height" src="{{ a.photoPath }}" alt="{{a.title}}">
                                </a>
                                <div class="p-tb-16 p-rl-10">
                                    <h5 class="p-b-5" style="height: 50px;">
                                        <a href="{{ path('article_show', {'slug' : a.slug}) }}" class="f1-m-4 cl2 hov-cl10 trans-03">

                                            {% if a.title|length >60 %}
                                                {{ a.title[:60]|split(" ")|slice(0, -1)|join(" ") ~" .."  }}
                                            {% else  %}
                                                {{ a.title }}
                                            {% endif %}
                                        </a>
                                    </h5>

                                    <span class="cl8 f1-s-4">
										<a href="{{ path('users_show_public',{'id': a.user.id}) }}" class="f1-s-4 cl8 hov-cl10 trans-03">
										<img style="width: 25px;height: 25px;border-radius: 50%;background-color: white;border: 1px solid #17b978;padding: 2px" src="{{ asset('upload/users/' ~ a.user.picture) }}">
                                             {% if a.user.fullName|length >12 %}
                                            {{ a.user.fullName[:12]|split(" ")|slice(0, -1)|join(" ") ~" .." }}
                                             {% else  %}
                                                 {{ a.user.fullName }}
                                             {% endif %}
										</a>
							          <i class="far fa-clock"></i> {{ a.createdAt|date('Y/m/d') }}&nbsp;
                                      <i class="fa fa-eye" aria-hidden="true"></i> {{ a.clicks }} &nbsp;
                                      <i class="far fa-comment" aria-hidden="true"></i> {{ a.commentsCount }}&nbsp;

									</span>
                                </div>
                            </div>
                            <!-- end item latest  -->
                        </div>
                        {% endfor %}
                    </div>
                    {% else %}
                        <div class="col-md-12 col-lg-12 p-b-20">
                            <div class="how2 how2-cl4 flex-s-c m-r-10 m-r-0-sr991" style="direction: rtl;font-size: x-large;">
                                <h3 class="f1-m-2 cl3 tab01-title" style="font-size: x-large;">
                                    المقالات
                                </h3>
                            </div>

                            {% include('_contributions.html.twig') %}

                        </div>
                    {% endif %}

                    <!-- Pagination -->
                    <div id="pagination-container"></div>
                </div>

                <div class="col-md-10 col-lg-4 p-b-80">
                {% include('_trending.html.twig') %}
                    <!-- Tag -->
                    <div class="p-b-10 p-t-20">
                        <div class="how2 how2-cl4 flex-s-c p-r-20 m-rl-10 m-b-10" style="direction: rtl;">

                            <div class="d-flex flex-row flex-grow-1 flex-fill justify-content-center bluecolor py-2 text-white px-1 news"><span class="d-flex align-items-center">&nbsp;
                                     البحث بالكلمات المفتاحية
                                        &nbsp;&nbsp;
                                    <i class="fas fa-search"></i>
                                    </span></div>

                        </div>

                        <div class="flex-wr-s-s m-rl--5" style="direction: rtl;font-size: large">

                            {%  if tags|length > 6 %}

                                {% for t in tags|slice(tags|length - 7 ,tags|length)  %}
                                    <a href="{{ path('tag_list',{'keyWord':t}) }}"
                                       class="flex-c-c bo-1-rad-20 bocl12 f1-s-1 cl8 hov-btn2 trans-03 p-rl-20 p-tb-5 m-all-5">
                                        {{t}}
                                    </a>
                                {% endfor %}
                            {% else %}

                                {% for t in tags  %}
                                    <a href="{{ path('tag_list',{'keyWord':t}) }}"
                                       class="flex-c-c size-h-2 bo-1-rad-20 bocl12 f1-s-1 cl8 hov-btn2 trans-03 p-rl-20 p-tb-5 m-all-5"
                                       style="font-size: large">
                                        {{t}}
                                    </a>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/simplePagination.js/1.6/jquery.simplePagination.js"></script>
    <script type="text/javascript">

        var items = $(".list-wrapper .list-item");
        var numItems = items.length;
        var perPage = 6;

        items.slice(perPage).hide();
        if(numItems>6)
        {
            $('#pagination-container').pagination({
                items: numItems,
                itemsOnPage: perPage,
                prevText: "&laquo;",
                nextText: "&raquo;",
                onPageClick: function (pageNumber) {
                    var showFrom = perPage * (pageNumber - 1);
                    var showTo = showFrom + perPage;
                    items.hide().slice(showFrom, showTo).show();
                }
            });
        }

    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#news-slider").owlCarousel({
                items: 2,
                itemsDesktop: [1199, 2],
                itemsMobile: [600, 1],
                pagination: false,
                autoPlay: true
            });
        });
    </script>
{% endblock %}