{% extends '@!EasyAdmin/default/layout.html.twig' %}
{% block head_custom_stylesheets  %}
    <style>
        .ds-btn li{ list-style:none; float:left; padding:10px; }
        .ds-btn li a span{padding-left:15px;padding-right:5px;width:100%;display:inline-block; text-align:left;}
        .ds-btn li a span small{width:100%; display:inline-block; text-align:left;}

    </style>
{% endblock %}
{% block main %}


    <div class="container " style="height: 500px; margin-top: 10% ">
        <br>

        <div class="row wrap justify-content-center ">

            <div class="col-md-4 ">
                <a href="{{ path('admin_blog_list_new') }}" class="btn btn-outline-success btn-lg btn-block btn-huge" style="font-size: x-large">
                    <div class="row" style="direction: rtl">
                        <div class="col-md-3" style="padding-top: 1%">
                            <i style="font-size: 50px" class="fas fa-play"></i>

                        </div>
                        <div class="col-md-9 justify-content-center" style="font-size:20px">
                             المساهمات الجديدة
                            <br>

                            <i style="font-size: x-large ; color: darkred" class="fas fa-bell"> {{ countBlogs }} </i>
                        </div>
                    </div>

                </a>
            </div>
            <div class="col-md-4 ">
                <a href="{{ path('admin_blog_list_all') }}" class="btn btn-outline-info btn-lg btn-block btn-huge" style="font-size: x-large">
                    <div class="row" style="direction: rtl">
                        <div class="col-md-3" style="padding-top: 1%">

                            <i style="font-size: 50px" class="fas fa-file"></i>

                        </div>
                        <div class="col-md-9 justify-content-center" style="font-size:20px">
                             المساهمات المنشورة
                            <br>

                            <i style="font-size: x-large ; color: darkred" class="fas fa-bell"> {{ countBlogsAll }} </i>
                        </div>
                    </div>

                </a>
            </div>
        </div>
        <br>
        <div class="row wrap justify-content-center ">
            <div class="col-md-4 ">
                <a href="{{ path('admin_blog_users') }}" class="btn btn-danger btn-lg btn-block btn-huge" style="font-size: x-large">
                    <div class="row" style="direction: rtl">
                        <div class="col-md-3" style="padding-top: 1%">
                            <i style="font-size: 50px" class="fas fa-users"></i>


                        </div>
                        <div class="col-md-9 justify-content-center" style="font-size:20px">
                             المدونون الجدد
                            <br>

                            <i style="font-size: x-large " class="fas fa-bell"> {{ countUsers }} </i>
                        </div>
                    </div>

                </a>
            </div>
            <div class="col-md-4 ">
                <a href="{{ path('admin_blog_list_closed')}}" class="btn btn-warning btn-lg btn-block btn-huge" style="font-size: x-large">
                    <div class="row" style="direction: rtl">
                        <div class="col-md-3" style="padding-top: 1%">
                            <i style="font-size: 50px" class="fas fa-file-archive"></i>

                        </div>
                        <div class="col-md-9 justify-content-center" style="font-size:20px">
                            أرشيف المساهمات
                            <br>

                            <i style="font-size: x-large " class="fas fa-bell"> {{ countBlogsClosed }} </i>
                        </div>
                    </div>

                </a>
            </div>

        </div>


    </div>

{% endblock %}
