{% extends '@!EasyAdmin/default/layout.html.twig' %}

{% block main %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <table class="table">
        <thead class="thead">
        <tr>
            <th scope="col">ID </th>
            <th scope="col">Title</th>
            <th scope="col">Sent At </th>
            <th scope="col">User </th>
            <th scope="col">Actions  </th>
        </tr>
        </thead>
        <tbody>
        {% for b in blogs %}
            <tr>
                <th scope="row">{{ b.id }}</th>
                <td>{{ b.title }}</td>
                <td>{{ b.createdAt|date('d/m/Y') }}</td>
                <td>{{ b.user.fullName }}</td>
                <td class=" toggle ">
                    <a class=" btn btn-outline-info action-edit" title="" href="{{ path('admin_blog_validate', {'slug': b.slug}) }}" target="_self">
                        <i class="fa fa-fw fa-pencil"></i>
                    </a>
                    <a class=" btn btn-danger action-edit" title="" href="{{ path('admin_blog_close', {'id': b.id}) }}" target="_self">
                        <i class="fa fa-fw fa-trash"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
