{% extends '@!EasyAdmin/default/layout.html.twig' %}

{% block main %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">

            {{ message }}
        </div>
    {% endfor %}
    <table class="table">
        <thead class="thead">
        <tr>
            <th scope="col">ID </th>
            <th scope="col">Name</th>
            <th scope="col">Function</th>
            <th scope="col">Articles </th>
            <th scope="col">Actions  </th>
        </tr>
        </thead>
        <tbody>
        {% for u in users %}
            <tr>
                <th scope="row">{{ u.id }}</th>
                <td>{{ u.fullName }}</td>
                <td>{{ u.fonction }}</td>
                <td>{{ u.articles|length }}</td>
                <td class=" toggle ">
                    <a class=" btn btn_secondary action-edit" title="" href="" target="_self">
                        <i class="fa fa-fw fa-eye"></i> Show
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
