
*:hover{
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
/*
modal full secreen
 */
#fsModal{
    width: 100%;
}
/*
end
 */
/*
search
 */
/*
progras bar
 */
.progress-bar {
    width: 0;
    -webkit-animation: progress 20s ease-in-out forwards;
    animation: progress 20s ease-in-out forwards;
}
.progress-bar .title {
    opacity: 0;
    -webkit-animation: show 20s forwards ease-in-out 20s;
    animation: show 20s forwards ease-in-out 20s;
}

@-webkit-keyframes progress {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes progress {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
@-webkit-keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/*
end p
 */
.myform{
    position: relative;
    background: white;
    border-radius: 5px;
    width: 300px;
    height: 80px;
    text-align: center;

}
.circle_btn{

    font-weight: 900;
    width:35px;
    height:35px;
    padding: 1px;
    border: 2px solid #5e676f;

}
/**
breaking news
 */
.bluecolor{
    background-color:#1B75BB ;
    font-size: 18px;
}
.news {
    min-width: 120px!important;
    max-width: 250px!important;
}

.news-scroll a {
    text-decoration: none
}

.dot {
    height: 6px;
    width: 6px;
    margin-left: 3px;
    margin-right: 3px;
    background-color: #d32f2f;
    border-radius: 50%;
    display: inline-block
}




.onoffswitch3
{
    position: relative;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

.onoffswitch3-checkbox {
    display: none;
}

.onoffswitch3-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 0px solid white; border-radius: 0px;
}

.onoffswitch3-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}

.onoffswitch3-inner > span {
    display: block; float: left; position: relative; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 15px; color: white;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.onoffswitch3-inner .onoffswitch3-active {
    padding-left: 10px;
    background-color: #FFFFFF; color: #FFFFFF;
}

.onoffswitch3-inner .onoffswitch3-inactive {
    width: 100px;
    background-color: #EEEEEE; color: #FFFFFF;
    text-align: right;
}

.onoffswitch3-switch {
    display: block; width: 50%; margin: 0px; text-align: center;
    border: 0px solid #999999;border-radius: 0px;
    position: absolute; top: 0; bottom: 0;
}
.onoffswitch3-active .onoffswitch3-switch {
    background: #D53030; right: 0;
    width: 100px;
}
.onoffswitch3-inactive{
    background: white; right: 0;
    width: 20px;
}
.onoffswitch3-checkbox:checked + .onoffswitch3-label .onoffswitch3-inner {
    margin-left: 0;
}

.glyphicon-remove{
    padding: 3px 0px 0px 0px;
    color: #fff;
    background-color: #000;
    height: 25px;
    width: 25px;
    border-radius: 15px;
    border: 2px solid #fff;
}

.scroll-text{
    text-align: right;
    color: #2777F8;
}
/*
end b n
 */
.myform input{
    text-align: right;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    font-size: 0.9em;
    border-radius: 5px;
    padding: 0 20px;
    border: 1px solid #07051a;
}

.myform .fas{
    box-sizing: border-box;
    float: left;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}



/**
footer
 */
.col_white_amrc { color:#FFF;}
.Myfooter { width:100%; background-color:#350d36; min-height:250px; padding:10px 0px 15px 0px ;}
.pt2 { padding-top:40px ; margin-bottom:20px ;}
.Myfooter p { font-size:13px; color:#CCC; padding-bottom:0px; margin-bottom:8px;}
.mb10 { padding-bottom:15px ;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:#CCC;}
.footer_ul_amrc li a:hover{ color:#fff; text-decoration:none;}
.fleft { float:left;}
.padding-right { padding-right:10px; }

.footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;}
.footer_ul2_amrc li p { display:table; }
.footer_ul2_amrc li a:hover { text-decoration:none;}
.footer_ul2_amrc li i { margin-top:5px;}

.bottom_border { border-bottom:1px solid #323f45; padding-bottom:20px;}
.foote_bottom_ul_amrc {
    direction: rtl;
    font-size: 14px;
    list-style-type:none;
    padding:0px;
    display:table;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
}
.foote_bottom_ul_amrc li { display:inline;}
.foote_bottom_ul_amrc li a { color:#999; margin:0 12px;}

.social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;  }
.social_footer_ul li { padding-left:20px; padding-top:10px; float:left; }
.social_footer_ul li a { color:#CCC; border:1px solid #CCC; padding:8px;border-radius:50%;}
.social_footer_ul li i {  width:20px; height:20px; text-align:center;}

/**
end
 */
.post-slide{overflow:hidden;margin:20px;background-color:#fff!important}
.post-slide .post-img{float:left;width:50%;position:relative;margin-right:30px;}
.post-slide .post-img img{width:100%;height:auto}
.post-slide .post-date{background:#17b978;color:#fff;position:absolute;top:0;right:0;display:block;padding:1% 1%;text-align:center;transition:all .5s ease}
.post-slide .date{display:block;font-size:16px;font-weight:700}
.post-slide .month{display:block;font-size:11px;text-transform:uppercase}
.post-slide .post-review{padding:5% 3% 1% 0;border-top:3px solid #17b978}
.post-slide:hover .post-review{border-top-color:#ec3c6a}
.post-slide .post-title{margin:0 0 15px 0; height: 120px;}
.post-slide .post-title a{font-size:18px;font-weight:600;color:#333;text-transform:uppercase}
.post-slide .post-title a:hover{text-decoration:none;color:#17b978}
.post-slide .post-bar{padding:0;list-style:none;text-transform:uppercase;position:relative;margin-bottom:20px}
.post-slide .post-bar:after,.post-slide .post-bar:before{border:1px solid #38cfd8;bottom:-10px;content:"";display:block;position:absolute;right:36%;width:25px}
.post-slide .post-bar img{  border-radius: 50%;width: 35px;height: 35px;border: 2px solid #1B75BB;background-color: white;padding: 2px;}
.post-slide .post-bar:before{border:1px solid #ec3c6a;right:32%}
.post-slide .post-bar li{color:#555;font-size:11px;margin-right:5px;display:inline-block}
.post-slide .post-bar li a{font-size:13px;text-decoration:none;text-transform:uppercase;color:#ec3c6a}
.post-slide .post-bar li a:hover{color:#ec3c6a}
.post-slide .post-bar li i{color:#777;margin-right:2px}
.post-slide .post-description{font-size:17px;line-height:26px;color:#444454;height: 100px;} .owl-theme .owl-controls{margin-top:5px}
.owl-theme .owl-controls .owl-page span{background:#fff;border:2px solid #37a6a4}
.owl-theme .owl-controls .owl-page.active span,.owl-theme .owl-controls.clickable .owl-page:hover span{background:#37a6a4}
@media only screen and (max-width:990px){.post-slide .post-img{width:100%;height:auto;}
    .post-slide .post-review{width:100%;border-bottom:4px solid #ec3c6a}
    .post-slide .post-bar:before{left:0}
    .post-slide .post-bar:after{left:25px}
    .post-slide .post-title{height: 280px;}
    .post-slide .post-description{display: none}
    .post-slide .post-img img {width: 100%;height: 180px;}
    .foote_bottom_ul_amrc {font-size: 10px;}

}
/******************  News Slider Demo-4 *******************/
.post-slide4{margin:0 10px;border-radius:12px;background:#1B75BB;box-shadow:0 1px 2px rgba(43,59,93,.3);margin-bottom:2em}
.post-slide4 .post-info{padding:5px 10px;margin:0;list-style:none}
.post-slide4 .post-info li{display:inline-block;margin:0 5px}
.post-slide4 .post-info li i{margin-right:8px}
.post-slide4 .post-info li a{font-size:11px;font-weight:700;color:#7e828a;text-transform:uppercase}
.post-slide4 .post-info li a:hover{color:#1dcfd1;text-decoration:none}
.post-slide4 .post-img{position:relative ;border-top-left-radius: 10px;border-top-right-radius: 10px;overflow: hidden}

.post-slide4 .post-img img{width:100%;height:200px;overflow: hidden;-webkit-transform: scale(1);transform: scale(1);-webkit-transition: .3s ease-in-out;transition: .3s ease-in-out;}
.post-slide4 .post-img img:hover{-webkit-transform: scale(1.3);transform: scale(1.3);}
.post-slide4 .read{position:absolute;bottom:30px;left:50px;font-size:14px;color:#fff;text-transform:capitalize;opacity:0;transition:all .4s linear 0s}
.post-slide4:hover .read{opacity:1}
.post-slide4 .read:hover{text-decoration:none;color:#1dcfd1}
.post-slide4 .post-content{padding:40px 15px;position:relative}
.post-slide4 .post-content .fas{color: white}
.post-slide4 .post-author{width: 100% }
.post-slide4 .post-author img{background-color:white;width:60px;height:60px;border-radius:50%;padding: 3px;position:absolute;right:0;left:0;margin-right:auto;margin-left:auto;overflow:hidden;border:3px solid #fff}
/*.post-slide4 .post-author2{ width: 100% }*/
.post-slide4 .post-content3{padding:40px 15px;position:relative}
.post-slide4 .post-author3{color:white;right: 0;left: 0;margin-left: auto;margin-right: auto;width:75px;height:75px;border-radius:50%;position:absolute;top:-45px;overflow:hidden;border:5px solid white;background-color: #1B75BB}
.post-slide4 .post-author3 img{width:100%;height:auto}

.post-slide4 .post-author2{background-color:white;width:100px;height:100px;border-radius:50%;padding: 3px;position:absolute;overflow:hidden;border:3px solid #fff}
.post-slide4 .post-title{font-size:14px;font-weight:700;color:#1dcfd1;margin:0 0 10px 0;text-transform:uppercase;transition:all .3s linear 0s}
.post-slide4 .post-title:after{content:"";width:25px;display:block;margin-top:10px;border-bottom:4px solid #ffffff}
.post-slide4 .post-description{direction:rtl;font-size:15px;color:white;margin-bottom:10px;margin-top:50px;text-align: center;height: 150px;}
.post-slide4 .post-description2{direction:rtl;font-size:15px;color:white;margin-bottom:10px;margin-top:80px;text-align: center;height: 120px;}
.post-slide4 .post-description3{direction:rtl;font-size:20px;color:white;margin-bottom:10px;text-align: center;height: 75px;width: 75px ;border-radius: 50%;background-color: #1B75BB}
.owl-theme .owl-controls{margin-top: -220px;margin-bottom: 200px}
.owl-navigation{margin-top: -220px;margin-bottom: 200px}
.owl-next{float: right;background-color: white}
.owl-prev{float: left;background-color: white}
.owl-theme .owl-controls .owl-buttons div{background-color: white;opacity: .9;width: 50px;height: 50px;padding: 5px}
.owl-next:before,.owl-prev:before{background-color:white;content:"\f053";font-family:"Font Awesome 5 Free";font-size:24px;font-weight:900;color:#1B75BB}
.owl-next:before{content:"\f054"}
.plus_div{top:-25px;right: -95px;position: relative ;background-color: #17b978;color: white; width: 25px;height: 25px; padding: 2px;border-radius: 50%;}


.bar-pub{
    width: 100%;
    height: 540px;
    margin-top: 10px;
}

/*
grid with cards
 */
.grid-container {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;

}
.grid-item {
    text-align: center;
}
@media only screen and (max-width:990px) {
    .grid-container {
        grid-template-columns: 25% 25% 25% 25% ;
    }
}
@media only screen and (max-width:767px) {
    .grid-container {
        grid-template-columns: 33% 33% 33%;
    }
    .bar-pub{
        width: 100%;
        height: 200px;
        margin-top: 5px;
    }
}
@media only screen and (max-width:500px) {
    .grid-container {
        grid-template-columns: 50% 50% ;
    }
}
@media only screen and (max-width:400px) {
    .grid-container {
        grid-template-columns: 100%;
    }
    .bar-pub{
        width: 100%;
        height: 130px;
        margin-top: 5px;
    }
}
@media only screen and (max-width:370px) {
    .plus_div{top:-25px;right: -65px;}
}
/**
pagination
 */

#pagination-container ul {
    direction: rtl;
    margin: 0 0 20px;
    padding: 0;
    list-style: none;
    text-align: center;
}

#pagination-container li {
    display: inline-block;
    margin-right: 5px;
}

#pagination-container li a,
#pagination-container li span {
    color: #666;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    border: 1px solid #EEE;
    background-color: #FFF;
    box-shadow: 0px 0px 10px 0px #EEE;
}

#pagination-container .current  {
    color: #FFF;
    background-color: #17b978;
    border-color: #17b978;
}

#pagination-container .prev.current,
#pagination-container .next.current {
    background: #17b978;
}
/**
end pagination
 */
/**

 */
.search-details {
    border-bottom: solid 1px rgb(221,221,221);
    border-top: solid 1px rgb(221,221,221);
    margin-top: .9%;
    color: #2575bc;
    font-size: 18px;
    font-family: inherit;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}

/**
footer
 */


/**
main card
 */
.recipe-card  img{
    max-width: 100%;
    vertical-align: bottom;

}
.bkimg{
    width: 100%;
    height: 300px;
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
}
.twiteimg{
    width: 100%;
    height: 420px;
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
}
.bkimg2{
    width: 100%;
    height: 160px;
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
}
.bkimg3{
    width: 100%;
    height: 160px;
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;

}

.recipe-card {
    background: #fff;
    width: 100%;
    border-radius:5%;
    height:100%;
}
.mobile-card{
    background: #1B75BB;
    width: 100%;
    border-radius:1%;
    height:80px;
    margin-bottom:10px;
    margin-top:10px;
}
.recipe-card aside {
    position: relative;
}
.recipe-card aside img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.recipe-card aside .button {
    background: #17b978;
    display: inline-block;
    position: absolute;

    right: 3%;
    border-radius: 2%;
    text-align: center;
}
.tp1{
    top: 10%;
}
.tp2{
    top: 88%;
}
.tp3{
    top: 15%;
}
.recipe-card aside .button .icon {
    vertical-align: middle;
}
.recipe-card article {
    padding: 10px 10px;
}
.recipe-card article ul {
    list-style: none;
    margin: 0.5em 0 0;
    padding: 0;
}
.post-meta  ul {
    list-style: none;
    margin: 0.5em 0 0;
    padding: 0;
}
.recipe-card article ul li {
    display: inline-block;
    margin-left: 1em;
    line-height: 1em;
    align-content: center;
}
.recipe-card article ul li a{
    text-decoration: none;
    color: #838689;
}
.post-meta  ul li {
    display: inline-block;
    line-height: 1em;
    align-content: center;
}
.recipe-card article ul li:first-child {
    margin-left: 0;
}
.recipe-card article ul li .icon {
    vertical-align: bottom;
}
.recipe-card article ul li .icon i {
    color: #17b978;
}
.recipe-card article ul li span:nth-of-type(2) {
    margin-left: 0.2em;
    vertical-align: middle;
    color: #838689;
}
.recipe-card article h2, .recipe-card article h3 {
    margin: 0;
    font-weight: 300;
}
.recipe-card article h2 {
    font-size: 1.70em;
    color: #222222;
    line-height: normal;
}
.recipe-card article h3 {
    font-size: 0.9375em;
    color: #838689;
}

.recipe-card article .ingredients {
    margin: 2em 0 0.5em;
}
.recipe-card .icon {
    display: inline;
    display: inline-block;
    background-repeat: no-repeat;
    color: #838689;

}
.recipe-card .icon-calories, .recipe-card .icon-calories\:regular {
    background-position: 0 0;
    width: 16px;
    height: 19px;
}
.recipe-card .icon-clock, .recipe-card .icon-clock\:regular {
    background-position: 0 -19px;
    width: 20px;
    height: 20px;
}
.recipe-card .icon-level, .recipe-card .icon-level\:regular {
    background-position: 0 -39px;
    width: 16px;
    height: 19px;
}
.recipe-card .icon-play, .recipe-card .icon-play\:regular {
    background-position: 0 -58px;
    width: 21px;
    height: 26px;
}
.recipe-card .icon-users{
    background-position: 0 -84px;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    border: 2px solid #1B75BB;
    padding: 2px;
    background-color: white;
}

.icon-user{
    position: relative;
    margin-right: 20px;
    margin-top: 10px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    padding: 3px;
    border: 3px solid whitesmoke;
    background-color: white;
}
.icon-user2{
    position: relative;
    margin-right: 20px;
    margin-top: 10px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    padding: 3px;
    border: 3px solid #1B75BB;
    background-color: white;
}

/**
end main card
 */
/*
circle moving
 */
.myavatar-150{
    top:-150px;
}
.myavatar{
    border: solid 3px #17b978;
    border-left-color:#D5EDDA;
    padding:2px;
    display:inline-block;
    border-radius: 50%;
    position:relative;
    margin-right: 10px;
    transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);

}

.myavatar img{
    display:block;
    border-radius: 50%;
    width:50px;
    height:50px;
    transform:rotate(-45deg) ;
    -ms-transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);

}
.myavatar:before, .avatar:after{
    content:'';
    position:absolute;
    background:#fff;
    z-index:-1;

    transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);
}
.myavatar:before{
    height:4px;
    top:50%;
    left:2px; right:-5px;
    margin-top:-2px;
}
.myavatar:after{
    width:4px;
    left:50%;
    top:2px; bottom:-5px;
    margin-left:-2px;
}

@-webkit-keyframes cliprotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
@keyframes cliprotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
@-webkit-keyframes rotate {
    0% {transform: rotate(-45deg);}
    100% {transform: rotate(135deg);}
}
@keyframes rotate {
    0% {transform: rotate(-45deg);}
    100% {transform: rotate(135deg);}
}
@-webkit-keyframes showfixed {
    0% {opacity: 0;}
    49.9% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 1;}
}
/*
end circle
 */

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}

.mybox-shadow {
    box-shadow: 0 10px 20px rgba(212,212,212,1), 0 8px 8px rgba(212,212,212,1);
    border-radius: 10px;
    background-color: white;

}
.mybox-shadow2 {
    box-shadow: 0 10px 20px rgba(212,212,212,1), 0 8px 8px rgba(212,212,212,1);
    border-radius: 10px;

}
.mybox-shadow .MYimg{

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}
.mybox-shadow .MYimgright{
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;

}
.mybox-shadow .MYimgrighttop{
    border-top-right-radius: 10px;

}
.image-height {
    height: 170px !important;
}

/*Profile card 2*/

.profile-card-2 .card-img-block{
    float:left;
    width:100%;
    height:80px;
    overflow:hidden;
    background-color: whitesmoke;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
}
.profile-card-2{
    position: relative;
    width: 100%;
    border-radius: 15%;
}
.profile-card-2:hover{
    box-shadow: 2px 8px 20px grey;
    -webkit-transition:  box-shadow .6s ease-in;
}
.profile-card-2 .card-body{
    border-radius: 15%;
    border: 2px solid rgba(255, 255, 255, 1);
    position:relative;
}
.profile-card-2 .profile {
    border-radius: 50%;
    position: absolute;
    top: -42px;
    left: 50%;
    height: 100px;
    width: 100px;
    border: 3px solid rgba(255, 255, 255, 1);
}
.profile-card-2 h5{
    font-weight:600;
    color:#6ab04c;
}
.profile-card-2 .card-text{
    font-weight:300;
    font-size:20px;
}
.profile-card-2 .icon-block{
    float:left;
    width:100%;
}
.profile-card-2 .icon-block a{
    text-decoration:none;
}



/*
end
 */

.my_img{
    width:100%;
    height:150px;
    background-color: white;

}
.my_img_avatar{
    background-color:white;
    position: absolute;
    top:125px;
    border: 1px solid #17b978;
    left: 5%;
    width: 50px;height: 50px;
    border-radius: 50%;
    padding: 3px;
}

#crd{
   position: relative;
    height: 340px !important;

}


#crd:hover  #myfooter{
    display: block;
    background-color: #17b978;
    color: white;
}
#crd:hover .my_img_avatar{
    top:90px;

}
#crd:hover #crd{
   margin-top: -50px;

}
#crd:hover .my_img {
    height: 115px;
}

#myfooter{
    display: none;
}


/*
other card
 */

#card {
    background-color: #393B45;
    width: auto;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;

   /* max-width: 260px !important;*/
    border-radius: 25px;
    padding-bottom: 2%;
    box-shadow: 2px 2px 5px #4069E2;
}
#card:hover{
    box-shadow: 6px 8px 12px #4069E2;
    -webkit-transition:  box-shadow .3s ease-in;
}

#card a {
    text-decoration: none;
    color: #393B45;

}
#card h1 {

    text-align: center;
    width: 100%;
    background-color: #E6EBEE;
    border-radius: 25px 25px 0 0;
    color: #393B45;
    height: 70px;
    padding: 5px;
    font-weight: 800;
    margin: 0;
}
#card h1:hover {
    background-color: white;
    color:#4069E2;
}

#card .image-crop {
    display: block;
    position: relative;
    background-color: #E6EBEE;
    width: 130px;
    height: 130px;
    margin: 0 auto;
    margin-top: 30px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 1px 1px 5px #17b978;
    border: 5px solid #17b978;
}

#avatar {
    display: inline;
    height: 130px;
    width: auto;
    margin-left: 0px;
}

#bio {
    max-width: 100% !important;
    padding-top: 2%;
    color: #E6EBEE;
    font-size: 16px;
    align-content: start;
    text-align: right;
    display: block;
    magin:2%;
    width: auto;
    height: auto;
}

#bio p {

    text-align: center;
}

#stats {
    padding-bottom: 3%;
    color: #E6EBEE;
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    font-weight: 500;
}

#card .col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
}

#card .stat {
    font-size: 25px;
    margin: 0;
}

#card .label {
    margin: 0;
}

/*
end
 */
/*Profile card 2*/
.profile-card-3 .card-img-block{

    width:100%;
    height:130px;
    overflow:hidden;
    border: 3px solid #17b978;
}
.profile-card-3{
    margin-right: 0px;
    padding-right: 0px;
    border-radius: 2%;
    width: 100%;
    height: 100%;
}
.profile-card-3:hover{
    box-shadow: 2px 4px 10px grey;
    -webkit-transition:  box-shadow .6s ease-in;
}
.profile-card-3 .card-body{
    border-radius: 2%;
    position:relative;
    text-align: right;
    padding-left:1.5%;
    padding-right:1.5%;
    padding-top:3%;
    padding-bottom: 3%;
}
.profile-card-3 .profile {
    border-radius: 50%;
    position: absolute;
    top: -42px;
    left:20%;
    width: 60px;
    height: 60px;
    border: 3px solid #17b978;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
}
.profile-card-3 h5{

    font-size: 17px;
    color:#6ab04c;
}

.profile-card-3 .card-text {
    padding-top: 0%;
    font-size: 15px;
}
.profile-card-3 .card-title {
    padding-bottom: 1%;

}

.profile-card-3 .icon-block{
    float:left;
    width:100%;
    color: #005ef7;
}
.profile-card-3 .icon-block a{
    text-decoration:none;
}



/*
end
 */

/*
last news card
 */
choaibcard img{
    height:150px;
    width:100%;
}


.choaibcard {
    transition:0.5s;
    cursor:pointer;
}
.choaibcard .card-title{
    font-size:15px;
    transition:1s;
    cursor:pointer;
}
.choaibcard .card-title i{
    font-size:15px;
    transition:1s;
    cursor:pointer;
    color:#ffa710
}
.choaibcard .card-title i:hover{
    transform: scale(1.25) rotate(100deg);
    color:#18d4ca;

}
.choaibcard .card:hover{
    transform: scale(1.05);
    box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
}
.choaibcard .card-text{
    height:80px;
}

.choaibcard .card::before, .card::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform .3s ease-out 0s;
    background: rgba(255, 255, 255, 0.1);
    content: '';
    pointer-events: none;
}
.card::before {
    transform-origin: left top;
}
.card::after {
    transform-origin: right bottom;
}
.card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
    transform: scale3d(1, 1, 1);
}

/** page structure **/
#w {

    display: block;
    min-width: 300px;
    margin: 1% auto;
    padding: 3px 3px;
}


/** posts slider widget **/
.crsl-items {
    width: 100%;
    height: 100%;
    display: block;
    padding-bottom: 5%;

}.crsl-item:hover {
     box-shadow: 5px 10px 25px grey;
     -webkit-transition:  box-shadow .3s ease-in;
}

.crsl-item {
    background: #fff;
    -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 2px 3px rgba(0,0,0,0.4);
    box-shadow: 0 2px 3px rgba(0,0,0,0.4);
}

.crsl-item .thumbnail {
    display: block;
    position: relative;
    cursor: pointer;
}
.crsl-item .thumbnail img {
    display: block; /* fix 1px image space http://stackoverflow.com/q/5804256/477958 */
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.crsl-item .thumbnail:hover img {
    opacity: 0.8;
}

.crsl-item h3 {
    font-family: 'Oswald', 'Trebuchet MS', Helvetica, sans-serif;
    font-size: 1.95em;
    line-height: 1.25em;
    margin-bottom: 12px;
}
.crsl-item h3 a {
    text-decoration: none;
    color: #333;
}
.crsl-item h3 a:hover {
    text-decoration: underline;
}

.crsl-item .postdate {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 6px;
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.4);
    font-size: 1.2em;
    font-weight: bold;
    background: #4e90da;
}

.crsl-item p {
    font-size: 1.2em;
    line-height: 1.55em;
    margin-bottom: 5px;
}

.crsl-item p.readmore a {
    display: block;
    float: right;
    color: #4e90da;
    padding: 3px 5px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 3px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.crsl-item p.readmore a:hover {
    background: #4b6caa;
    color: #fff;
}
/*==================================================
  Nearby People CSS
  ==================================================*/

.jumbotron .btn {
    color:#FFFFFF;
    padding: 5px !important;
    font-size: 12px !important;
    margin-left:20px;
}
.jumbotron label {
    font-size:12px;
}

.img-user{
    height:120px;
    width:120px;
}

.prj-name{
    font-weight:bold;
    color:#5bc0de;
}

.user-item img, .user-item h3 {
    display:inline-block;
}

.jumbotron .btn .user-item h3 a{
    color:#5bc0de;
    padding: 5px !important;
    font-size: 12px !important;
}

/** posts slider nav **/
.slidernav {

}

.slidernav{
margin-left: 40%;
}
.slidernav a:active {

}
/**
top article
 */
.custom-scrollbar-js,
.custom-scrollbar-css {
    height: 400px;
}


/*  Scrollbar */
.custom-scrollbar-css {
    overflow-y:scroll;
    overflow-x:hidden;
}

/* scrollbar width */
.custom-scrollbar-css::-webkit-scrollbar {
    width: 3px;
}

/* scrollbar track */
.custom-scrollbar-css::-webkit-scrollbar-track {
    background: #eee;
}

/* scrollbar handle */
.custom-scrollbar-css::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: #2489b0;

}

.mrl150{
    margin-left: 150px;
    margin-right: 150px;
}



/** media queries **/
@media screen and (max-width: 670px) {
    h1 { font-size: 2.4em; line-height: 1.2em; }

    .crsl-item h3 { font-size: 1.65em; }
    .mrl150{
        margin-left: 10px;
        margin-right: 10px;
    }
    .m-rl-150{margin-left: 5px;margin-right: 5px}
}

/** clearfix **/



