@import url(https://fonts.googleapis.com/earlyaccess/lateef.css);
/* font-family: 'Lateef', serif; */
@import url(https://fonts.googleapis.com/earlyaccess/scheherazade.css);
/*font-family: 'Scheherazade', serif;*/
@import url(https://fonts.googleapis.com/earlyaccess/thabit.css);
@import url(https://fonts.googleapis.com/earlyaccess/droidarabickufi.css);

@font-face {
  font-family: Roboto-Regular;
}

@font-face {
  font-family: Roboto-Medium;
}

@font-face {
  font-family: Roboto-Bold;
}

@font-face {
  font-family: Roboto-Black;
}

/*------------------------------------------------------------------
[ 2 ]*/
@font-face {
  font-family: Lato-Regular;
}
/*
.modal-dialog {
  position: fixed;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  max-width: 1150px;
  max-height:900px;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
}
@media (min-width: 576px)
{
  .modal-dialog {
    max-width: 100%;
    height: auto;
    margin: 1.75rem auto;
  }
}

 */

.rtl{
  direction: rtl;
}
.mycontent{
  font-family: "Sakkal Majalla";
  line-height: 1.2;
  font-size: 25px;

}
.hashtag{margin-top: -40px;text-align: center;padding-bottom: 12px;font-size: 25px;color: #1B75BB}
.col-2-5{
  flex:0 0 20%;max-width:20%
}

.pic_block{
  height: 350px ;
  padding: 5px;
}
.pic_block img{
  height: 350px;
  widtht: 100%;
}
.fontarabic{
  font-family: Droid Arabic Kufi;
}
.myh{
  height: 60px;
}
.title_arabic{
  line-height: 1.2;
  font-size: 20px;
  font-weight: 600;
  white-space: normal;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis
}
.details_arabic{
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
}
.content_arabic{
  font-weight: 500;
  font-size: 17px;
  line-height: 1.2;
}
.content2_arabic{
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
}

.content3_arabic{
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
}
#author_name{
  display: inline;
}
#only_screen{
  display: flex;
}
#only_mobile{
  display: none;
}
.myp{
  padding-left: 40px;
  padding-right: 40px;
}
@media (max-width: 800px) {

  .title_arabic {
    font-size: 19px;
  }
  .recipe-card .details_arabic{
    font-size: 13px;
  }
  .recipe-card .content_arabic {
    font-size: 16px;
  }
  .mycontent{
    font-family: "Sakkal Majalla";
    line-height: 1.2;
    font-size: 17px;

  }


}
@media (max-width: 500px) {
  .myp{
    padding-left: 10px;
    padding-right: 10px;
  }
  .mycontent{
    font-family: "Sakkal Majalla";
    line-height: 1.2;
    font-size: 15px;

  }
  .details_arabic{
    font-weight: 500;
    font-size: 12px;
    line-height: 1.2;
  }
  .title_arabic {
    font-size: 16px;
  }
  .recipe-card .content_arabic {
    font-size: 16px;
  }
  .recipe-card .details_arabic{
    font-size: 13px;
  }
  #author_name{
    display: none;
  }
  .recipe-card .title_arabic{
    font-size: 18px;
  }
  .pic_block {
    height: 230px;
    widtht: 100%;
  }
  .pic_block img{
    height: 230px;
    widtht: 100%;
  }
  #only_screen{
    display: none;
  }
  #only_mobile{
    display: block;
  }
}
@media (max-width: 400px) {
  .recipe-card .title_arabic{
    font-size: 17px;
  }
  .recipe-card .content_arabic {
    font-size: 13px;
  }
}



/*//////////////////////////////////////////////////////////////////
[ RS PLUGIN ]*/

/*------------------------------------------------------------------
[ Bootstrap ]*/
.container {max-width: 1180px;}
.mycontainer{max-width: 1200px;padding-left: 40px}



/*//////////////////////////////////////////////////////////////////
[ LOADDING ]*/
.animsition-loading-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.loader05 {
  width: 56px;
  height: 56px;
  border: 4px solid #17b978;
  border-radius: 50%;
  position: relative;
  animation: loader-scale 1s ease-out infinite;
  top: 50%;
  margin: -28px auto 0 auto; }

@keyframes loader-scale {
  0% {
    transform: scale(0);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    transform: scale(1);
    opacity: 0; } 
}


/*//////////////////////////////////////////////////////////////////
[ BUTTON BACK TO TOP ]*/
.btn-back-to-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  width: 35px;
  height: 35px;
  bottom: -40px;
  right: 40px;
  background-color: #17b978;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 0.6;
  cursor: pointer;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

.symbol-btn-back-to-top {
  font-size: 18px;
  color: white;
  line-height: 1em;
}

.btn-back-to-top:hover {
  opacity: 1;
}

@media (max-width: 575px) {
  .btn-back-to-top {
    bottom: 0px;
    right: 15px;
  }
}

.show-btn-back-to-top {bottom: 0;}




/*//////////////////////////////////////////////////////////////////
[ Header ]*/

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
[ Header Desktop ]*/

/*==================================================================
[ Top-bar ]*/
.topbar {
  background-color: #350D36;
}

.content-topbar {
  min-height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*---------------------------------------------*/
.left-topbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: -13px;
  margin-right: -13px;
}

.left-topbar-item {
  font-size: 12px;
  color: #ccc;
  line-height: 1.8;
  padding: 0 8px;
  position: relative;
  transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

a.left-topbar-item:hover {
  color: #17b978;
}

.left-topbar-item::before {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 10px;
  background-color: #fff;
  opacity: 0.1;
  left: 0;
  top: calc(50% - 5px);
}

.left-topbar-item:first-child:before {
  display: none;
}

/*---------------------------------------------*/
.right-topbar {
  margin-left: -4px;
  margin-right: -4px;
}

.right-topbar a {
  font-size: 18px;
  color: #ccc;
  line-height: 1.5;
  margin: 0 4px;
  transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

.right-topbar a:hover {
  color: #17b978;
}

/*------------------------------------------------------------------
[ Topbar mobile ]*/
.topbar-mobile {
  background-color: #222;
  padding: 8px 25px 5px 25px;
}

.topbar-mobile li {
  padding: 5px 0;
}

.topbar-mobile .right-topbar,
.topbar-mobile .left-topbar {
  justify-content: flex-start;
}



/*==================================================================
[ Logo ]*/
.wrap-logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 125px;
  padding-top: 25px;
  padding-bottom: 10px;
}

/*---------------------------------------------*/
.logo {
  width: 25%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  direction: ltr;
}
.logo-footer{
  width: 200px;
  height: 100px;
}

.logo img {
  max-width: 100%;
  max-height: 50%;
}


.banner-header {
  width: 70%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.banner-header img {
  max-width: 100%;
  max-height: 100%;
}

/*---------------------------------------------*/
.wrap-logo.no-banner {
  justify-content: center;
}

.wrap-logo.no-banner .logo {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

/*---------------------------------------------*/
.logo-stick {
  display: none;
  line-height: 0;
  margin-right: 15px;
}

.logo-stick img {
  max-width: 115px;
  max-height: 30px;
}

/* edit profile pic */

.profile-pic {
  max-width: 200px;
  max-height: 200px;
  display: block;
}

.file-upload {
  display: none;
}
.mycategory{
  height:250px;
  padding-top:20px;
  padding-bottom:20px;
}
.intro-text{
  text-align: center;
  color: white;
  padding: 20px;
}
.category_title_arabic{
  font-size: 30px;
  font-weight: 700;
  white-space: nowrap;
  margin-bottom: 10px;
  border-bottom: 3px solid white;
}
.category_content_arabic{
  font-size: 20px;
  padding: 20px;

}
.circle {
  border-radius: 50%;
  overflow: hidden;
  width: 200px;
  height: 200px;
  background-color: white;
  border: 3px solid #1B75BB;
  padding: 7px;
  top: 72px;
}
.profile-pic img {
  max-width: 100%;
  height: auto;
}
.p-image {
  position: absolute;
  top: 145px;
  right: 35px;
  color: #666666;
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  border: 4px solid #f8f9fa;
  display: table;
  position: absolute;
  vertical-align: middle;
  text-align: center;
  width: 30px;
  height: 30px;
  background-color: #1B75BB;
  border-radius: 50%;
  padding: 8px;
}
.p-validate {
  position: absolute;
  top: 145px;
  right: 35px;
  color: #666666;
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  border: 4px solid #f8f9fa;
  display: table;
  position: absolute;
  vertical-align: middle;
  text-align: center;
  width: 25px;
  height: 25px;
  background-color: #1B75BB;
  border-radius: 50%;
  padding: 8px;
}
.p-image:hover {
  color: #999;
}
.upload-button {
  font-size: 1.5em;
}
.fa_check {
  font-size: 1.2em;
}

.upload-button:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  color: #999;
}
/*==================================================================
[ Main nav ]*/
.wrap-main-nav {
   width: 100%;
   height: 55px;
   z-index: 1000;
   position: relative;
 }


.main-nav {
  width: 100%;
  height: 55px;
  background-color: #fff;

  box-shadow: 0 3px 8px 0px rgba(0,0,0,0.05);
  -moz-box-shadow: 0 3px 8px 0px rgba(0,0,0,0.05);
  -webkit-box-shadow: 0 3px 8px 0px rgba(0,0,0,0.05);
  -o-box-shadow: 0 3px 8px 0px rgba(0,0,0,0.05);
  -ms-box-shadow: 0 3px 8px 0px rgba(0,0,0,0.05);

  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%);
}

.menu-desktop {
  max-width: calc(100% - 30px);
  width: 1150px;
  margin: 0 auto;
  height: 55px;
  position: relative;
}

.main-menu {
  list-style-type: none;
  margin: 0;
  height: 100%;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}

.main-menu > li {
  height: 100%;
  position: relative;
}

.main-menu > li > a {
  font-size: 16px;
  line-height: 1.5;
  color: #222;
  
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 5px 0px;
  margin: 0 18px;
  transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

.main-menu > li > a::before {
  content: "";
  display: block;
  position: absolute;
  width: calc(100% + 36px);
  height: 5px;
  bottom: 0;
  left: -18px;
  background-color: #e6e6e6;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;

  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
}



li.main-menu-active > a::before {
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}
.main-menu ul li .main-menu-active {
  background-color: #17b978;
  color: white;
}
.main-menu > li > a:hover:before {
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}

@media (max-width: 1199px) {
  .main-menu > li > a {
    margin: 0 10px;
  }

  .main-menu > li > a::before {
    left: -10px;
    width: calc(100% + 20px);
  }
}

/*---------------------------------------------*/
.sub-menu {
  list-style-type: none;
  position: absolute;
  top:0;
  left:100%;
  width: 225px;
  background-color: #fff;
  padding: 15px 0px 15px 0px;

  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;

  visibility: hidden;
  opacity: 0; 
  
  border: 1px solid #f2f2f2;
  box-shadow: 0 5px 10px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 5px 10px 0px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 5px 10px 0px rgba(0,0,0,0.2);
  -o-box-shadow: 0 5px 10px 0px rgba(0,0,0,0.2);
  -ms-box-shadow: 0 5px 10px 0px rgba(0,0,0,0.2);
}

.sub-menu li {
  position: relative;
  background-color: transparent;
}

.main-menu > li > .sub-menu {
  top:100%;
  left: 0px;
}

.main-menu > li.respon-sub-menu > .sub-menu {
  top:100%;
  left: auto;
  right: 0;
}

li.respon-sub-menu > .sub-menu .sub-menu {
  top:0;
  left: auto;
  right: 100%;
}

.sub-menu a {
  font-size: 14px;
  line-height: 1.7857;
  color: #222;

  display: block;
  padding: 8px 30px; 
  width: 100%;

  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
}

@media (max-width: 1199px) {
  .sub-menu {
    width: 190px;
  }

  .sub-menu a {
    padding: 8px 20px;
  }
}
@media (max-width: 800px) {
  .mycategory{
    height:auto;
    padding-top:3px;
    padding-bottom:3px;
  }
  .intro-text{
    text-align: center;
    color: white;
    padding: 15px;
  }
  .category_title_arabic{
    font-size: 20px;
    font-weight: 500;
    white-space: nowrap;
    margin-bottom: 5px;
    border-bottom: 2px solid white;
  }
  .category_content_arabic{
    font-size: 14px;
    padding: 10px;

  }
}


/*---------------------------------------------*/
.main-menu > li:hover > a:after {
  color: #17b978;
}

.main-menu > li:hover > a {
  text-decoration: none;
  color: #17b978;
}

.main-menu > li:hover > .sub-menu {
  visibility: visible;
  opacity: 1;
}

.sub-menu li:hover > .sub-menu {
  visibility: visible;
  opacity: 1;
} 

.sub-menu li:hover {
  background-color: transparent;
}

.sub-menu > li:hover > a {
  background-color: #17b978;
  color: #fff;
  text-decoration: none;
}

/*------------------------------------------------------------------
[ Mega menu ]*/
.main-menu > li.mega-menu-item {
  position: static;
}

.sub-mega-menu {
  flex-wrap: wrap;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  width: 100%;
  display: none;
  
  border: 1px solid #f2f2f2;
  box-shadow: 0 5px 10px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 5px 10px 0px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 5px 10px 0px rgba(0,0,0,0.2);
  -o-box-shadow: 0 5px 10px 0px rgba(0,0,0,0.2);
  -ms-box-shadow: 0 5px 10px 0px rgba(0,0,0,0.2);
}

.main-menu > li:hover > .sub-mega-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.sub-mega-menu .nav {
  width: 240px;
  border-right: 1px solid #f2f2f2;
  padding: 30px 0;
}

.sub-mega-menu .tab-content {
  width: calc(100% - 240px);
}

/*---------------------------------------------*/
.sub-mega-menu .nav-pills .nav-link {
  font-size: 14px;
  line-height: 1.8;
  color: #222;
  border-radius: 0;
  padding: 8px 20px 8px 33px;
}

.sub-mega-menu .nav-pills .nav-link.active, 
.sub-mega-menu .show>.nav-pills .nav-link {
  color: #fff;
  background-color: #17b978;
}

/*---------------------------------------------*/
.sub-mega-menu .tab-content .tab-pane {
  padding: 25px 50px 35px 30px;
}



/*==================================================================
[ Fixed menu desktop ]*/
.fix-menu-desktop .main-nav {
  position: fixed;
  top: -55px;
  left: 0;
  transition: transform 0.3s;
  -webkit-transition: transform 0.3s;
  -o-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
}

.fix-menu-desktop .show-main-nav {
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
}

.fix-menu-desktop .menu-desktop {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.fix-menu-desktop .menu-desktop .logo-stick {
  display: block;
}
.hide{
  display:none;
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
[ Header Mobile ]*/
.wrap-header-mobile {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex ;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  background-color: #fff;
  padding: 10px 25px;
  display: none;
  box-shadow: 0 3px 8px 0px rgba(0,0,0,0.05);
  -moz-box-shadow: 0 3px 8px 0px rgba(0,0,0,0.05);
  -webkit-box-shadow: 0 3px 8px 0px rgba(0,0,0,0.05);
  -o-box-shadow: 0 3px 8px 0px rgba(0,0,0,0.05);
  -ms-box-shadow: 0 3px 8px 0px rgba(0,0,0,0.05);
  position: relative;
  z-index: 100;
}

/*------------------------------------------------------------------
[ Logo mobile ]*/
.logo-mobile {
  display: block;
  position: relative;
  height: 100%;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  flex-grow: 1;

}

.logo-mobile img {
  max-width: calc(100% - 35px);
  max-height: 150%;
  position:absolute;
  top: 0; 
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  bottom: 0;
  margin: auto;
}

/*------------------------------------------------------------------
[ btn show menu ]*/
.hamburger {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  padding: 0;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -o-transform: scale(0.6);
  transform: scale(0.6);
}

.hamburger-inner, 
.hamburger-inner:after, 
.hamburger-inner:before {
  border-radius: 0;
}


/*==================================================================
[ Menu mobile ]*/
.menu-mobile {
  width: 100%;
  background-color: #fff;
  display: none;
}

.main-menu-m {
  padding-top: 13px;
  background-color: #17b978;
}

.main-menu-m > li > a {
  font-size: 16px;
  color: #fff;
  line-height: 2.8;
  padding: 9px 25px 9px 25px;

  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.main-menu-m > li > a:hover {
  color: #fff;
}

.main-menu-m > li {
  border-bottom: 2px solid white;
  position: relative;
  background-color: #17b978;
}

.arrow-main-menu-m {
  font-size: 14px;
  color: #fff;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 18px;
  top: 3px;
  padding: 10px;
  cursor: pointer;
}

.arrow-main-menu-m i {
  transform-origin: center;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.turn-arrow-main-menu-m i {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

/*---------------------------------------------*/
.sub-menu-m {
  background-color: #fff;
  padding: 10px 50px 15px 20px;
  display: none;
}

.sub-menu-m a {
  font-size: 15px;
  color: #17b978;
  line-height: 2.5;
  padding: 5px 15px 5px 15px;
}

.sub-menu-m a:hover {
  text-decoration: none;
}



/*---------------------------------------------*/
@media (max-width: 991px){
  .wrap-header-mobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }

  .topbar,
  .logo,
  .no-banner,
  .wrap-main-nav {display: none;}

  .wrap-logo {
    height: auto;
  }

  .banner-header {  
    width: 100%;
    justify-content: center;
  }
}

@media (min-width: 992px){
  .menu-mobile {
    display: none;
  }
}


/*//////////////////////////////////////////////////////////////////
[ Tab01 ]*/
.tab01 .nav-tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: none;
  flex-grow: 1;
  height: 100%;
}

.tab01 .nav-tabs .nav-item-more,
.tab01 .nav-tabs .nav-item {
  height: 100%;
  padding: 0px;
  margin: 0px;
}

.tab01 .nav-link {
  font-size: 14px;
  color: #555;
  line-height: 1.7;
  
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 5px 12px;
  border-radius: 0px;
  border: none;
  position: relative;

  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.tab01 .nav-link.active::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #fff;
  width: 7px;
  height: 7px;
  border-left: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5;
  left: calc(50% - 5px);
  bottom: -5px;
  
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.tab01 .nav-link:hover {
  color: #17b978 !important;
}


/*---------------------------------------------*/
.tab01-link {
  padding-left: 10px;
  white-space: nowrap;
}

.tab01-title {
  padding-right: 25px;
}

/*---------------------------------------------*/
.tab01 .nav-link.dropdown-toggle::after {
  display: none;
}

.tab01 .dropdown-menu {
  min-width: 135px;
  border-radius: 0px;
  padding: 5px 0;
}

.tab01 .dropdown-menu .nav-link {
  width: 100%;
}

.tab01 .dropdown-menu .nav-link.active {
  color: #17b978;
}

.tab01 .dropdown-menu .nav-link.active::after {
  display: none;
}
/*/////////////////////bloger

 */

#page-content {
  margin-top: 100px
}

a {
  color: #448bff;
  text-decoration: none;
  background-color: transparent
}

a:hover {
  color: #005ef7;
  text-decoration: underline
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none
}

a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
  color: inherit;
  text-decoration: none
}

a:not([href]):not([tabindex]):focus {
  outline: 0
}

@media (min-width:576px) {
  .col-sm {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%
  }

  .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%
  }

  .col-sm-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%
  }

  .col-sm-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%
  }

  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%
  }

  .col-sm-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%
  }

  .col-sm-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%
  }

  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%
  }

  .col-sm-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%
  }

  .col-sm-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%
  }

  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%
  }

  .col-sm-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%
  }

  .col-sm-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%
  }

  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%
  }

  .order-sm-first {
    order: -1
  }

  .order-sm-last {
    order: 13
  }

  .order-sm-0 {
    order: 0
  }

  .order-sm-1 {
    order: 1
  }

  .order-sm-2 {
    order: 2
  }

  .order-sm-3 {
    order: 3
  }

  .order-sm-4 {
    order: 4
  }

  .order-sm-5 {
    order: 5
  }

  .order-sm-6 {
    order: 6
  }

  .order-sm-7 {
    order: 7
  }

  .order-sm-8 {
    order: 8
  }

  .order-sm-9 {
    order: 9
  }

  .order-sm-10 {
    order: 10
  }

  .order-sm-11 {
    order: 11
  }

  .order-sm-12 {
    order: 12
  }

  .offset-sm-0 {
    margin-left: 0
  }

  .offset-sm-1 {
    margin-left: 8.3333333333%
  }

  .offset-sm-2 {
    margin-left: 16.6666666667%
  }

  .offset-sm-3 {
    margin-left: 25%
  }

  .offset-sm-4 {
    margin-left: 33.3333333333%
  }

  .offset-sm-5 {
    margin-left: 41.6666666667%
  }

  .offset-sm-6 {
    margin-left: 50%
  }

  .offset-sm-7 {
    margin-left: 58.3333333333%
  }

  .offset-sm-8 {
    margin-left: 66.6666666667%
  }

  .offset-sm-9 {
    margin-left: 75%
  }

  .offset-sm-10 {
    margin-left: 83.3333333333%
  }

  .offset-sm-11 {
    margin-left: 91.6666666667%
  }
}

.text-muted {
  color: #99a0ac !important
}

.block,
.card {
  background: #fff;
  border-width: 0;
  border-radius: .25rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .05);
  margin-bottom: 1.5rem
}

.avatar {
  position: relative;
  line-height: 1;
  border-radius: 500px;
  white-space: nowrap;
  font-weight: 700;
  border-radius: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  border-radius: 500px;
  box-shadow: 0 5px 10px 0 rgba(50, 50, 50, .15)
}

.avatar img {
  border-radius: inherit;
  width: 100%
}

.gd-primary {
  color: #fff;
  border: none;
  background: #448bff linear-gradient(45deg, #448bff, #44e9ff)
}

.gd-success {
  color: #fff;
  border: none;
  background: #31c971 linear-gradient(45deg, #31c971, #3dc931)
}

.gd-info {
  color: #fff;
  border: none;
  background: #14bae4 linear-gradient(45deg, #14bae4, #14e4a6)
}

.gd-warning {
  color: #fff;
  border: none;
  background: white;
  border: 1px solid #1B75BB;
  padding: 3px;

}

@media (min-width:992px) {
  .page-container {
    max-width: 1140px;
    margin: 0 auto
  }

  .page-sidenav {
    display: block !important
  }
}

.list {
  padding-left: 0;
  padding-right: 0
}

.list-item {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word
}

.list-row .list-item {
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-align: center;
  align-items: center;
  padding: .75rem .625rem;
  background-color: whitesmoke;
  padding: 3%;margin: 2% ;

}
.list-row .list-item:hover {
  background-color: white;


}


.list-row .list-item>* {
  padding-left: .625rem;
  padding-right: .625rem
}

.no-wrap {
  white-space: nowrap
}

.text-color {
  color: #5e676f
}

.text-gd {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-fill-color: transparent
}

.text-sm {
  font-size: .825rem
}

.h-1x {
  height: 1.25rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical
}

.w-48 {
  width: 48px !important;
  height: 48px !important
}

a:link {
  text-decoration: none
}
/*
carousel
*/

.carousel {
  position: relative;
}

.carousel-caption {
  position: absolute;
  padding: 15px 10px;
  margin-bottom: 30px;
}
.title-caption{
  font-size: xx-large;
  color:#17b978;
}
.soustitle-caption{
  font-size: large;
  color:white;
}
.detial-caption{
  font-size: large;
  color: white;
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%;
}
/*
user card
*/
.profile-header {
  transform: translateY(5rem);
}
#img_pic{
border-color: #17b978;
}
/*
card article
*/
.card-horizontal {
  display: flex;
  flex: 1 1 auto;
  width:100%;
  height:150px;
}
/*
comment field
*/
@media (min-width: 0) {
  .g-mr-15 {
    margin-right: 1.07143rem !important;
  }
}
@media (min-width: 0){
  .g-mt-3 {
    margin-top: 0.21429rem !important;
  }
}

.g-height-50 {
  height: 50px;
}

.g-width-50 {
  width: 50px !important;
}

@media (min-width: 0){
  .g-pa-30 {
    padding: 2.14286rem !important;
  }
}

.g-bg-secondary {
  background-color: #fafafa !important;
}

.u-shadow-v18 {
  box-shadow: 0 5px 10px -6px rgba(0, 0, 0, 0.15);
}

.g-color-gray-dark-v4 {
  color: #777 !important;
}

.g-font-size-12 {
  font-size: 0.85714rem !important;
}

.media-comment {
  margin-top:20px
}


/*
end bloger
 */


/*//////////////////////////////////////////////////////////////////
[ Modal video 01 ]*/
body {padding-right: 0px !important;}
.modal {
  padding: 0px !important;
  z-index: 1160;
  overflow-x: hidden;
  overflow-y: auto !important;
}
.modal-open {overflow-y: scroll;}

/* ------------------------------------ */
.modal-backdrop {
  background-color: transparent;
}

#modal-video-01 {
  background-color: rgba(0,0,0,0.8);
  z-index: 1250;
  
}

#modal-video-01 .modal-dialog {
  max-width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
}

.wrap-video-mo-01 {
  width: 854px;
  height: auto;
  position: relative;
  margin: 15px;
}

.wrap-video-mo-01::before {
  content: "";
  display: block;
  width: 100%;
  padding-top: 56.25%;
}

.video-mo-01 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: all 2s;
  -o-transition: all 2s;
  -moz-transition: all 2s;
  transition: all 2s;
}

.video-mo-01 iframe {
  width: 100%;
  height: 100%;
}

.close-mo-video-01 {
  font-size: 50px;
  color: white;
  opacity: 0.6;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1250;
  width: 60px;
  height: 60px;
  top: 0;
  right: 0;
}

.close-mo-video-01:hover {
  cursor: pointer;
  opacity: 1;
}

/*//////////////////////////////////////////////////////////////////
[ Bread crumb ]*/
.breadcrumb-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.breadcrumb-item+.breadcrumb-item::before {
  height: 100%;
  content: "\f105";
  font-size: 12px;
  padding-right: 10px;
  padding-left: 12px;
  color: #999;
}

a.breadcrumb-item:hover {
  color: #17b978;
}

/*//////////////////////////////////////////////////////////////////
[ Pagination ]*/
.pagi-item {
  font-size: 13px;
  line-height: 1.5;
  color: #808080;
  width: 36px;
  height: 36px;
  border: 1px solid #e9e9e9;
  border-radius: 50%;
}

.pagi-item.pagi-active {
  background-color: #17b978;
  border-color: #17b978;
  color: #fff;
}


/*==================================================================
   COLOR COLOR COLOR COLOR COLOR COLOR COLOR COLOR COLOR COLOR COLOR 
==================================================================*/
.bocl0 {border-color: #fff;}
.bocl1 {border-color: #111;}
.bocl2 {border-color: #222;}
.bocl3 {border-color: #333;}
.bocl4 {border-color: #444;}
.bocl5 {border-color: #555;}
.bocl6 {border-color: #666;}
.bocl7 {border-color: #777;}
.bocl8 {border-color: #888;}
.bocl9 {border-color: #999;}
.bocl10 {border-color: #17b978;}
.bocl11 {border-color: #e6e6e6;}
.bocl12 {border-color: #ccc;}
.bocl13 {border-color: #d9d9d9;}

/*---------------------------------------------*/
.cl-none {color: transparent;}
.cl0 {color: #fff;}
.cl1 {color: #111;}
.cl2 {color: #222;}
.cl3 {color: #333;}
.cl4 {color: #444;}
.cl5 {color: #555;}
.cl6 {color: #666;}
.cl7 {color: #777;}
.cl8 {color: #888;}
.cl9 {color: #999;}
.cl10 {color: #17b978;}
.cl11 {color: #ccc;}
.cl12 {color: #e71d69;}
.cl13 {color: #15a752;}
.cl14 {color: #e3724a;}
.cl15 {color: #b2b2b2;}
.cl16 {color: #e5e5e5;}
.cl17 {color: #00b5e9;}
.cl18 {color: #2489b0;}


/*==================================================================
    TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT
==================================================================*/
/*//////////////////////////////////////////////////////////////////
[ S-Text 0 - 15 ]*/
.f1-s-1 {
  font-size: 14px;
  line-height: 1.7;
}

.f1-s-2 {
  font-size: 14px;
  line-height: 1.2;
}

.f1-s-3 {
  font-size: 12px;
  line-height: 1.7;
}

.f1-s-4 {
  font-size: 13px;
  line-height: 1.7;
}

.f1-s-5 {

  font-size: 15px;
  line-height: 1.333333;
}

.f1-s-6 {

  font-size: 12px;
  line-height: 1.7;
}

.f1-s-7 {

  font-size: 15px;
  line-height: 1.466667;
}

.f1-s-8 {
  font-size: 14px;
  line-height: 1.5;
}

.f1-s-9 {
  font-size: 12px;
  line-height: 1.5;
}

.f1-s-10 {
  font-size: 13px;
  line-height: 1.3;
}

.f1-s-11 {
  font-size: 14px;
  line-height: 1.8;
}

.f1-s-12 {
  font-size: 15px;
  line-height: 1.8;
}

.f1-s-13 {
  font-size: 13px;
  line-height: 1.7;
}

/*---------------------------------------------*/
.f2-s-1 {
  font-size: 14px;
  line-height: 1.7;
}


/*//////////////////////////////////////////////////////////////////
[ M-Text 16 - 25 ]*/
.f1-m-1 {
  font-size: 16px;
  line-height: 1.5;
}

.f1-m-2 {
  font-size: 18px;
  line-height: 1.333333;
}

.f1-m-3 {
  font-size: 20px;
  line-height: 1.25;
}

.f1-m-4 {
  font-size: 16px;
  line-height: 1.5;
}

.f1-m-5 {
  font-size: 24px;
  line-height: 1.3;
}

.f1-m-6 {
  font-size: 18px;
  line-height: 1.333333;
}

.f1-m-7 {
  font-size: 20px;
  line-height: 1.3;
}


/*//////////////////////////////////////////////////////////////////
[ L-Text >= 26 ]*/
.f1-l-1 {
  font-size: 30px;
  line-height: 1.2;
}

.f1-l-2 {
  font-size: 22px;
  line-height: 1.272727;
}

.f1-l-3 {
  font-size: 30px;
  line-height: 1.3;
}

.f1-l-4 {
  font-size: 22px;
  line-height: 1.545454;
}

.f1-l-5 {
  font-size: 36px;
  line-height: 1.333333;
}


/*==================================================================
    SIZE SIZE SIZE SIZE SIZE SIZE SIZE SIZE SIZE SIZE SIZE SIZE SIZE 
==================================================================*/
/*//////////////////////////////////////////////////////////////////
[ Size ]*/
.size-a-1 {
  width: 45px;
  height: 100%;
}

.size-a-2 {
  width: 220px;
  height: 45px;
}

.size-a-3 {
  width: 100%;
  height: 440px;
}
.size-a-3-plus {
  width: 100%;
  height: 500px;
}
.size-a-3-min {
  width: 100%;
  height: 500px;
}
@media (max-width: 767px) {
  .size-a-3-min {
    width: 100%;
    height: 550px;
  }
}


.size-a-4 {
  width: 100%;
  height: 244px;
}
.size-a-5-plus {
  width: 100%;
  height: 220px;
}
.size-a-5 {
  width: 100%;
  height: 194px;
}

.size-a-6 {
  max-width: 100%;
  max-height: 72px;
}

.size-a-7 {
  max-width: 100%;
  max-height: 54px;
}

.size-a-8 {
  width: 30px;
  height: 30px;
}

.size-a-9 {
  width: 100%;
  height: 60px;
}

.size-a-10 {
  width: 55px;
  height: 100%;
}


/*---------------------------------------------*/
.size-a-11 {
  width: 100%;
  height: 536px;
}

@media (max-width: 1199px) {
  .size-a-11 {height: 400px;}
}

@media (max-width: 575px) {
  .size-a-11 {height: 350px;}
}

/*---------------------------------------------*/
.size-a-12 {
  width: 100%;
  height: 292px;
}

.size-a-13 {
  width: 100%;
  height: 50px;
}

.size-a-14 {
  width: 100%;
  height: 219px;
}

.size-a-15 {
  width: 100%;
  min-height: 150px;
}

.size-a-16{
  width: 100%;
  max-width: 286px;
  height: 50px;
}

.size-a-17 {
  max-width: 100%;
  min-width: 180px;
  height: 40px;
}

/*---------------------------------------------*/
.size-a-18 {
  width: 100%;
  height: 680px;
}

@media (max-width: 767px) {
  .size-a-18 {height: 480px;}
}

/*---------------------------------------------*/
.size-a-19{
  width: 100%;
  height: 50px;
}

.size-a-20 {
  max-width: 100%;
  min-width: 120px;
  height: 40px;
}


/*//////////////////////////////////////////////////////////////////
[ Width ]*/
.size-w-0 {
  flex-grow: 1;
}

.size-w-1 {
  width: 100px;
}

.size-w-2 {
  width: calc(100% - 118px);
}

.size-w-3 {
  width: calc(100% - 48px);
}

.size-w-4 {
  width: 80px;
}

.size-w-5 {
  width: calc(100% - 95px);
}

.size-w-6 {
  width: calc(62% - 20px);
}

.size-w-7 {
  width: calc(38% - 20px);
}

.size-w-8 {
  width: 260px;
}

.size-w-9 {
  width: calc(100% - 285px);
}

.size-w-10 {
  width: 100px;
}

.size-w-11 {
  width: calc(100% - 118px);
}

/*//////////////////////////////////////////////////////////////////
[ Height ]*/
.size-h-1 {
  max-height: 45px;
}

.size-h-2 {
  min-height: 40px;
}

.size-h-3 {
  height: 95px;
}

.size-h-3 {
  height: 95px;
}

.size-h-4 {
  min-height: 80px;
}


/*==================================================================
   BACKGROUND BACKGROUND BACKGROUND BACKGROUND BACKGROUND BACKGROUND 
==================================================================*/
.bg-none {background-color: transparent;}
.bg0 {background-color: #fff;}
.bg1 {background-color: #111;}
.bg2 {background-color: #222;}
.bg3 {background-color: #333;}
.bg4 {background-color: #444;}
.bg5 {background-color: #555;}
.bg6 {background-color: #666;}
.bg7 {background-color: #777;}
.bg8 {background-color: #888;}
.bg9 {background-color: #999;}
.bg10 {background-color: #17b978;}
.bg11 {background-color: #151515;}


/*---------------------------------------------*/
.bg-img1 {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*---------------------------------------------*/
.bg-img2 {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*---------------------------------------------*/
.bg-facebook {background-color: #3b5998;}
.bg-twitter {background-color: #1da1f2;}
.bg-youtube {background-color: #ff0000;}
.bg-google {background-color: #dd4b39;}
.bg-pinterest {background-color: #bd081c;}





/*==================================================================
 HOW HOW HOW HOW HOW HOW HOW HOW HOW HOW HOW HOW HOW HOW HOW HOW HOW 
==================================================================*/

/*---------------------------------------------*/
.how-bor1 {
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

.how-bor1:last-child {
  border: none;
}

/*---------------------------------------------*/
.how-bor2 {
  border-bottom: 1px solid #f0f0f0;
}

.how-bor2:last-child {
  border: none;
}

/*---------------------------------------------*/
.how-bor3 {
  border-bottom: 1px solid #e6e6e6;
}

.how-bor3:first-child {
  border-top: 1px solid #e6e6e6;
}

/*---------------------------------------------*/
.how-txt1 {
  font-weight: 600;
  line-height: 1.2;
  white-space: normal;
  display: -webkit-box;
  display:-moz-box;
  display:-webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  /*overflow: hidden;*/
  text-overflow: ellipsis;

}

/*---------------------------------------------*/
.how-txt2 {
  white-space: normal;
  display: -webkit-box;
  display:-moz-box;
  display:-webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*---------------------------------------------*/
.how-txt3 {
  white-space: normal;
  overflow: hidden;
}

/*---------------------------------------------*/
.how-overlay1 {
  position: relative;
  z-index: 1;
}

.how-overlay1::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
  background: rgba(0,0,0,0.5);
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,0));
  background: -o-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,0));
  background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,0));
  background: linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

/*---------------------------------------------*/
.how1 {
  position: relative;
}

.how1-child1 {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
  background: rgba(0,0,0,0.5);
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,0));
  background: -o-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,0));
  background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,0));
  background: linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

.how1:hover .how1-child1 {
  opacity: 0.3;
}

.how1-child2 {
  z-index: 3;
}
/****
news slider
 */


/*
profil icon
*/



.image_outer_container{
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 50%;

}

.image_inner_container{
  border-radius: 50%;
  padding: 5px;
  background: #833ab4;
  background: -webkit-linear-gradient(to bottom, #fcb045, #fd1d1d, #833ab4);
  background: linear-gradient(to bottom, #fcb045, #fd1d1d, #833ab4);
}
.pp{
  background-color: white;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: 1px solid #1B75BB;
  padding: 3px;
}

.image_outer_container .green_icon{
  background-color: #4cd137;
  position: absolute;
  right: 2px;
  bottom: 10px;
  height: 15px;
  width: 15px;
  border:1.5px solid white;
  border-radius: 50%;
}
/*---------------------------------------------*/
.how2 {
  width:100%;
  height: 50px;
 /* border: 1px solid #e6e6e6;*/

  position: relative;
}
how4{
  width: 100%;
  height: 50px;

}
.my-badge{
  font-size: 12px;
  border-radius: 50%;
  padding-left:10%;
  text-align: center;
  position: relative;
  margin-right: -14px;
}

.how2::before {
  content: "";
  display: block;
  position: absolute;
  width: 8px;
  height: calc(100% + 2px);
  top: -1px;
  right: -1px;
}
.my-font-size{
  font-size: 22px;
}

.how2-cl1::before {
  background-color: #e71d69;
}
.how2-cl7::before {
  background-color: #D32F2F;
}

.how2-cl2::before {
  background-color: #15a752;
}

.how2-cl3::before {
  background-color: #e3724a;
}

.how2-cl4::before {
  background-color: #1B75BB;
}

.how2-cl5::before {
  background-color: #00b5e9;
}

.how2-cl6::before {
  background-color: #2489b0;
}
/*
carousel fixed hight
*/
.carousel-inner .carousel-item{
  height:500px;
  background-size:cover;
  background-position: center center;
}

/*==================================================================
      PSEUDO PSEUDO PSEUDO PSEUDO PSEUDO PSEUDO PSEUDO PSEUDO PSEUDO
==================================================================*/
/*//////////////////////////////////////////////////////////////////
[ Hover ]*/

.hov-cl0:hover {color: #fff;}
.hov-cl3:hover {color: #1B75BB;border: 1px solid #1B75BB }
.hov-bg0:hover {background-color: #fff;}

.hov-cl10:hover {color: #17b978;}
.hov-bg10:hover {background-color: #17b978;}

/*---------------------------------------------*/
.hov-img0 {
  display: block;
  overflow: hidden;
}

.hov-img0 > img{
  width: 100%;
  -webkit-transition: transform 0.9s ease;
  -o-transition: transform 0.9s ease;
  -moz-transition: transform 0.9s ease;
  transition: transform 0.9s ease;
}

.hov-img0:hover > img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

/*---------------------------------------------*/
.hov-link1:hover {
  color: #17b978;
  text-decoration: underline;
}

/*---------------------------------------------*/
.hov-btn1:hover {
  background-color: #17b978;
  border-color: #17b978;
  color: #fff;
}

/*---------------------------------------------*/
.hov-btn2:hover {
  border-color: #17b978;
  color: #17b978;
}


/*---------------------------------------------*/
.hov1:hover {
  opacity: 0.8;
}



/*==================================================================
   OTHER OTHER OTHER OTHER OTHER OTHER OTHER OTHER OTHER OTHER OTHER 
==================================================================*/
/*------------------------------------------------------------------
[ Input ]*/
.focus-in0:focus::-webkit-input-placeholder { color:transparent; }
.focus-in0:focus:-moz-placeholder { color:transparent; }
.focus-in0:focus::-moz-placeholder { color:transparent; }
.focus-in0:focus:-ms-input-placeholder { color:transparent; }

.plh3::-webkit-input-placeholder { color: #333;}
.plh3:-moz-placeholder { color: #333;}
.plh3::-moz-placeholder { color: #333;}
.plh3:-ms-input-placeholder { color: #333;}

.plh6::-webkit-input-placeholder { color: #666;}
.plh6:-moz-placeholder { color: #666;}
.plh6::-moz-placeholder { color: #666;}
.plh6:-ms-input-placeholder { color: #666;}

.plh9::-webkit-input-placeholder { color: #999;}
.plh9:-moz-placeholder { color: #999;}
.plh9::-moz-placeholder { color: #999;}
.plh9:-ms-input-placeholder { color: #999;}

/*------------------------------------------------------------------
[ Parallax100 ]*/
.parallax100 {
  background-attachment: fixed;
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
}
.round_btn{
  text-align: center;
  border-radius: 50%;
  width: 41px;
  height: 41px;
}
@media (max-width: 991px) {
  .parallax100 {background-attachment: inherit;}
}

/*------------------------------------------------------------------
[ Wrap Picture ]*/
.wrap-pic-s, .wrap-pic-max-s,
.wrap-pic-w, .wrap-pic-max-w,
.wrap-pic-h, .wrap-pic-max-h {display: block;}

.wrap-pic-w > img {width: 100%;}
.wrap-pic-max-w > img {max-width: 100%;}

.wrap-pic-h > img {height: 100%;}
.wrap-pic-max-h > img {max-height: 100%;}

.wrap-pic-s > img {width: 100%; height: 100%;}
.wrap-pic-max-s > img {max-width: 100%; max-height: 100%;}





/*==================================================================
  RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE
==================================================================*/

@media (max-width: 1199px) {
  
}


@media (max-width: 991px) {
  .respon1 {font-size: 22px}

}


@media (max-width: 767px) {
  .respon2 {font-size: 22px}
  .profile-pic {
    max-width: 150px;
    max-height: 150px;
    display: block;
  }

  .circle {
    width: 150px;
    height: 150px;
  }
  .p-image {
    padding: 4px;
    border: 3px solid #f8f9fa ;
    width: 35px;
    height: 35px;
    top: 105px;
    right: 12px;
  }
  .p-validate {

    padding: 4px;
    border: 3px solid #f8f9fa ;
    width: 25px;
    height: 25px;
    top: 105px;
    right: 12px;
  }
  .upload-button {
    font-size: 16px;
  }
  .fa_check{
    font-size:15px;
  }
  .my-font-size{
    font-size: 20px;
  }
  .round_btn{
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
}


@media (max-width: 575px) {
  
}


@media (max-width: 480px) {
  .round_btn{
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }
  .profile-pic {
    max-width: 120px;
    max-height: 120px;
    display: block;
  }

  .circle {
    width: 120px;
    height: 120px;
  }
  .p-image {
    padding: 3px;
    border: 3px solid #f8f9fa ;
    width: 30px;
    height: 30px;
    top: 83px;
    right: 15px;
  }
  .p-validate {

    padding: 1px;
    border: 3px solid #f8f9fa ;
    width: 25px;
    height: 25px;
    top: 83px;
    right: 15px;
  }
  .fa_check{
    font-size:13px;
  }
  .upload-button {
    font-size: 15px;
  }
  .my-font-size{
    font-size: 12px;
    font-weight: 500;
  }
  .my-badge{
    font-size: 7px;
    border-radius: 50%;
    padding-left:10%;
    text-align: center;
    position: relative;
    margin-right: -8px;
  }
  
}
