
/**
carousel news
 */

#mixedSlider {
    position: relative;
}
#mixedSlider .MS-content {
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}
#mixedSlider .MS-content .item {
    display: inline-block;
    width: 25%;
    position: relative;
    height: 360px;
    white-space: normal;
    padding: 0 5px;
    text-align: right;

}

@media (max-width: 991px) {
    #mixedSlider .MS-content .item {
        width: 33%;
    }
}
@media (max-width: 767px) {
    #mixedSlider .MS-content .item {
        width: 50%;
    }
}
@media (max-width: 500px) {
    #mixedSlider .MS-content .item {
        width: 100%;
    }
}
#mixedSlider .MS-content .item .imgTitle {
    position: relative;
}
#mixedSlider .MS-content .item .imgTitle .blogTitle {
    margin: 0;
    text-align: right;
    color: #252525;
    font-style: italic;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    bottom: 0;
    font-weight: bold;
}
#mixedSlider .MS-content .item .imgTitle img {
    height: auto;
    width: 100%;
}
#mixedSlider .MS-content .item p {
    font-size: 16px;
    margin: 2px 10px 0 5px;
    text-indent: 15px;
}
#mixedSlider .MS-content .item a {
    float: right;
    margin: 0 0 0 0;
    font-size: 16px;
    font-style: italic;
    color: rgba(173, 0, 0, 0.82);
    font-weight: bold;
    letter-spacing: 1px;
    transition: linear 0.1s;
}
#mixedSlider .MS-content .item a:hover {
    text-shadow: 0 0 1px grey;
}
#mixedSlider .MS-controls button {
    position: absolute;
    border: none;
    background-color: transparent;
    outline: 0;
    font-size: 50px;
    top: 95px;
    color: rgba(0, 0, 0, 0.4);
    transition: 0.15s linear;
}
#mixedSlider .MS-controls button:hover {
    color: rgba(0, 0, 0, 0.8);
}
@media (max-width: 992px) {
    #mixedSlider .MS-controls button {
        font-size: 30px;
    }
}
@media (max-width: 767px) {
    #mixedSlider .MS-controls button {
        font-size: 20px;
    }
}
#mixedSlider .MS-controls .MS-left {
    left: 0px;
}

#mixedSlider .MS-controls .MS-right {
    right: 0px;
}

#basicSlider { position: relative; }

#basicSlider .MS-content {
    white-space: nowrap;
    overflow: hidden;
    margin: 0 2%;
    height: 50px;
}

#basicSlider .MS-content .item {
    display: inline-block;
    width: 20%;
    position: relative;
    vertical-align: top;
    overflow: hidden;
    height: 100%;
    white-space: normal;
    line-height: 50px;
    vertical-align: middle;
}
@media (max-width: 991px) {

    #basicSlider .MS-content .item { width: 25%; }
}
@media (max-width: 767px) {

    #basicSlider .MS-content .item { width: 25%; }
}
@media (max-width: 500px) {

    #basicSlider .MS-content .item { width: 33%; }
}

#basicSlider .MS-content .item a {
    line-height: 50px;
    vertical-align: middle;
}

#basicSlider .MS-controls button { position: absolute; }

#basicSlider .MS-controls .MS-left {
    top: 35px;
    left: 10px;
}

#basicSlider .MS-controls .MS-right {
    top: 35px;
    right: 10px;
}


/*
end
 */
