{% form_theme myForm _self %}
{% block _tags_entry_widget %}
    <div class="repeator-step" style="display: flex">

            {{ form_widget(form.keyWord,{'attr': {'label':'true'}}) }}

        {% if form.vars.name != "0" %}
            <button class="repeator-delete  btn btn-info">
                <i class="fas fa-times"></i>
            </button>
        {% else %}
            <button style="display: none" class="btn  btn-danger disabled" disabled>
                <i class="fas fa-times"></i>
            </button>
        {% endif %}
    </div>
{% endblock %}