{% extends 'base.html.twig' %}


{% block last_post %}
    {% form_theme myForm '/admin/user_profil/_tags.html.twig' %}
    <section class="bg0 p-b-50 ">
        <div class="container">

            <form method="post" >
                {{ form_start(myForm) }}
                <div class=" justify-content-center">
                    <div class="row">
                        <div class="col-md-3 col-lg-3">
                            <img class="bar-pub"  src="{{ asset('assets/images/pub.jpg') }}"  alt="img">
                        </div>
                        <div class="col-md-9 col-lg-9 p-b-30" style="direction: rtl;">
                            <div class="p-r-10 p-t-50 p-r-0-sr991" style="font-size: xx-large;text-align: center">
                                <i class="fas fa-hashtag"></i>
                                إضافة تغريدة جديدة
                            </div>

                            <div class="form-group" style="text-align: right">
                                <label style="font-size: large">عنوان التغريدة </label>
                                {{ form_row(myForm.title, { 'attr': { 'class': 'form-control mb-3', 'maxlength':'50', 'placeholder' : 'العنوان يكون دقيق و معبر و لا يتجاوز 50 حرفا '} }) }}
                                <label style="font-size: large"> محتوى التغريدة </label>
                                {{ form_row(myForm.content, { 'attr': { 'class': 'form-control form-control-lg mb-3','maxlength':'700', 'placeholder' : 'محتوى التغريدة يكون دقيق ولا يتجاوز 700 حرف ', 'rows' : '8' } }) }}
                            </div>

                            <div style="margin-top: 5%; font-size: large ">
                                {% if is_granted('ROLE_ADMIN') %}
                                    <button type="submit"   class="btn btn-primary btn-lg "> نشر التغريدة <i
                                                class="fas fa-upload"></i></button>

                                {% else %}
                                    <span class="text-right"> ستتلقى إشعار فور نشر التغريدة </span>
                                    <button type="submit" class="btn btn-primary btn-lg ">إرسال التغريدة <i
                                                class="far fa-paper-plane"></i></button>
                                {% endif %}
                            </div>
                        </div>  
                    </div>
                    
                </div>
                {{ form_end(myForm) }}
            </form>

        </div>
    </section>
{% endblock %}
 {% block javascripts %}
     {{parent()}}
     <script type="text/javascript">
         $(function () {
             var counter = 1;
             $('#add-another-collection-widget').click(function (e) {
                 e.preventDefault();
                 let list = jQuery(jQuery(this).attr('data-list'));
                 let newWidget = list.attr('data-prototype');
                 newWidget = newWidget.replace(/__name__/g, counter);
                 counter++;
                 list.append(newWidget);
                 $('.repeator-delete').on('click', function(e) {
                     e.preventDefault();
                     $(this).closest('.repeator-step').remove();
                 });
             });
         });
     </script>
     <script type="text/javascript">
         let input = document.getElementById('photoPath');
         input.oninput = handleInput;
         function handleInput(e) {
           showpict();
         }

         function showpict() {
             var image = document.getElementById('image_link');

             function getUrl() {
                 var url = document.getElementById("photoPath").value;
                 return url;
             }
             if (getUrl()==""){
                 image.src = "https://via.placeholder.com/300";
             }
             else {
                 image.src = getUrl();
             }

         }

     </script>
 {% endblock %}