{% extends 'base.html.twig' %}


{% block last_post %}
    {% form_theme myForm '/admin/user_profil/_tags.html.twig' %}
    <section class="bg0 p-b-140 p-t-10">
        <div class="container">

            <form method="post" >
                {{ form_start(myForm) }}
                <div class="row justify-content-center">
                    <div class="col-md-10 col-lg-8 p-b-30" style="direction: rtl;">
                        <div class="p-r-10 p-t-50 p-r-0-sr991" style="font-size: xx-large;text-align: center">
                            <i class="fas fa-plus-square"></i>
                            إضافة مقال جديد
                        </div>

                        <div class="form-group" style="text-align: right">
                            <label style="font-size: large">عنوان المقال </label>
                            {{ form_row(myForm.title, { 'attr': { 'class': 'form-control mb-3'} }) }}
                            <label style="font-size: large"> محتوى المقال </label>
                            {{ form_row(myForm.content, { 'attr': { 'class': 'form-control form-control-lg mb-3', 'placeholder' : 'أكتب هنا ....', 'rows' : '20' } }) }}
                        </div>
                    </div>
                    <div class="col-md-10 col-lg-4 p-b-30">
                        <div class="p-l-10 p-rl-0-sr991 p-t-70">
                            <!-- Category -->
                            <div class="p-b-60 custom-s" style="direction: rtl;font-size: x-large;text-align: right;">
                                <div class="how2 how2-cl4 flex-s-c">
                                    <h3 class="f1-m-2 cl3 tab01-title" style="font-size: x-large">
                                        معلومات المقال
                                    </h3>
                                </div>
                                <div style="margin-top: 5%; font-size: large ">
                                    <label style="font-size: large">فئة المقال</label>
                                    {{ form_row(myForm.category, { 'attr': { 'class': 'browser-default custom-select custom-select-md mb-3' } }) }}
                                    {% if is_granted('ROLE_ADMIN') %}
                                    <label style="font-size: large">رابط الصورة</label>
                                    {{ form_row(myForm.photoPath, { 'attr': { 'class': 'form-control mb-3' ,'id':'myLink' } }) }}
                                    <label style="font-size: large">مصدر الصورة </label>
                                    {{ form_row(myForm.pictureRef, { 'attr': { 'class': 'form-control mb-3','placeholder' : 'إذا كانت الصورة ذا ملكية فيجب كتابة المصدر لتجنب مخالفات الملكية'  } }) }}

                                <img src="https://via.placeholder.com/300" alt="..." class="img-thumbnail"
                                         id="image_link">
                                    <div class="form-group" style="margin-top: 10%">
                                        {% else %}
                                        {{ form_row(myForm.photoPath, { 'attr': { 'class': 'form-control mb-3 hide' ,'id':'myLink' } }) }}
                                        {% endif %}
                                        <label style="font-size: large">الكلمات الدلالية </label>
                                        <button id="add-another-collection-widget" class="txt100"

                                                data-list="#tags"><i style="font-size: xx-large" class="txt100 fa fa-plus-square"></i>
                                        </button>
                                        {{ form_widget( myForm.tags )}}
                                    </div>
                                    {% if is_granted('ROLE_ADMIN') %}
                                    <button type="submit"   class="btn btn-primary btn-lg btn-block"> نشر المقال <i
                                                class="fas fa-upload"></i></button>

                                    {% else %}
                                        <span> ستتلقى إشعار فور نشر المقال .</span>
                                    <button type="submit" class="btn btn-primary btn-lg btn-block">إرسال المقال <i
                                                class="far fa-paper-plane"></i></button>
                                    {% endif %}
                                </div>


                            </div>

                        </div>
                    </div>
                </div>
                {{ form_end(myForm) }}
            </form>

        </div>
    </section>
{% endblock %}
 {% block javascripts %}
     {{parent()}}
     <script type="text/javascript">
         $(function () {
             var counter = 1;
             $('#add-another-collection-widget').click(function (e) {
                 e.preventDefault();
                 let list = jQuery(jQuery(this).attr('data-list'));
                 let newWidget = list.attr('data-prototype');
                 newWidget = newWidget.replace(/__name__/g, counter);
                 counter++;
                 list.append(newWidget);
                 $('.repeator-delete').on('click', function(e) {
                     e.preventDefault();
                     $(this).closest('.repeator-step').remove();
                 });
             });
         });
     </script>
     <script type="text/javascript">
         let input = document.getElementById('photoPath');
         input.oninput = handleInput;
         function handleInput(e) {
           showpict();
         }

         function showpict() {
             var image = document.getElementById('image_link');

             function getUrl() {
                 var url = document.getElementById("photoPath").value;
                 return url;
             }
             if (getUrl()==""){
                 image.src = "https://via.placeholder.com/300";
             }
             else {
                 image.src = getUrl();
             }

         }

     </script>
 {% endblock %}