{% extends 'base.html.twig' %}

{% block last_post %}
    {{ form_start(myForm) }}


    <section class="bg0 p-b-55" style="margin-top: 0.1%;direction: rtl;text-align: right">
        <div class="container p-t-30">
            <div class="bg0 ">
                <form>
                    <div class="bg-white shadow rounded overflow-hidden">
                        <div class="px-4 pt-0 pb-4 bg-dark">
                            <div class="media align-items-end profile-header">
                                <div class="profile ">


                                    {% if app.user.picture is defined %}
                                        <img class="profile-pic circle  mb-2 img-thumbnail" src="{{ asset('upload/users/' ~ app.user.picture) }}">
                                    {% else %}
                                        <!-- Default Image -->
                                    {% endif %}

                                    <div class="p-image btn ">
                                        <i style="color: #f8f9fa;justify-content: center;" class="fa fa-camera upload-button"></i>
                                        <div style="display: none">
                                            {{ form_row(myForm.picture, {'class': 'file-upload'}) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="media-body mb-5 text-white my-font-size ">
                                    <h2 class="mt-0 mb-0" style=" padding-right: 2%"><i class="fas fa-id-card-alt"></i> {{ app.user.fullName }} </h2>
                                    <h2 class="mt-0 mb-1" style=" padding-right: 2%"> <i class="far fa-id-card"></i> {{ app.user.fonction }} </h2>
                                </div>
                            </div>
                        </div>

                        <div class="bg-light p-4 d-flex justify-content-end text-center">

                         <span class="f1-s-3" style="font-size: x-large">
							 <span  class="mt-0 mb-0 btn btn-dark" style="font-size: large"> {{ stats.totalArticles }} <i class="fas fa-paste"></i></span>
                    <span class=" btn btn-dark" style="font-size: large"> {{ stats.totalViews }} <i class="fa fa-eye"></i></span>

                         </span>
                            </span>

                        </div>

                        <!-- edit detail -->

                        <div class="container p-b-100" >

                            <div class="row" style="direction: rtl">
                                <!-- left column -->
                                <div class="col-md-3 text-center p-t-110 " >
                                    <span style="font-size: xx-large;text-align: center">تعديل الملف</span>
                                    <hr>
                                    <span style="font-size: large"> بالضغط على حفظ التغييرات لا يمكن إسترجاع البيانات السابقة</span>

                                </div>

                                <!-- edit form column -->
                                <div class="col-md-9 personal-info p-t-30" style="direction: rtl;text-align: right">

                                    <div class="form-group">
                                        <label class="col-lg-3 control-label content_arabic">الإسم الكامل </label>
                                        <div class="col-lg-8">
                                            {{ form_row(myForm.fullName) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label content_arabic">الإختصاص </label>
                                        <div class="col-lg-8 content_arabic">
                                            {{ form_row(myForm.fonction) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label content_arabic">البريد الإلكتروني</label>
                                        <div  class="col-lg-8 content_arabic" disabled="true">
                                            {{ form_row(myForm.email) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label content_arabic">رابط الفيس بوك </label>
                                        <div  class="col-lg-8 content_arabic" disabled="true">
                                            {{ form_row(myForm.facbookLink) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label"></label>
                                        <div class="col-md-8 content_arabic">
                                            <input type="submit" class="btn btn-primary" style="font-size: large;" value="حفظ التغييرات">
                                        </div>
                                    </div>

                                    {{ form_end(myForm) }}
                </form>
            </div>
        </div>

    </section>
{% endblock %}
 {% block javascripts %}
     {{parent()}}
     <script type="text/javascript">
         $(document).ready(function() {


             var readURL = function(input) {
                 if (input.files && input.files[0]) {
                     var reader = new FileReader();

                     reader.onload = function (e) {
                         $('.profile-pic').attr('src', e.target.result);
                     }

                     reader.readAsDataURL(input.files[0]);
                 }
             }


             $(".custom-file-input").on('change', function(){
                 readURL(this);
             });

             $(".upload-button").on('click', function() {
                 $(".custom-file-input").click();
             });
         });
     </script>
 {% endblock %}