{% extends 'base.html.twig' %}

{% block last_post %}
    {% if app.user == user %}
        {% set articles = user.articles %}
        {% set tweets = user.tweets %}
    {% else %}
        {% set articles = activeArticles %}
        {% set tweets = user.tweets %}
    {% endif %}

    <section class="bg0 p-b-55" style="margin-top: 0.1%;direction: rtl;text-align: right">
    <div class="container p-t-30">
    <div class="bg0 ">
        <div class="bg-white shadow rounded overflow-hidden">

            <div class="px-4 pt-0 pb-4 bg-dark">


                <div class="media align-items-end profile-header" style="position: relative;top: -10px;">
                    <div class="profile">

                            <img class="profile-pic circle  mb-2 img-thumbnail "  src="{{ asset('upload/users/' ~ user.picture) }}" alt="{{user.fullName}}" >
                        {% if  user.hasrole('ROLE_ADMIN') %}
                        <div class="p-validate btn " data-toggle="tooltip" data-placement="left" title="تم التأكد من هوية هذا الحساب">
                            <i style="color: #f8f9fa;justify-content: center;" class="fas fa-check fa_check "></i>
                        </div>
                        {% endif %}
                    </div>

                    <div class="media-body mb-5 text-white  my-font-size">
                        <h2 class="mt-0 mb-0" style=" padding-right: 2%" ><i class="fas fa-id-card-alt"></i> {{ user.fullName }} </h2>
                        <h2 class="mt-0 mb-0" style=" padding-right: 2%" > <i class="far fa-id-card"></i> {{ user.fonction }} </h2>
                    </div>
                </div>
            </div>

            <div class="bg-light p-4 d-flex justify-content-end text-center" style="top:-50px;">

                <div class="p-t-15 p-l-5 " style="left: 2%">
                    {% if user.facbookLink is not empty  %}
                        <a href="{{ user.facbookLink }}">
                    <span class="  btn btn-sm btn-primary my-font-size" >  <i class="fab fa-facebook-f"></i></span>
                        </a>
                    {%  endif %}
                    <span  class="mt-0 mb-0 btn btn-sm btn-dark my-font-size" > {{ stats.totalArticles }} <i class="fas fa-paste"></i></span>
                    <span class="  btn btn-sm btn-dark my-font-size" > {{ stats.totalViews }} <i class="fa fa-eye"></i></span>
                    {% if app.user == user and is_granted('ROLE_USER') %}
                    <a  href="#"  type="button" class="round_btn btn btn-sm btn-dark my-font-size" data-toggle="modal" data-target="#exampleModalLong" >
                        <i class="fas fa-bell"></i>&nbsp;<span class=" my-badge badge-danger">
                            {{ notifications|length }}</span></a>
                    {% endif %}
                    {% if app.user == user and is_granted('ROLE_USER') %}
                    <a  href="{{ path('admin_user_add_article') }}"  type="button" class="round_btn btn btn-sm btn-dark my-font-size" >  <i class="fas fa-plus-square"></i></a>
                    <a  href="{{ path('admin_user_profil_edit', {'id' : app.user.id}) }}" type=" button" class="round_btn btn btn-sm my-font-size btn-dark" > <i class="fas fa-user-edit"></i></a>
                    {% endif %}
                </div>

            </div>

            {% for message in app.flashes('success') %}
                <div class="alert alert-success m-rl-20 m-tb-20" style="width: 80%">
                    {{ message }}
                    <button style="float: left" type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
            <div class="py-1 px-2 " style="direction: ltr">
                <div class="bs-example m-t-10">
                    <div id="news-slider4" class="owl-carousel">
                        {% if app.user == user %}
                            <div class="post-slide4 mybox-shadow">
                                <div class="post-img">
                                    <img  src="{{ asset('upload/users/' ~ app.user.picture) }} " alt="{{ app.user.fullname }}"> </div>
                                <div class="post-content3">
                        <span class="post-author3 text-center">
                            <a href="{{path('add_tweet')}}">
                                <i class="fas fa-plus" style="font-size: 40px;padding: 12px;color: white"></i>
                            </a>
                        </span>
                                </div>
                                <div class="hashtag">
                                    غرِد الأن
                                </div>
                            </div>
                        {% endif %}
                        {% for tweet in tweets|filter(tweet=> tweet.isValide == true) %}
                            <div class="mybox-shadow2 post-slide4">

                                <div class="post-content text-center">
                        <span class=" post-author">
                            <a href="#"><img  src="{{ asset('upload/users/' ~ tweet.user.picture) }} "
                                              alt="{{ tweet.user.fullname }}"></a>
                        </span>

                                    <p class="post-description2">
                                        <a class="clickme how-txt1 mycontent trans-03 cl0 hov-cl10 " href="#" data-toggle="modal" data-target="#fsModal{{ tweet.id }}">
                                            {{ tweet.title }}
                                        </a>
                                    </p>
                                </div>
                            </div>

                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="py-1 px-2 ">
                <div  style="direction: rtl;">
                    <div class="bs-example m-t-10">


                        {% for article in articles %}
                        <div class="card mybox-shadow " style="max-width: 1100px;">
                            <div class="row no-gutters">
                                <div class="col-md-4" style="background: #868e96;max-height: 200px ">
                                    <img src="{{ article.photoPath }}" class="MYimg card-img-top h-100" alt="{{article.title}}">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h4 class="card-title">
                                            <a href="{{ path('article_show',{'slug' : article.slug}) }}"
                                               class="f1-m-3 cl2 hov-cl10 trans-03"
                                               style="font-size: x-large">
                                                {% if article.title|length >100 %}
                                                    {{ article.title[:100]|split(" ")|slice(0, -1)|join(" ") ~" .."  }}
                                                {% else  %}
                                                    {{ article.title }}
                                                {% endif %}
                                            </a>
                                        </h4>
                                        <p class="card-text" style="font-size:large">
                                            {{ article.content[:250]|split(" ")|slice(0, -1)|join(" ") ~" .."}}
                                        </p>
                                    </div>
                                </div>

                            </div>
                            <div class="card-footer">
                                    <span class="cl8 details_arabic" >
										<a href="{{ path('category-show',{'id' : article.category.id}) }}"
                                           style="font-size: large" class="f1-s-4 cl8 hov-cl10 trans-03">
											{{ article.category.name }}
										</a>
                                        							          <i class="far fa-clock"></i>&nbsp; {{ article.createdAt|date('Y/m/d') }}&nbsp;
                                      <i class="fa fa-eye" aria-hidden="true"></i> &nbsp;{{ article.clicks }}&nbsp;
                                      <i class="far fa-comment"
                                         aria-hidden="true"></i>&nbsp; {{ article.commentsCount }}&nbsp;

									</span>
                                <span style="float:left">
                                    {% if article.isValidated == true and app.user == user %}
                                        <a href="{{ path('article_show',{'slug':article.slug}) }}"
                                           class="btn btn-info">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                    {% endif %}
                                    {% if article.isValidated == false and app.user == user %}
                                        <a href="{{ path('admin_user_add_article',{'slug':article.slug}) }}"
                                           class="btn btn-info">
                                                    <i class="fas fa-pencil-alt"></i>
                                            </a>
                                    {% endif %}
                                        </span>


                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            </div>
    </div>
    </div>
    </section>

    {% if app.user == user and is_granted('ROLE_USER') %}
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 style="text-align: center" class="modal-title" id="exampleModalLongTitle">المقالات المنشورة حديثا </h5>
                        <button style="float: left" type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {% if notifications|length == 0  %}
                            <div style="text-align: right" class="alert alert-danger" role="alert">
                                لم يتم نشر أي مقال جديد ...
                            </div>
                        {% endif %}
                        {% for n in notifications %}
                            <div class="flex-wr-sb-s m-b-5 p-t-8 mybox-shadow" style=" direction: rtl ;text-align: right">
                                <a href="{{ path('article_show',{'slug' : n.slug}) }}" class="size-w-1 wrap-pic-w hov1 trans-03">
                                    <img class="MYimgright" src="{{ n.photoPath }}" alt="{{ n.title }}">
                                </a>

                                <div class="size-w-2" style="margin-right: -50%">
                                    <h5 class="p-b-2">
                                        <a href="{{ path('article_show',{'slug' : n.slug}) }}"
                                           class="f1-s-5 cl3 hov-cl10 trans-03"
                                           style=" font-size: large;">
                                            {{ n.title[:60]|split(" ")|slice(0, -1)|join(" ") ~" .."  }}
                                        </a>
                                    </h5>
                                    <span style="font-size:13px;" class=" m-b-5 badge badge-pill badge-success">
                                        نشر بتاريخ :
                                        <i class="far fa-clock"></i>
                                        {{ n.publishedAt|date('Y/m/d') }}
                                    </span>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">غلق</button>

                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {%  for tweet in tweets %}
            <div id="fsModal{{ tweet.id }}"
                 class="modal fade "
                 tabindex="-1"
                 role="dialog"
                 aria-labelledby="myModalLabel"
                 aria-hidden="true">

                <!-- dialog -->
                <div class="modal-dialog modal-lg">

                    <!-- content -->
                    <div class="modal-content">
                        <!-- body -->
                        <div class="modal-body">
                            <section class="bg0  p-rl-0" >
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <div class="col-10">
                                            <div style="width: 100%;" class="p-t-10 p-l-20">
                                                <div class="progress" style="height: 3px;">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="max-width: 100%">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <button  type="button" onclick="cleartime()" style="float: right" data-dismiss="modal">
                                                <i class="fas fa-times fs-25"></i>
                                            </button>

                                        </div>
                                    </div>

                                    <div class=" bg-img1 size-a-3-min how1 pos-relative rtl ">
                                        <div class="recipe-card mybox-shadow2" style="text-align:center;background-color:#1B75BB;">

                                            <article class="details_arabic" style="color: white; direction: rtl;height: 90px;margin: 5px;padding: 5px;vertical-align: center">
                                                <div class="row">
                                                    <ul >
                                                        <li>
                                                            <a href="{{ path('users_show_public',{'id': tweet.user.id}) }} "></span>
                                                                <img class="icon-user" src=" {{ asset('upload/users/' ~ tweet.user.picture) }} " />

                                                            </a>
                                                        </li>
                                                    </ul>

                                                </div>
                                                <div class="container h-100 p-t-20 myp ">
                                                    <div class="row h-100 justify-content-center align-items-center">
                                                        <h2 class="p-tb-20 mycontent">
                                                            <div class="mycontent cl0 " >
                                                                <i style="float: right; " class="fas fa-quote-right"></i>
                                                                <br>
                                                                {{ tweet.content[:750]}}
                                                                <br>
                                                                <i style="float: left;" class="fas fa-quote-left"></i>
                                                            </div>
                                                            <br>
                                                            <span style="color: white;float: left" >  {{ tweet.user.fullname }} </span>
                                                            <br>
                                                            <span class="icon " style="color: white;float: left"> {{ tweet.createdAt|date('Y-m-d') }}</span>

                                                        </h2>
                                                    </div>
                                                </div>



                                            </article>

                                        </div>
                                    </div>

                                </div>
                            </section>

                        </div>

                        <!-- body -->


                    </div>
                    <!-- content -->

                </div>
                <!-- dialog -->

            </div>
    {% endfor %}
{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $("#news-slider4").owlCarousel({
                items: 5,
                itemsDesktop: [1199, 5],
                itemsMobile: [600, 2],
                itemsMobile: [300, 1],
                pagination: false,
                navigation:true,
                autoPlay: false,
                navigationText : ["",""]

            });
        });
    </script>
    <script type="text/javascript">
        var $lba= document.getElementsByClassName('clickme');

        // You nice function:
        function myPopup() {
            t = setTimeout(function() {
                $(".modal").modal('hide');
            }, 20000);

        }
        function cleartime() {
            clearTimeout(t);

        }

        // Assign a click event handler to every element:
        for(var i=0; i<$lba.length; i++) {
            $lba[i].onclick = myPopup;

        }
    </script>

{% endblock %}