<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <style>
        * { margin: 0; padding: 0; font-size: 100%; font-family: "Oxygen", sans-serif; line-height: 1.65; }

        img { max-width: 100%; margin: 0 auto; display: block; }

        body, .body-wrap { width: 100% !important; height: 100%; background: #f8f8f8; }

        a { color: white; text-decoration: none; }

        a:hover { text-decoration: underline; }

        .text-center { text-align: center; }

        .text-right { text-align: right; }

        .text-left { text-align: left; }

        .button {padding-right: 10px;padding-left: 10px; color: white ;display: inline-block; background: #1d2124; border: solid #1d2124; border-width: 10px 20px 8px; font-weight: bold; border-radius: 4px; }

        .button:hover { text-decoration: none; }

        h1, h2, h3, h4, h5, h6 { margin-bottom: 20px; line-height: 1.25; }

        h1 { font-size: 32px; }

        h2 { font-size: 28px; }

        h3 { font-size: 24px; }

        h4 { font-size: 20px; }

        h5 { font-size: 16px; }

        p, ul, ol { font-size: 16px; font-weight: normal; margin-bottom: 20px; }

        .container { display: block !important; clear: both !important; margin: 0 auto !important; max-width: 580px !important; }

        .container table { width: 100% !important; border-collapse: collapse; }

        .container .masthead { padding: 30px 0; background: #1d2124; }

        .container .masthead h1 { margin: 0 auto !important; max-width: 90%; text-transform: uppercase; }

        .container .content { background: white; padding: 30px 35px; }

        .container .content.footer { background: none; }

        .container .content.footer p { margin-bottom: 0; color: #888; text-align: center; font-size: 14px; }

        .container .content.footer a { color: #888; text-decoration: none; font-weight: bold; }

        .container .content.footer a:hover { text-decoration: underline; }
    </style>
</head>


<body>
<table class="body-wrap ">
    <tr>
        <td class="container">

            <!-- Message start -->
            <table>
                <tr>
                    <td align="center" class="masthead">
                        <img src={{ asset("assets/images/icons/hadra_logo.png") }} alt="LOGO">

                    </td>
                </tr>
                <tr>
                    <td class="content" style="direction: rtl">

                        <h2>أهلا بك  {{ user.fullName }}</h2>

                        <p style="font-size: large">تم طلب إعادة تعيين كلمة المرور لحسابك.
                            يرجى النقر على الزر أدناه لتغيير كلمة المرور الخاصة بك.
                            <br>
                            لاحظ أن هذا الرابط صالح لمدة 24 ساعة. بعد انتهاء المهلة ، سيتعين عليك إعادة إرسال طلب إعادة تعيين كلمة المرور.</p>

                        <table>
                            <tr>
                                <td align="center">
                                    <p>
                                        <a style="color: white" href="{{ app.request.getBaseURL()~path('new_psw', {'token' : user.token}) }}" class="button">إسترجاع كلمة المرور  <i class="fas fa-user-check"></i> </a>
                                    </p>
                                </td>
                            </tr>
                        </table>

                        <p class="text-center" style="font-size:medium">للمزيد من المعلومات الرجاء التواصل معنا : contact@haddra.com <a href=''> </a></p>


                    </td>
                </tr>
            </table>

        </td>
    </tr>
    <tr>
        <td class="container">

            <!-- Message start -->
            <table>
                <tr>
                    <td class="content footer" align="center">
                        <p>Powred by <a href="#"> 3wLabs </a> adress</p>
                        <p><a href="mailto:">email</a>  </p>
                    </td>
                </tr>
            </table>

        </td>
    </tr>
</table>
</body>
