{% block contributions %}
    <div class="row  p-t-10" style="direction: rtl">
        {% if contributions is not empty %}
            {% for c in contributions %}
                <div class="col-sm-6 ">
                    <!-- Item latest -->
                    <div class="m-tb-5 m-rl-3 mybox-shadow" style="text-align: right">
                        <a href="{{path("article_show",{slug: c.slug})}}" class=" wrap-pic-w hov1 trans-03 ">
                            <img class="MYimg image-height" src={{ c.photoPath }} alt="{{ c.title }}">
                        </a>

                        <div class="p-tb-16 p-rl-10">
                            <h5 class="p-b-5" style="height: 50px;">
                                <a href="{{path("article_show",{slug: c.slug})}}" class="f1-m-4 cl2 hov-cl10 trans-03">
                                    {% if c.title|length >60 %}
                                        {{ c.title[:60]|split(" ")|slice(0, -1)|join(" ") ~" .."  }}
                                    {% else  %}
                                        {{ c.title }}
                                    {% endif %}
                                </a>
                            </h5>
                            <span class="cl8">
                                     <span class="f1-s-4">
                                     <a href="{{ path('users_show_public',{'id': c.user.id}) }}"
                                        class="f1-s-4 cl8 hov-cl10 trans-03">
										<img style="width: 25px;height: 25px;border-radius: 50%;background-color: white;padding:3px;border: 1px solid #1B75BB"
                                             src="{{ asset('upload/users/' ~ c.user.picture) }}">	{{ c.author }}
                                     </a>
                                      <i class="far fa-clock"></i>&nbsp; {{ c.createdAt|date('Y/m/d') }} &nbsp;
                                      <i class="fa fa-eye" aria-hidden="true"></i> &nbsp;{{ c.clicks }} &nbsp;
                                      <i class="far fa-comment" aria-hidden="true"></i>&nbsp; {{c.commentsCount}}&nbsp;

                                     </span>
                                         </span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}