{% block trending %}




        <div  class="p-l-10 p-rl-0-sr991">
            <div class="how2 how2-cl4 flex-s-c p-r-20 m-rl-10 m-b-10" style="direction: rtl;">

                <div class="d-flex flex-row flex-grow-1 flex-fill justify-content-center bluecolor py-2 text-white px-1 news"><span class="d-flex align-items-center">&nbsp;الأكثر شيوعا </span></div>

            </div>
            <div class=" mybox-shadow p-rl-10 p-t-5" style="width: 100%">
                {% for t in trending %}
                    <div class="flex-wr-sb-s p-tb-2 " style=" border-bottom:2.5px solid #17b978;border-bottom-length: 50%; direction: rtl ;text-align: right; width: 100%">
                        <a href="{{ path('article_show',{'slug' : t.slug}) }}" class="size-w-1 wrap-pic-w hov1 trans-03" >
                            <img style="" class="MYimgright" src="{{ t.photoPath }}" alt="{{ t.title }}">
                        </a>

                        <div class="size-w-2">
                            <h5 class="p-b-2">
                                <a href="{{ path('article_show',{'slug' : t.slug}) }}"
                                   class="f1-s-5 cl3 hov-cl10 trans-03"
                                   style=" font-size: 15px;">
                                    {% if t.title|length >50 %}
                                    {{ t.title[:50]|split(" ")|slice(0, -1)|join(" ") ~" ..."  }}
                                    {% else %}
                                     {{ t.title }}
                                    {% endif %}
                                </a>
                            </h5>

                            <span class="cl8 badge badge-secondary">
                                                    <span class="f1-s-3" style="color: white; font-size:12px; ">
                                                   <i class="fas fa-comment-alt">&nbsp; {{ t.commentsCount }} </i>
                                                        &nbsp;&nbsp;
                                                   <i class="fas fa-eye">&nbsp;{{ t.clicks }} </i>
                                                     </span>
                                    </span>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>

{% endblock %}