<!doctype html>
<html lang="ar">
<head>
    {% block head %}


        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- google ads secript -->
        <script data-ad-client="ca-pub-8656255876976775" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script data-ad-client="ca-pub-8975912387052853" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <title > HADDRA | هدرة -
        أخبار الساعة حوارات مقالات و مدونات
        </title>
        <meta name="haddra" content="هدرة hadra hadrra الاخبار الجزائر " >
        <meta name="keywords" content="خواطر,حوارات,haddra.com,haddra,الجزائر, هدرة, الاخبار,مقالات">
        <meta name="description" content="HADDRA | هدرة -
        أخبار الساعة حوارات مقالات و مدونات">
        <meta name="google-site-verification" content="AA0dkhku1woHfGFS2Bf_pS6KlRe2xxbHnydeSzEAGMA" />

        <!--===============================================================================================-->
        <link rel="icon" type="image/png" href="{{ asset('assets/images/icons/favicon.png')}}"/>
        {% block stylesheet %}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css">
             <!--===============================================================================================-->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
            <!--===============================================================================================-->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
            <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css"
                  href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
            <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css"
                  href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
            <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css"
                  href="https://cdnjs.cloudflare.com/ajax/libs/hamburgers/1.1.3/hamburgers.min.css">
            <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css"
                  href="https://cdnjs.cloudflare.com/ajax/libs/animsition/4.0.2/css/animsition.min.css">
            <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
            <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/css/bootstrap-tokenfield.min.css">

            <link rel="stylesheet" type="text/css" href={{ asset('assets/css/util.min.css') }}>
            <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href={{ asset('assets/css/main.css') }}>
            <link rel="stylesheet" type="text/css" href={{ asset('assets/css/css_login.css') }}>
            <link rel="stylesheet" type="text/css" href={{ asset('assets/css/slider.css') }}>
        {% endblock %}

    {% endblock %}

</head>

{% block body %}

    <body class="animsition fontarabic">
    <!-- facebook sdk -->
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/ar_AR/sdk.js#xfbml=1&version=v7.0&appId=689924925120629&autoLogAppEvents=1" nonce="3ZZH3Opo"></script>
    <!-- Header -->
    <header>
        <!-- Header desktop -->
        <div class="container-menu-desktop">

            <div class="topbar">
                <div class="content-topbar container h-100">
                    <div class="left-topbar" style="direction: rtl;">

                        <a href="{{path('about')}}" class="left-topbar-item">
                            حول الموقع
                        </a>

                        <a href="{{path('contact')}}" class="left-topbar-item">
                            اتصل بنا
                        </a>

                        {% if app.user %}
                        {% else %}
                            <a href="{{ path('app_login') }}" class="left-topbar-item">
                                تسجيل الدخول
                            </a>
                        {% endif %}
                        {% if app.user %}
                            <a href="{{ path('admin_user_add_article') }}" type="button" class="btn btn-success "
                               style="font-size:large; background-color: #17b978;">دوِّن معنا<i class="fas fa-pen-nib"></i></a>
                        {% else %}
                            <a href={{ path('app_login') }} type="button" class="btn btn-success"
                               style="font-size:large; background-color: #17b978;">دوِّن معنا<i class="fas fa-pen-nib"></i></a>
                        {% endif %}

                    </div>
                    <div class="right-topbar">
                        <a href="#">
                            <span class="fab fa-facebook-f"></span>
                        </a>

                        <a href="#">
                            <span class="fab fa-twitter"></span>
                        </a>
                        <a href="#">
                            <span class="fab fa-youtube"></span>
                        </a>


                    </div>

                    {% if app.user %}

                        <div>


                            <a style="direction: rtl" class="nav-link p-0 dropdown-toggle dropdown-toggle-split" id="navbarDropdownMenuLink-55"
                               data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="true">
                                <img class="pp" src="{{ asset('upload/users/' ~ app.user.picture) }}"> &nbsp;
                                <span style="color:white;">{{ app.user.fullName }} </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-lg-right dropdown-secondary"
                                 aria-labelledby="navbarDropdownMenuLink-55">

                                <div style="text-align: right;direction: rtl; font-size:14px">

                                    <a class="dropdown-item" href="{{ path('admin_user_profil') }}" >
                                        <i class="fas fa-user"></i>
                                        الملف الشخصي</a>
                                    <a class="dropdown-item" href="{{ path('admin_user_add_article') }}" ><i
                                                class="fas fa-plus-square"></i>
                                        إضافة مقال</a>
                                    <a class="dropdown-item" href="{{ path('add_tweet') }}" ><i
                                                class="fas fa-hashtag"></i>
                                        إضافة تغريدة</a>
                                    <a class="dropdown-item" href="{{ path('app_logout') }}"><i style="color: #D32F2F;" class="fas  fa-power-off"></i>
                                        تسجيل الخروج
                                    </a>
                                </div>
                            </div>

                        </div>
                    {% endif %}
                </div>

            </div>


        {% set categories = list_category()  %}

        <!-- Header Mobile -->
        <div class="wrap-header-mobile">
            <!-- show profil -->
            {% if app.user %}

                <div>
                    <a class="nav-link p-0 dropdown-toggle dropdown-toggle-split" id="navbarDropdownMenuLink-55"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <img class="pp" src="{{ asset('upload/users/' ~ app.user.picture) }}">

                    </a>
                    <div class="dropdown-menu dropdown-menu-lg-right dropdown-secondary"
                         aria-labelledby="navbarDropdownMenuLink-55">

                        <div style="text-align: right;direction: rtl; font-size: large">

                            <a class="dropdown-item" href="{{ path('admin_user_profil') }}" >
                                <i class="fas fa-user"></i>
                                الملف الشخصي</a>
                            <a class="dropdown-item" href="{{ path('admin_user_add_article') }}" ><i
                                        class="fas fa-plus-square"></i>
                                إضافة مقال</a>
                            <a class="dropdown-item" href="{{ path('add_tweet') }}" ><i
                                        class="fas fa-hashtag"></i>
                                إضافة تغريدة</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('app_logout') }}"><i style="color: #D32F2F;" class="fas  fa-power-off"></i>
                                تسجيل الخروج
                            </a>
                        </div>
                    </div>
                </div>


            {% endif %}
            <!-- Logo moblie -->
            <div class="logo-mobile">
                <a href="{{ path('app') }}"><img  src={{ asset('assets/images/icons/logo-mini.png') }} alt="IMG-LOGO"></a>

            </div>
            <a class="p-r-20" style="color: black"  href="#"  data-toggle="modal" data-target="#exampleModalLong"  >
                <i class="fas fa-search"></i>
            </a>

            <!-- Button show menu -->
            <div class="btn-show-menu-mobile hamburger hamburger--squeeze m-r--8">
					<span class="hamburger-box">
						<span class="hamburger-inner"></span>
					</span>
            </div>
        </div>

        <!-- Menu Mobile -->
        <div class="menu-mobile">

            <ul class="topbar-mobile">
                <li class="left-topbar" style="direction: rtl;font-size: 10px">
                    <a href="{{path('about')}}" class="left-topbar-item">
                        حول الموقع
                    </a>

                    <a href="{{path('contact')}}" class="left-topbar-item">
                        اتصل بنا
                    </a>
                    {% if app.user %}
                    {% else %}
                        <a href="{{ path('app_login') }}" class="left-topbar-item">
                            تسجيل الدخول
                        </a>
                    {% endif %}
                    {% if app.user %}
                        <a href="{{ path('admin_user_add_article') }}" type="button"  class="btn btn-success "
                           style="font-size:medium;float: left; background-color: #17b978;">دوِّن معنا<i class="fas fa-pen-nib"></i></a>
                    {% else %}
                        <a  href={{ path('app_login') }} type="button"  class="btn btn-success "
                           style="font-size:medium;float: left; background-color: #17b978;">دوِّن معنا<i class="fas fa-pen-nib"></i></a>
                    {% endif %}
                </li>
                </ul>
            <ul class="main-menu-m text-center" >
                <li>
                    <a href="{{ path('app')}}" style="font-size: large">الرئيسية &nbsp <i
                                class="fas fa-home"></i> </a>
                </li>
               {% for c in categories %}
                <li>
                    <a href="{{ path('category-show',{'id': c.id}) }}" style="font-size: large"> {{ c.name }}</a>
                </li>
              {% endfor %}
                <li>
                    <a href="{{ path('tweets_show')}}" style="font-size: large"> التغريدات </a>
                </li>
                <li>
                    <a href="{{ path('users_list')}}" style="font-size: large"> المدونون</a>
                </li>


            </ul>
        </div>

        <!--  -->
        <div class="wrap-logo container rtl">
            <!-- Logo desktop -->

            <div class="logo">
                <a href="{{ path('app') }}"><img src={{ asset('assets/images/icons/logo-big.png') }} alt="LOGO"></a>
            </div>

            <!-- Banner -->
            <div class="banner-header">
                <a href="#"><img src={{ asset("assets/images/banner-01.jpg") }} alt="IMG"></a>
            </div>
        </div>

        <!--  -->
        <div class="wrap-main-nav">
            <div class="main-nav">
                <!-- Menu desktop -->

                <nav class="menu-desktop" style="direction: rtl" >
                    <ul class="main-menu" style="direction: rtl;">
                        <li class="main-menu-item">
                            <a href=" {{ path('app') }} "
                               style="font-size: large;font-weight:bolder;"><i class="fas fa-home"></i>&nbsp;الرئيسية
                                &nbsp </a>
                        </li>
                        {% for c in categories %}
                            <li class="mega-menu-item">
                                <a href="{{ path('category-show',{'id': c.id}) }}"
                                   style="font-size: large;font-weight:bolder;"> {{ c.name }}</a>

                            </li>
                        {% endfor %}
                        <li class="mega-menu-item">
                            <a href="{{ path('tweets_show')}}" style="font-size: large;font-weight:bolder;"> التغريدات </a>
                        </li>
                        <li class="mega-menu-item">
                            <a href="{{ path('users_list')}}" style="font-size: large;font-weight:bolder;"> المدونون</a>
                        </li>
                        <li class="mega-menu-item">
                            <a  href="#"  data-toggle="modal" data-target="#exampleModalLong"  >
                                <i class="fas fa-search"></i>
                            </a>
                        </li>
                    </ul>


                </nav>
            </div>
        </div>
        </div>
    </header>

    {% block last_post %}
        <div>

        </div>
    {% endblock %}
    <footer class="Myfooter">
        <div class="container bottom_border text-center p-tb-10">
            <div class="row justify-content-center rtl">
                <div class="col-6">
                    <a href="{{ path('app') }}">
                        <img class="logo-footer" src={{ asset("assets/images/icons/logo-big.png") }} alt="LOGO"><br>
                    </a>
                    <div class="right-topbar">
                        <a href="#">
                            <span class="fab fa-facebook-f"></span>
                        </a>

                        <a href="#">
                            <span class="fab fa-twitter"></span>
                        </a>
                        <a href="#">
                            <span class="fab fa-youtube"></span>
                        </a>


                    </div>
                </div>
                <div class="col-6 ">
                    <!-- facebook plugin  -->
                    <div class="fb-page text-center " data-href="https://web.facebook.com/%D9%87%D8%AF%D8%B1%D8%A9-101877281576576/" data-tabs="timeline" data-width="200" data-height="150" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                        <blockquote cite="https://web.facebook.com/%D9%87%D8%AF%D8%B1%D8%A9-101877281576576/" class="fb-xfbml-parse-ignore">
                            <a href="https://web.facebook.com/%D9%87%D8%AF%D8%B1%D8%A9-101877281576576/">
                                ‏هدرة‏
                            </a>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>


        <div class="container">
            <ul class="foote_bottom_ul_amrc" >
                <li><a href="{{ path('contact') }}"><i class="fas fa-phone">&nbsp;</i>إتصل بنا </a></li>
                <li><a href="{{ path('about') }}"><i class="fas fa-users">&nbsp;</i>حول الموقع </a></li>
                <li><a href="{{ path('privacy') }}"><i class="fas fa-user-shield">&nbsp;</i> سياسة الخصوصية</a></li>

            </ul>
            <!--foote_bottom_ul_amrc ends here-->
            <p class="text-center" style="direction: rtl">جميع الحقوق محفوظة&copy;  {{ "now"|date("Y") }}  </p>
            <p class="text-center "> Powered  by <a href="#">3wLabs.com</a></p>

            <!--social_footer_ul ends here-->
        </div>

    </footer>

    <!-- Back to top -->
    <div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<span class="fas fa-angle-up"></span>
		</span>
    </div>

    <!-- Modal Video 01-->
    <div class="modal fade" id="modal-video-01" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document" data-dismiss="modal">
            <div class="close-mo-video-01 trans-0-4" data-dismiss="modal" aria-label="Close">&times;</div>

            <div class="wrap-video-mo-01">
                <div class="video-mo-01">
                    <iframe src="https://www.youtube.com/embed/wJnBTPUQS5A?rel=0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                </div>
                <div class="modal-body" style="align-items: center">

                    <div  action="" method="post">

                        <input id="myInput1" style="text-align: right" type="text" class="form-control" placeholder="بحــث " >
                        <br>
                        <button id="myBtn1" class="btn btn-dark">
                            بحث
                        </button>
                    </div>


                </div>

            </div>
        </div>
    </div>

    {% block javascripts  %}

        <!-- Headline -->
        <!--===============================================================================================-->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"
                integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <!--===============================================================================================-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/animsition/4.0.2/js/animsition.min.js"></script>
        <!--===============================================================================================-->
        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <!--===============================================================================================-->
        <!-- ajax -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/bootstrap-tokenfield.js"></script>

        <script src={{ asset('assets/js/main.js') }}></script>
        <script type="text/javascript">
            $("#myInput").keyup(function(event) {
                if (event.keyCode === 13) {
                    $("#myBtn").click();
                }
            });

            $("#myBtn").click(function() {
                var str = $("#myInput").val();
                var route = "{{ path('tag_list', {'keyWord': '+'}) }}".replace("+","")+str;
                location.href = route;
            });
        </script>
        <script type="text/javascript">
            $("#myInput1").keyup(function(event) {
                if (event.keyCode === 13) {
                    $("#myBtn1").click();
                }
            });

            $("#myBtn1").click(function() {
                var str = $("#myInput1").val();
                var route = "{{ path('tag_list', {'keyWord': '+'}) }}".replace("+","")+str;
                location.href = route;
            });
        </script>
        <script type="text/javascript">
            $('.search-button').click(function(){
                $(this).parent().toggleClass('open');
            });
        </script>

    {% endblock %}


    </body>
{% endblock %}

</html>


