{% extends 'base.html.twig' %}
  {% block stylesheet %}
      {{ parent() }}
      <style>
          .error-container {
              text-align: center;
              font-size: 180px;
              font-weight: 800;
          }
          .error-container > span {
              display: inline-block;
              line-height: 0.5;
              position: relative;
              color: #FFB485;
          }
          .error-container > span {
              display: inline-block;
              position: relative;
              vertical-align: middle;
          }
          .error-container > span:nth-of-type(1) {
              color: #D1F2A5;
              animation: colordancing 4s infinite;
          }
          .error-container > span:nth-of-type(3) {
              color: #F56991;
              animation: colordancing2 4s infinite;
          }
          .error-container > span:nth-of-type(2) {
              width: 120px;
              height: 120px;
              border-radius: 999px;
          }
          .error-container > span:nth-of-type(2):before,
          .error-container > span:nth-of-type(2):after {
              border-radius: 0%;
              content:"";
              position: absolute;
              top: 0; left: 0;
              width: inherit; height: inherit;
              border-radius: 999px;
              box-shadow: inset 30px 0 0 rgba(209, 242, 165, 0.4),
              inset 0 30px 0 rgba(239, 250, 180, 0.4),
              inset -30px 0 0 rgba(255, 196, 140, 0.4),
              inset 0 -30px 0 rgba(245, 105, 145, 0.4);
              animation: shadowsdancing 4s infinite;
          }
          .error-container > span:nth-of-type(2):before {
              -webkit-transform: rotate(45deg);
              -moz-transform: rotate(45deg);
              transform: rotate(45deg);
          }

          .screen-reader-text {
              position: absolute;
              top: -9999em;
              left: -9999em;
          }
          @keyframes shadowsdancing {
              0% {
                  box-shadow: inset 30px 0 0 rgba(209, 242, 165, 0.4),
                  inset 0 30px 0 rgba(239, 250, 180, 0.4),
                  inset -30px 0 0 rgba(255, 196, 140, 0.4),
                  inset 0 -30px 0 rgba(245, 105, 145, 0.4);
              }
              25% {
                  box-shadow: inset 30px 0 0 rgba(245, 105, 145, 0.4),
                  inset 0 30px 0 rgba(209, 242, 165, 0.4),
                  inset -30px 0 0 rgba(239, 250, 180, 0.4),
                  inset 0 -30px 0 rgba(255, 196, 140, 0.4);
              }
              50% {
                  box-shadow: inset 30px 0 0 rgba(255, 196, 140, 0.4),
                  inset 0 30px 0 rgba(245, 105, 145, 0.4),
                  inset -30px 0 0 rgba(209, 242, 165, 0.4),
                  inset 0 -30px 0 rgba(239, 250, 180, 0.4);
              }
              75% {
                  box-shadow: inset 30px 0 0 rgba(239, 250, 180, 0.4),
                  inset 0 30px 0 rgba(255, 196, 140, 0.4),
                  inset -30px 0 0 rgba(245, 105, 145, 0.4),
                  inset 0 -30px 0 rgba(209, 242, 165, 0.4);
              }
              100% {
                  box-shadow: inset 30px 0 0 rgba(209, 242, 165, 0.4),
                  inset 0 30px 0 rgba(239, 250, 180, 0.4),
                  inset -30px 0 0 rgba(255, 196, 140, 0.4),
                  inset 0 -30px 0 rgba(245, 105, 145, 0.4);
              }
          }
          @keyframes colordancing {
              0% {
                  color: #D1F2A5;
              }
              25% {
                  color: #F56991;
              }
              50% {
                  color: #FFC48C;
              }
              75% {
                  color: #EFFAB4;
              }
              100% {
                  color: #D1F2A5;
              }
          }
          @keyframes colordancing2 {
              0% {
                  color: #FFC48C;
              }
              25% {
                  color: #EFFAB4;
              }
              50% {
                  color: #D1F2A5;
              }
              75% {
                  color: #F56991;
              }
              100% {
                  color: #FFC48C;
              }
          }

          /* demo stuff */
          * {
              -webkit-box-sizing: border-box;
              -moz-box-sizing: border-box;
              box-sizing: border-box;
          }

          h1 {
              font-size: 30px;
              text-align: center;
          }
          .zoom-area {
              max-width: 690px;
              margin: 30px auto 30px;
              font-size: 19px;
              text-align: center;
          }
          .link-container {
              text-align: center;
          }

      </style>
    {% endblock %}
{% block last_post %}
    <section class="fontarabic m-b-30 m-t-10" style="direction: rtl;">
        <h1> خطـأ 404 </h1>
        <p class="zoom-area">فليهدأ الجميع ... كل شيئ بخير ! </p>
        <p class="zoom-area">
            الأمر بسيط، لا تقلق، انت فقط ولجت لرابط غير شغال و لا يُؤدي الى أي مكان و لم نجد اي صفحة مناسبة لهذا الرابط، لذلك نعتذر عن هذا الخطأ، و دعنا نعيد توجيهك بالحلول التالية :
             - قم بالنقر على الرئيسية أعلاه من أجل التوجه لرئيسية الموقع و تصفح مواضيعنا الأخيرة - أو انقر على الزر أسفله لنحل لك المشكل بنقرة زر ... حرفيا
        </p>
        <section class="error-container">
            <span>4</span>
            <span><span class="screen-reader-text">0</span></span>
            <span>4</span>
        </section>
        <div class="link-container">
            <a target="_blank" href="{{ path('app') }}" class="btn btn-lg btn-success">أنقذني !</a>
        </div>
    </section>

{% endblock %}