{% extends 'base.html.twig' %}
{% block head %}
    {{parent()}}
    <meta property="og:url"           content="{{app.request.uri}}" />
    <meta property="og:type"          content="haddra" />
    <meta property="og:title"         content="هدرة" />
    <meta property="og:description"   content="{{ article.title }}" />
        <meta property="og:image"         content="{{article.photoPath}}" />
{% endblock %}

{% block last_post %}
    <section  class="bg0 p-b-140 p-t-10" >

            <div class="container justify-content-center" style="direction: rtl; text-align: right;">
                <!-- Sidebar -->


                    <div class="mybox-shadow p-r-10 ">
                        <!-- Blog Detail -->
                        <div class="p-b-50 " style="direction: rtl; text-align: right;">
                            <a style="font-size: 20px"  href="{{path('category-show',{'id': article.category.id})}}" class="  badge badge-info m-t-10 cl2 hov-cl10 trans-03 text-uppercase"
                              >
                                {{ article.category.name }}

                            </a>


                            <h3 class="title_arabic cl2 p-b-16 p-t-33 " >
                                {{ article.title }}
                            </h3>

                            <div class="flex-wr-s-s p-b-40">
								<span class="details_arabic cl8 m-r-15">
									<a href="{{ path('users_show_public',{'id': article.user.id}) }}" class="f1-s-4 cl8 hov-cl10 trans-03">
										<img style="padding: 3px; width: 30px;height: 30px;border-radius: 50%;background-color: white;border: 1px solid #17b978" src="{{ asset('upload/users/' ~ article.user.picture) }}">
                                        {{ article.user.fullname }}&nbsp;</a>
                                        <i style="color: #17b978" class="fa fa-clock" aria-hidden="true"></i> {{ article.createdAt|date('Y/m/d') }}&nbsp;
									<i style="color: #17b978" class="fa fa-eye" aria-hidden="true"></i> &nbsp;{{ article.clicks }} &nbsp;
									<i style="color: #17b978" class="far fa-comment"aria-hidden="true"></i>&nbsp; {{ article.comments|length }}&nbsp;

								</span>


                            </div>

                                <div class=" p-r-10 " >
                                    <button  class="btn btn-dark circle_btn fs-20" id="increase" >ض</button>
                                    <button  class="btn btn-dark circle_btn fs-13" id="decrease" > ض</button>

                                </div>

                            <div class="row  m-b-20 p-rl-15">
                                <figure class="pic_block col-md-7  m-b-5 figure" style="text-align: left">
                                    <img src="{{ article.photoPath }}" width="100%"  alt="{{article.title}}">
                                    <figcaption class="figure-caption" >{{ article.pictureRef }}</figcaption>
                                </figure>
                                <div class="pic_block col-md-5  m-b-5"><img src="{{ asset('assets/images/pub.jpg') }}"  width="100%" alt="{{article.title}}"></div>
                                </div>
                            <div class="fs-18 m-b-10">
                            شارك هذا المقال :
                            <a href="#" id="share-fb" class="sharer button btn btn-sm btn-dark hov-bg0 hov-cl3"><i class="fab fa-facebook-f"></i></a>
                            <a href="#" id="share-tw" class="sharer button btn btn-sm btn-dark hov-bg0 hov-cl3"><i class="fab fa-twitter"></i></a>
                            <a href="#" id="share-li" class="sharer button btn btn-sm btn-dark hov-bg0 hov-cl3"><i class="fab fa-linkedin-in"></i></a>
                            </div>


                            <p id="myContent"  class=" mycontent  p-rl-10 cl6 p-b-25">
                                {{ article.content|nl2br }}
                            </p>

                            <!-- Tags -->
                            {% if tags is not empty %}
                            <div class="flex-wr-s-s m-rl--5" style="direction: rtl;font-size: large">
                                <span class="flex-c-c size-h-2   f1-s-1  p-rl-20 p-tb-5 m-all-5" style="font-size: larger">
                                    الكلمات المفتاحية :
                                </span>

                            {% for t in tags  %}
                                <a href="{{ path('tag_list',{'keyWord':t}) }}"
                                   class="flex-c-c size-h-2 bo-1-rad-20 bocl12 f1-s-1 cl8 hov-btn2 trans-03 p-rl-20 p-tb-5 m-all-5"
                                   style="font-size: large">
                                    {{t}}
                                </a>
                            {% endfor %}
                            </div>
                            {% endif %}

                        </div>

                        <!-- Leave a comment -->
                        <div class="p-rl-5 p-b-30"  style="direction: rtl; text-align: right;">
                            {% for message in app.flashes('error') %}
                                <div class="alert alert-danger m-rl-20 m-tb-20" style="width: 80%">
                                    {{ message }}
                                    <button style="float: left" type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endfor %}
                            <h4 class="f1-l-4 cl3 p-b-12" style="font-size: large">
                                أترك تعليق:
                            </h4>
                            <form method="get" action="{{ path("comment_add") }}">
                                <textarea class="bo-1-rad-3 bocl13 size-a-14 f1-s-13 cl5 plh6 p-rl-18 p-tb-14 m-b-20"
                                          name="content" placeholder="اكتب التعليق هنا .." style="height: 150px;"></textarea>

                                <input style="{% if app.user %} display: none; {% endif %}  " class="bo-1-rad-3 bocl13 size-a-16 f1-s-13 cl5 plh6 p-rl-18 m-b-20" type="text"
                                       name="author" placeholder="الاسم الكامل *"
                                        {% if app.user %}
                                       value="
                                         {{ app.user.fullName }}
                                        {% endif %}      " >

                                <input style="{% if app.user %} display: none; {% endif %}  " class="bo-1-rad-3 bocl13 size-a-16 f1-s-13 cl5 plh6 p-rl-18 m-b-20" type="email"
                                       name="email" placeholder="البريد الإلكتروني *"
                                       value=" {% if app.user %}
                                         {{ app.user.email }}
                                        {% endif %}                   "  >

                                <input type="text" name="article" value="{{ article.slug }}" hidden>
                                <button class="size-a-17 bg2 borad-3 f1-s-12 cl0 hov-btn1 trans-03 p-rl-15 m-t-10"
                                        style="font-size: large">
                                    تعليق
                                </button>
                            </form>
                        </div>
                        {% if article.comments is not empty %}
                            <div class="card m-l-3 m-b-20 ">
                                <div class="card-footer" style="text-align: right; font-size: large"> <i class="fas fa-comment-alt"></i>
                                    التعليقات
                                    <span style="float: left; color: #17b978">
                                        <i class="fas fa-sort-amount-up"></i>
                                        {{ article.comments|length }}&nbsp;

                                    </span>

                                </div>
                                <div class="card-body">
                                    <div class="row p-b-30" style="direction: rtl;text-align: right;">

                                        {% for comment in article.comments %}
                                            <div class="col-md-12 m-rl-1">
                                                <div class="m-l-1 media g-mb-30 media-comment ">
                                                    <div class="justify-content-center"><img class=" d-flex g-width-50 g-height-50 rounded-circle g-mt-3 g-mr-15"
                                                                                             src="https://bootdey.com/img/Content/avatar/avatar7.png"
                                                                                             alt="Image Description"></div>
                                                    <div class="media-body u-shadow-v18 g-bg-secondary g-pa-30">
                                                        <div class="g-mb-15 ">
                                                            <h5 class="h5 g-color-gray-dark-v1 mb-0">{{ comment.author }} </h5>
                                                            <span class="g-color-gray-dark-v4 g-font-size-12"><i class="fa fa-clock"></i> &nbsp; {{ comment.createdAt|date("Y/m/d") }}</span>
                                                        </div>

                                                        <p> {{ comment.content }}</p>

                                                    </div>


                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}



                    </div>

            </div>

    </section>
{% endblock %}
 {% block javascripts %}
     {{parent()}}
     <script src="https://cdn.jsdelivr.net/sharer.js/latest/sharer.min.js"></script>
 <script type="text/javascript">
     $(document).ready(function () {
         $('#increase').click(function () {
             modifyFontSize('increase')
         });
         $('#decrease').click(function () {
             modifyFontSize('decrease')
         });
         $('#reset').click(function () {
             modifyFontSize('reset')
         });
         function modifyFontSize(flag) {
             var divElement = $('#myContent');
             var courentFontSize = parseInt(divElement.css('font-size'));
             if(flag == 'increase' & courentFontSize<40)
             {
                 courentFontSize +=1;

             }
             else  if(flag == 'decrease' & courentFontSize>17)
             {
                 courentFontSize -=1;

             }
             else if (flag == 'reset') {
                 courentFontSize = 25;
             }
             divElement.css('font-size',courentFontSize);
         }
     })
     </script>
     <script>
         document.addEventListener("DOMContentLoaded", function(event) {

// Uses sharer.js
//  https://ellisonleao.github.io/sharer.js/#twitter
             var url = window.location.href;
             var title = document.title;
             var subject = "Read this good article";
             var via = "yourTwitterUsername";
             //console.log( url );
             //console.log( title );

//facebook
             $('#share-wa').attr('data-url', url).attr('data-title', title).attr('data-sharer', 'whatsapp');
//facebook
             $('#share-fb').attr('data-url', url).attr('data-sharer', 'facebook');
             //twitter
             $('#share-tw').attr('data-url', url).attr('data-title', title).attr('data-via', via).attr('data-sharer', 'twitter');
             //linkedin
             $('#share-li').attr('data-url', url).attr('data-sharer', 'linkedin');
         });
     </script>


 {% endblock %}